<button
  class='btn-layout-insert-container btn-layout-container'
  type='button'
  ...attributes
>
  <svg
    width='30'
    height='20'
    viewBox='0 0 30 20'
    version='1.1'
    xmlns='http://www.w3.org/2000/svg'
    xmlns:svg='http://www.w3.org/2000/svg'
  >
    <g>
      <path
        class='btn-frame'
        style='opacity:0.999;stroke-width:0.791229;stroke-linecap:round;'
        d='M 15.997359,0.46937048 4.0485258,0.41745148 C 1.0613175,0.513918 0.49386943,2 0.45739662,4 l -4.6003e-4,12 c 0.001147,2 1.63927341,3.586079 3.59158921,3.624642 L 15.997359,19.597081 C 19.980303,19.547995 19.980303,11.509934 23.963248,10 19.980303,8.4529994 19.980303,0.4855851 15.997359,0.46937048 Z'
      ></path>
      <path
        style='stroke-width:0.978365px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1'
        d='M 23.803075,9.97734 29.937664,10'
        class='middle-line'
      ></path>
      <path
        class='plus-icon'
        d='m 15.567954,11.549138 -1.000646,-0.577837 c 0.101008,-0.544952 0.101008,-1.103999 0,-1.64895 l 1.000646,-0.577837 c 0.1151,-0.06577 0.166774,-0.202009 0.12919,-0.328852 C 15.436413,7.579443 14.992465,6.823088 14.412279,6.193574 14.323019,6.097264 14.177386,6.073778 14.064637,6.139544 L 13.063992,6.717381 C 12.643534,6.355646 12.159654,6.076123 11.635842,5.892906 V 4.73958 c 0,-0.131539 -0.09161,-0.246637 -0.220799,-0.274825 -0.862059,-0.192611 -1.7452575,-0.183216 -2.565035,0 C 8.720817,4.492945 8.6292084,4.608041 8.6292084,4.73958 V 5.895255 C 8.1077452,6.080821 7.6238653,6.360344 7.2010569,6.719731 L 6.2027607,6.141893 C 6.0876648,6.076123 5.944378,6.097263 5.8551193,6.195923 5.2749323,6.823089 4.8309854,7.579444 4.5702535,8.418013 c -0.039932,0.126842 0.014097,0.26308 0.1291916,0.32885 L 5.7000892,9.3247 c -0.1010027,0.544953 -0.1010027,1.103997 0,1.648951 l -1.0006441,0.577836 c -0.1150982,0.06577 -0.1667739,0.202008 -0.1291916,0.32885 0.2607319,0.836221 0.7046788,1.592577 1.2848658,2.222091 0.089258,0.0963 0.2348928,0.119794 0.3476414,0.05403 l 1.0006454,-0.577837 c 0.4204592,0.361736 0.9043391,0.641258 1.4281508,0.824474 v 1.155675 c 0,0.13154 0.091609,0.246638 0.2207989,0.274825 0.862059,0.192612 1.7452582,0.183216 2.5650352,0 0.129191,-0.02818 0.2208,-0.143285 0.2208,-0.274825 v -1.155675 c 0.521463,-0.185565 1.005343,-0.465087 1.428149,-0.824474 l 1.000646,0.577837 c 0.1151,0.06577 0.258383,0.04463 0.347642,-0.05403 0.580187,-0.627166 1.024133,-1.383521 1.284866,-2.222091 0.03523,-0.12919 -0.01645,-0.265429 -0.13154,-0.331199 z m -5.435429,0.476833 c -1.0358803,0 -1.8791456,-0.843266 -1.8791456,-1.879144 0,-1.03588 0.8432653,-1.879147 1.8791456,-1.879147 1.035879,0 1.879146,0.843267 1.879146,1.879147 0,1.035878 -0.843267,1.879144 -1.879146,1.879144 z'
        id='path1386'
        style='stroke-width:0.0234893;'
      ></path>
    </g>
  </svg>
</button>