<div class='input-layout'>
  {{#each @containers as |container index|}}
    <div class='container-settings'>
      <Input::Layout::InsertContainerBtn
        class='btn-add-container btn-add-container-{{index}}'
        {{on 'click' (fn this.addContainerBefore index)}}
      />
      <br />
      <Input::Layout::ConfigContainerBtn
        class='btn-config-container btn-config-container-{{index}}'
        {{on 'click' (fn this.configContainer index)}}
      />
      <br />
      <Input::Layout::RemoveContainerBtn
        class='btn-remove-container btn-remove-container-{{index}}'
        {{on 'click' (fn this.removeContainer index)}}
      />
    </div>

    <div
      class='{{container.cls}}
        {{this.deviceSizeClass}}
        {{if container.cls "" "container"}}
        {{if (eq index this.selectedContainer) "selected"}}'
    >
      <Input::Layout::Rows
        @rows={{container.rows}}
        @onLayoutChange={{fn this.onLayoutChange index}}
        @onColSelect={{fn this.onColSelect index}}
        @onRowSelect={{fn this.onRowSelect index}}
        @onRowEdit={{fn this.onRowEdit index}}
      />
    </div>
  {{/each}}

  <div class='container-settings {{if @containers.length "" "empty"}}'>
    {{#if @containers.length}}
      <Input::Layout::InsertContainerBtn
        class='btn-add-container btn-add-container-{{@containers.length}}'
        {{on 'click' this.addContainerEnd}}
      />
    {{else}}
      <button
        class='btn btn-outline-primary btn-add-container btn-add-first-container m-auto'
        type='button'
        {{on 'click' this.addContainerEnd}}
      >
        <FaIcon @icon='plus' />
        {{capitalize (t 'container')}}
      </button>
    {{/if}}
  </div>
</div>