<div class='btn-group'>
  <button
    type='button'
    class='btn btn-sm
      {{if (eq @value "desktop") "btn-secondary" "btn-outline-secondary"}}
      btn-desktop'
    {{on 'click' (fn this.select 'desktop')}}
  >
    <FaIcon @icon='desktop' />
  </button>
  <button
    type='button'
    class='btn btn-sm
      {{if (eq @value "tablet") "btn-secondary" "btn-outline-secondary"}}
      btn-tablet'
    {{on 'click' (fn this.select 'tablet')}}
  >
    <FaIcon @icon='tablet' />
  </button>
  <button
    type='button'
    class='btn btn-sm
      {{if (eq @value "mobile") "btn-secondary" "btn-outline-secondary"}}
      btn-mobile'
    {{on 'click' (fn this.select 'mobile')}}
  >
    <FaIcon @icon='mobile' />
  </button>
</div>