<button
  class='btn-layout-insert-row btn-layout-row'
  type='button'
  ...attributes
>
  <svg width='30' height='20' viewBox='0 0 30 20' version='1.1'>
    <g>
      <path
        class='btn-frame'
        style='opacity:1;stroke-width:0.792921;stroke-linecap:round;'
        d='m 14,0.46937048 12,-0.051919 C 29,0.513918 29.569878,2 29.606507,4 l 4.62e-4,12 C 29.605817,18 27.960676,19.586079 26,19.624642 L 14,19.597081 C 10,19.547995 10,11.509934 6,10 10,8.4529994 10,0.4855851 14,0.46937048 Z'
      ></path>
      <path
        style='stroke-width:0.980458px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1'
        d='M 6.1608591,9.97734 0,10'
        class='middle-line'
      ></path>
      <g
        aria-label='+'
        style='font-size:18.6667px;line-height:1.25;letter-spacing:0px;word-spacing:0px'
        transform='translate(-0.22111561,-0.16296864)'
        class='plus-icon'
      >
        <path
          d='m 20.761906,4.2086657 v 5.0768321 h 5.076832 V 10.83498 h -5.076832 v 5.076832 H 19.230653 V 10.83498 H 14.153821 V 9.2854978 h 5.076832 V 4.2086657 Z'
        ></path>
      </g>
    </g>
  </svg>
</button>