{{#each @rows as |row index|}}
  <div
    class='row-layout-settings
      {{if
        (or (eq this.editingStartEdge index) (eq this.editingEndEdge index))
        "show"
      }}'
  >
    <div class='add-row-container'>
      <Input::Layout::InsertRowBtn
        class='btn-add-row btn-add-row-{{index}}'
        {{on 'click' (fn this.addRowBefore index)}}
      />
    </div>

    <div
      class='row-button-group'
      {{on 'click' (fn this.rowEdit index) capture=true}}
    >
      <Input::Layout::ConfigRowBtn
        class='btn-edit-row btn-edit-row-{{@rows.length}}'
      />
    </div>
  </div>

  <div
    class='row
      {{col-size-limit this.size row.cls}}
      row-selectable
      {{if (eq this.editingStartEdge index) "row-selected"}}'
    {{on 'click' (fn this.enableRowEdit index) capture=true}}
  >
    <Input::Layout::Cols
      @size={{this.size}}
      @cols={{row.cols}}
      @onLayoutChange={{fn this.colsChange index}}
      @onSelect={{fn this.selectCol index}}
      @selected={{if (eq index this.editingStartEdge) this.selectedCol}}
    />
  </div>
{{/each}}

<div class='resize-observer' {{did-insert this.setupResizeObserver}}></div>
<div
  class='row-layout-settings
    {{if (eq this.editingEndEdge @rows.length) "show"}}'
>
  <div class='add-row-container'>
    <Input::Layout::InsertRowBtn
      class='btn-add-row btn-add-row-{{@rows.length}}'
      {{on 'click' this.addRowEnd}}
    />
  </div>
</div>

{{#unless @rows.length}}
  <div class='add-row-container empty'>
    <button
      class='btn btn-outline-primary btn-add-row btn-add-first-row m-auto'
      type='button'
      {{on 'click' this.addRowEnd}}
    >
      <FaIcon @icon='plus' />
      {{capitalize (t 'row')}}
    </button>
  </div>
{{/unless}}