<div
  class='attributes-form'
  ...attributes
  {{did-insert this.setupFeature}}
  {{did-update this.setupFeature @areMapsLoading @areIconsLoading @feature}}
>
  <ResponsiveView as |isSmall|>
    {{#if isSmall}}
      <Attributes::GroupMap
        @positionService={{this.position}}
        @position={{@feature.position}}
        @details={{this.positionDetails}}
        @searchResults={{@searchResults}}
        @baseMaps={{@defaultBaseMaps}}
        @onChange={{@changePosition}}
        @onSearch={{@onSearchGeocoding}}
      />
      <Attributes::GroupPositionDetails
        @positionService={{this.position}}
        @position={{@feature.position}}
        @details={{this.positionDetails}}
        @onChange={{@changePosition}}
        @searchResults={{@searchResults}}
      />
      <Attributes::GroupAbout
        @feature={{@feature}}
        @maps={{@maps}}
        @onChange={{@onChange}}
        @areMapsLoading={{@areMapsLoading}}
      />
      <Attributes::GroupPictures
        @pictures={{@feature.pictures}}
        @onChange={{@onChange}}
      />
      <Attributes::GroupIcons
        @feature={{@feature}}
        @icons={{@icons}}
        @onChange={{@onChange}}
        @isSmall={{true}}
        @areIconsLoading={{@areIconsLoading}}
      />

      {{#each this.attributes.groups as |group|}}
        {{yield group isSmall}}
      {{/each}}
    {{else}}
      <div class='row'>
        <div class='col'>
          <Attributes::GroupMap
            @positionService={{this.position}}
            @position={{@feature.position}}
            @details={{this.positionDetails}}
            @searchResults={{@searchResults}}
            @baseMaps={{@defaultBaseMaps}}
            @onChange={{@changePosition}}
            @onSearch={{@onSearchGeocoding}}
          />
        </div>

        <div class='col'>
          <Attributes::GroupPositionDetails
            @positionService={{this.position}}
            @position={{@feature.position}}
            @details={{this.positionDetails}}
            @onChange={{@changePosition}}
            @searchResults={{@searchResults}}
          />
          <Attributes::GroupAbout
            @feature={{@feature}}
            @maps={{@maps}}
            @onChange={{@onChange}}
            @areMapsLoading={{@areMapsLoading}}
          />
        </div>
      </div>

      <div class='row'>
        <div class='col'>
          <Attributes::GroupPictures
            @pictures={{@feature.pictures}}
            @onChange={{@onChange}}
          />
        </div>
      </div>

      <div class='row'>
        <div class='col'>
          <Attributes::GroupIcons
            @feature={{@feature}}
            @icons={{@icons}}
            @onChange={{@onChange}}
            @areIconsLoading={{@areIconsLoading}}
          />
        </div>
      </div>

      <div class='row'>
        {{#each this.iconAttributes as |item|}}
          <div class='col-6 col-lg-4'>
            {{yield item isSmall}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </ResponsiveView>
</div>