<div class="group-container group-icons" ...attributes>
  <Attributes::Group @group={{this.group}}>
    <div class="attributes-icons">
      <Input::Icons::List @icons={{@icons}} @value={{@feature.icons}} @onChange={{this.change}} />
    </div>
  </Attributes::Group>
</div>
