<div class="group-container group-pictures" ...attributes>
  <Attributes::Group @group={{this.group}}>
    <div class="attributes-pictures">
      <Input::ImageList @value={{@pictures}} @createImage={{this.createImage}} @onChange={{this.change}}/>
    </div>

    <div class="card-footer">
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="{{this.elementId}}-optimize" onchange={{this.optimizeChange}}>

        <label class="form-check-label" for="{{this.elementId}}-optimize">
          {{t "downscale images for faster upload"}}
        </label>
      </div>
    </div>
  </Attributes::Group>
</div>