<Attributes::Group @group={{this.group}}>
  <div
    class='attributes-position'
    {{did-update this.updateCenter @position @position.center}}
  >
    <div class='map-container {{if this.editMode "fullscreen" "view-mode"}}'>
      <Map::Plain
        @disabled={{not this.editMode}}
        @firstCenter={{this.center}}
        as |map|
      >
        <Map::View
          @map={{map}}
          @extentM={{this.mapExtent}}
          @centerM={{@position.coordinates}}
          @onChangeCenter={{fn this.updatePosition map}}
        />

        <Map::Interaction::DoubleClickZoom
          @map={{map}}
          @duration={{150}}
          @delta={{1}}
        />
        <Map::Layer::Base @map={{map}} @value={{this.selectedBaseMap}} />

        {{#if this.editMode}}
          {{#if @extent}}
            <Map::Layer::Vector
              @style={{this.extentStyle}}
              @map={{map}}
              as |vector source|
            >
              <Map::Features::Geojson::Polygon
                @source={{source}}
                @value={{@extent}}
              />
            </Map::Layer::Vector>

            <Map::Layer::Overlay
              @map={{map}}
              @position={{this.extentLabelPosition}}
              @positioning='bottom-center'
              class='map-extent-name'
            >
              {{@extentName}}
            </Map::Layer::Overlay>
          {{/if}}

          <Map::MapCenterMarker @message={{t 'message-map-marker-move'}} />

          <Map::Container @left={{true}} @top={{true}}>
            <Input::Search
              @onSearch={{this.search}}
              @hasResults={{@searchResults}}
            >
              {{#each @searchResults as |result|}}
                <button
                  type='button'
                  class='list-group-item list-group-item-action'
                  aria-current='true'
                  {{on 'click' (fn this.selectResult result)}}
                >
                  {{result.name}}
                </button>
              {{/each}}
            </Input::Search>
          </Map::Container>

          <Map::Container @right={{true}} @top={{true}}>
            <button
              class='btn btn-secondary btn-dismiss'
              type='button'
              {{on 'click' this.dismiss}}
            >
              <FaIcon @icon='times' />
            </button>
          </Map::Container>

          <Map::Container @left={{true}} @bottom={{true}}>
            <button
              class='btn btn-primary btn-submit'
              type='button'
              {{on 'click' this.confirm}}
            >
              {{capitalize (t 'save the pin location')}}
            </button>
          </Map::Container>

          <Map::Container @right={{true}} @bottom={{true}}>
            <Map::Controls
              @localizationEnabled={{not this.position.isError}}
              @onLocalize={{this.localize}}
              @map={{map}}
            />
            <Map::BaseMapSelect
              @list={{@baseMaps}}
              @selected={{this.selectedBaseMap}}
              @onSelect={{this.selectBaseMap}}
            />
          </Map::Container>
        {{else if this.hasValidPosition}}
          <Map::Layer::Overlay
            @map={{map}}
            @position={{@position.coordinates}}
            @positioning='bottom-center'
            class='map-marker ol-point'
          >
            <FaIcon @icon='map-marker-alt' @size='3x' />
          </Map::Layer::Overlay>
        {{/if}}
      </Map::Plain>

      {{#unless this.editMode}}
        <div
          {{on 'click' this.edit}}
          class='picker-options d-flex justify-content-around align-content-center flex-column'
        >
          <div class='m-auto'>
            {{t 'pick a location on the map'}}
          </div>
        </div>
      {{/unless}}
    </div>

    <button
      class='list-group-item list-group-item-action btn-edit'
      type='button'
      {{on 'click' this.edit}}
    >
      <FaIcon @icon='pen' />
      {{t 'pick a location on the map'}}
    </button>
  </div>
</Attributes::Group>