<div ...attributes class="attribute-group card mt-3 shadow-sm border-bottom-0 {{if this.isPosition "card-position"}} {{if this.isIconList "icon-list"}}">
  <div class="card-header">
    {{#if @group.icon.image}}
      <img src={{@group.icon.image.value}} class="icon pe-2" alt={{@group.name}}>
    {{/if}}

    {{#if @group.indexed}}
      {{@group.order}}.
    {{/if}}

    <strong class="capitalize-first-letter">
      {{#if @group.name}}
        {{@group.name}}
      {{/if}}
    </strong>

    {{#if @group.isLoading}}
      <FaIcon @icon="spinner" @spin={{true}} />
    {{/if}}

    {{#if @group.validationMessage}}
      <div class="float-end text-danger icon-validation-error" {{did-insert this.createValidationPopover}}>
        <FaIcon @icon="exclamation-triangle" />
      </div>
    {{/if}}

    {{#if (and @group.canBeRemoved @remove)}}
      <button type="button" class="btn btn-outline-danger btn-delete float-end close" aria-label="Remove" {{on "click" (fn this.remove @group.key @group.index)}}>
        <FaIcon @icon="trash" />
      </button>
    {{/if}}
  </div>

  <div class="card-body p-0 card-{{this.className}}">
    {{yield}}
  </div>
</div>
