<div
  class='group-container group-position'
  {{did-insert this.setupPositionTimer}}
>
  <Attributes::Group @group={{this.group}}>
    {{#if this.hasPosition}}
      <div class='attributes-position'>
        <div class='map-container {{if this.editMode 'fullscreen'}}'>
          <Map::Plain
            @disabled={{not this.editMode}}
            @firstCenter={{this.center}}
            as |map|
          >
            <Map::View
              @map={{map}}
              @extentM={{this.mapExtent}}
              @centerM={{@position.coordinates}}
              @onChangeCenter={{fn this.changeMapView map}}
            />

            <Map::Layer::Base @map={{map}} @value={{this.selectedBaseMap}} />

            {{#unless this.hasInvalidPosition}}
              <Map::Layer::Point
                @map={{map}}
                @position={{@position.coordinates}}
              />
            {{/unless}}

            {{#if this.editMode}}
              <Map::Container @right={{true}} @bottom={{true}}>
                <Map::Controls
                  @localizationEnabled={{not this.position.isError}}
                  @onLocalize={{this.localize}}
                  @map={{map}}
                />
                <Map::BaseMapSelect
                  @list={{this.baseMaps}}
                  @selected={{this.selectedBaseMap}}
                  @onSelect={{this.selectBaseMap}}
                />
              </Map::Container>
            {{/if}}
          </Map::Plain>

          {{#if this.editMode}}
            <div class='cross' {{did-insert this.updateMapSize}}>
              <SvgCross @color1='#ffffff' @color2='#333333' />
            </div>

            <div class='map-inner'>
              <Map::Container @right={{true}} @top={{true}}>
                <button
                  class='btn btn-secondary btn-dismiss'
                  type='button'
                  {{on 'click' this.dismiss}}
                >
                  <FaIcon @icon='times' />
                </button>
              </Map::Container>

              <Map::Container @left={{true}} @bottom={{true}}>
                <button
                  class='btn btn-primary btn-submit'
                  type='button'
                  {{on 'click' this.confirm}}
                >
                  Continue
                </button>
              </Map::Container>
            </div>
          {{else}}
            <button
              class='btn btn-success btn-edit'
              type='button'
              {{on 'click' this.edit}}
              {{did-insert this.updateMapSize}}
            >
              <FaIcon @icon='pen' />
            </button>
          {{/if}}
        </div>

        {{#unless this.editMode}}
          <div>
            {{#if this.showDetails}}
              <ul class='list-group list-group-flush list-position-group'>
                {{#if this.position.hasGeoLocationPosition}}
                  <Attributes::Value
                    @key='capturedUsingGPS'
                    @name={{t 'capture using GPS'}}
                    @value={{this.capturedUsingGPS}}
                    @format='boolean-required'
                    @onChange={{this.change}}
                  />
                {{/if}}

                <Attributes::Value
                  @key='longitude'
                  @name={{t 'longitude'}}
                  @value={{this.longitude}}
                  @format='number'
                  @onChange={{this.change}}
                  @disabled={{this.capturedUsingGPS}}
                />
                <Attributes::Value
                  @key='latitude'
                  @name={{t 'latitude'}}
                  @value={{this.latitude}}
                  @format='number'
                  @onChange={{this.change}}
                  @disabled={{this.capturedUsingGPS}}
                />
                <Attributes::Value
                  @key='altitude'
                  @name={{t 'altitude'}}
                  @value={{this.altitude}}
                  @format='number'
                  @onChange={{this.change}}
                  @disabled={{this.capturedUsingGPS}}
                />
                <Attributes::Value
                  @key='accuracy'
                  @name={{t 'accuracy'}}
                  @value={{this.accuracy}}
                  @format='number'
                  @onChange={{this.change}}
                  @disabled={{this.capturedUsingGPS}}
                />
                <Attributes::Value
                  @key='altitudeAccuracy'
                  @name={{t 'altitude accuracy'}}
                  @value={{this.altitudeAccuracy}}
                  @format='number'
                  @onChange={{this.change}}
                  @disabled={{this.capturedUsingGPS}}
                />
              </ul>
            {{/if}}

            <button
              type='button'
              class='list-group-item list-group-item-action border-top-0 border-bottom btn-expand capitalize-first-letter'
              {{on 'click' this.toggleDetails}}
            >
              {{#if this.showDetails}}
                <FaIcon @icon='chevron-up' />
                {{t 'hide details'}}
              {{else}}
                <FaIcon @icon='chevron-down' />
                {{t 'show details'}}
              {{/if}}
            </button>
          </div>
        {{/unless}}
      </div>
    {{/if}}
  </Attributes::Group>
</div>