<div class="group-container group-about" ...attributes>
  <Attributes::Group @group={{this.group}}>
    <div class="attributes-about">
      <ul class="list-group list-group-flush list-about-group">
        <Attributes::Value @key="map" @name={{t "map"}} @value={{this.map}} @maps={{@maps}} @format="map list" @onChange={{this.changeMap}} @isLoading={{@areMapsLoading}} />
        <Attributes::Value @key="name" @name={{t "name"}} @value={{this.name}} @format="text" @onChange={{this.change}} />
        <Attributes::Value @key="description" @name={{t "description"}} @value={{this.description}} @format="long text" @onChange={{this.change}} />
      </ul>
    </div>
  </Attributes::Group>
</div>
