<ul class="list-group list-group-flush" ...attributes>
  {{#each @group.list as | attribute |}}
    <Attributes::Value
      @name={{attribute.name}}
      @key={{attribute.key}}
      @value={{attribute.value}}
      @help={{attribute.help}}
      @isLoading={{attribute.isLoading}}
      @format={{attribute.format}}
      @options={{attribute.options}}
      @maps={{@maps}}
      @group={{@group}}
      @onChange={{@onChange}}
      @isRequired={{attribute.isRequired}} />
  {{/each}}
</ul>
