<div class="value-long-text">
  {{#if @disabled}}
    <div class="pb-2 pt-2 ps-3">
      {{@value}}
    </div>
  {{else}}
    <Input::SimpleMde
        @value={{@value}}
        @showTextOperation={{false}}
        @showHeadingOperation={{false}}
        @showBlockOperation={{false}}
        @showInsert={{false}}
        @showUtilities={{false}}
        @onChange={{this.updateValue}}
        @onFocusIn={{@onFocusIn}}
        @onFocusOut={{@onFocusOut}}
      />
  {{/if}}
</div>