<div class="value-boolean">
  {{#if @disabled}}
    <div class="pb-2 pt-2 ps-3">
      {{this.value}}
    </div>
  {{else}}
    <div class="btn-group d-flex pt-2" role="group" aria-label="Basic example">
      <button {{on "click" this.setTrue}} type="button" class="btn btn-true {{if this.isTrue "btn-secondary" "btn-outline-secondary"}} rounded-0 border-bottom-0 border-left-0 capitalize-first-letter">
        {{t "yes"}}
      </button>

      <button {{on "click" this.setFalse}} type="button" class="btn btn-false {{if this.isFalse "btn-secondary" "btn-outline-secondary"}} rounded-0 border-bottom-0 border-right-0 capitalize-first-letter">
        {{t "no"}}
      </button>

      {{#unless @required}}
        <button {{on "click" this.setUnknown}} type="button" class="btn btn-unknown {{if this.isUnknown "btn-secondary" "btn-outline-secondary"}} rounded-0 border-bottom-0 border-right-0 capitalize-first-letter">
          {{t "unknown"}}
        </button>
      {{/unless}}
    </div>
  {{/if}}
</div>
