<li
  class='list-group-item p-0 attribute-value mb-0
    {{if this.hasFocus 'has-focus'}}'
  ...attributes
  {{did-update this.resetValue @value}}
>
  {{#if this.isLoading}}
    <span class='float-end pe-2 pt-1 m-0'>
      <FaIcon @icon='spinner' @spin={{true}} @size='xs' />
    </span>
  {{/if}}

  <span
    class='input-group-text border-0 bg-transparent
      {{if this.disabled 'text-muted' 'text-success'}}
      pb-0 ps-3'
  >
    {{#if @name}}
      {{@name}}
    {{else if @key}}
      {{@key}}
    {{/if}}
    {{#if @isRequired}}
      <span class="text-danger">*</span>
    {{/if}}
  </span>

  {{#if @help}}
    <span
      class='input-group-help border-0 bg-transparent text-secondary pt-0 pb-0 ps-3'
    >
      {{@help}}
    </span>
  {{/if}}

  {{! template-lint-disable require-input-label }}
  {{#if (eq @format 'boolean')}}
    <Attributes::ValueBoolean
      @value={{this.tmpValue}}
      @onChange={{this.change}}
    />
  {{else if (eq @format 'boolean-required')}}
    <Attributes::ValueBooleanRequired
      @value={{this.tmpValue}}
      @onChange={{this.change}}
    />
  {{else if (eq @format 'long text')}}
    <Attributes::ValueLongText
      @value={{this.tmpValue}}
      @onFocusIn={{this.focusIn}}
      @onFocusOut={{this.longTextFocusOut}}
      @onChange={{this.change}}
    />
  {{else if (eq @format 'map list')}}
    <Attributes::ValueMapList
      @value={{this.tmpValue}}
      @options={{@maps}}
      @onFocusIn={{this.focusIn}}
      @onFocusOut={{this.focusOut}}
      @onChange={{this.change}}
    />
  {{else if (eq @format 'options')}}
    <Attributes::ValueOptions
      @value={{this.tmpValue}}
      @options={{@options}}
      @onFocusIn={{this.focusIn}}
      @onFocusOut={{this.focusOut}}
      @onChange={{this.change}}
    />
  {{else if (eq @format 'options with other')}}
    <Attributes::ValueOptionsOther
      @value={{this.tmpValue}}
      @options={{@options}}
      @onFocusIn={{this.focusIn}}
      @onFocusOut={{this.focusOut}}
      @onChange={{this.change}}
    />
  {{else if (eq @format 'integer')}}
    <Attributes::ValueInteger
      @value={{this.tmpValue}}
      @focus-in={{this.focusIn}}
      @focus-out={{this.focusOut}}
      @onChange={{this.change}}
    />
  {{else}}
    {{#if this.disabled}}
      <div class='pb-2 pt-2 ps-3 value-read-only'>
        {{this.tmpValue}}
      </div>
    {{else}}
      <Input
        class='form-control border-0 bg-transparent form-control-lg pt-1 ps-3 rounded-0'
        @value={{this.tmpValue}}
        {{on 'focusin' this.focusIn}}
        {{on 'focusout' this.focusOut}}
        {{on 'change' this.changeInput}}
      />
    {{/if}}
  {{/if}}
</li>
