<div class='card campaign-card'>
  <div
    class='cover'
    style={{this.style}}
    {{on 'click' this.transitionToCampaign}}
  ></div>

  <div class='card-title'>
    {{#if @campaign.canEdit}}
      <div
        class='campaign-options {{if this.isAdminView 'is-open'}}'
        {{did-insert this.setupOptions}}
      >
        <div class='float-end'>
          <button
            type='button'
            class='btn btn-white btn-extend ps-0 pe-0
              {{if this.isAdminView 'rotate'}}'
            {{on 'click' this.showAdmin}}
          >
            <FaIcon @icon='ellipsis-h' />
          </button>
        </div>

        <div class='dropdown-menu {{if this.isAdminView 'd-block'}}'>
          <Browse::Campaign::Options @campaign={{@campaign}} @onDelete={{@onDelete}}/>
        </div>
      </div>
    {{/if}}

    <LinkTo
      @route='campaigns.campaign'
      @model={{@campaign.id}}
      class='text-decoration-none name'
      {{did-insert this.linkSetup}}
    >
      {{@campaign.name}}
    </LinkTo>

    <VisibilityIcon @value={{@campaign.visibility.isPublic}} />
  </div>
</div>