<LinkTo @route="manage.campaigns.edit" @model={{@campaign.id}} class="dropdown-item dropdown-item-edit">
  <FaIcon @icon="pencil-alt" /> {{capitalize (t "edit-label")}}
</LinkTo>

{{#if @onDelete}}
  <div class="dropdown-divider"></div>
  <Manage::DeleteButton
      class="dropdown-item dropdown-item-delete text-start btn-delete text-danger"
      @onDelete={{this.onDelete}}
      @modelName="campaign"
      @name={{@campaign.name}}
    />
{{/if}}
