.cross {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  text-align: center;
  pointer-events: none;

  transition: all ease-in-out 1s;

  align-items: center;

  svg {
    max-width: 50%;
  }

  &.visible {
    opacity: 1;
  }
}