.ol-map-plain {
  width: 100%;
  height: 100%;

  position: relative;

  &.disabled {
    pointer-events: none;
  }
}

.map-container,
.ol-map-plain {
  background-color: $gray-300;

  .map-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    pointer-events: none;
  }
}

.map-container.fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
  z-index: 9999;
  margin: 0 !important;
}
