<div class="card team-card mb-4" ...attributes>
  <CardCover @pictures={{this.pictures}} @size="sm" @onClick={{this.click}} />

  <div class="card-body">
    <div class="team-name mt-3 text-center">
      <LinkTo @route="browse.teams.team" @model={{@team.id}} class="text-decoration-none">
        {{@team.name}}
      </LinkTo>

      <VisibilityIcon @value={{@team.isPublic}} />
    </div>

    <div class="text-center">
      <div class="team-member-count">
        {{t "team-member-count" count=this.memberCount}}
      </div>

      {{#if this.guestCount}}
        <div class="team-guest-count">
          {{t "team-guest-count" count=this.guestCount}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
