.simple-mde {
  .editor-container {
    position: relative;
  }

  &.is-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 999999;
    background-color: $white;

    .editor-container, .editor-preview {
      flex: 1 1 auto !important;
    }

    .CodeMirror {
      border: 0;
      padding: 0;

      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }
  }
}