<div class='article' {{did-insert this.setupArticle}}>
  <PageCol::Blocks @value={{this.article.contentBlocks}} />

  {{#if this.article.canEdit}}
    <div class='edit'>
      <LinkTo
        @route='manage.articles.edit'
        @model={{this.article.id}}
        class='btn btn-link btn-edit px-0'
      >
        <FaIcon @icon='pencil-alt' />
        {{t 'edit article'}}
      </LinkTo>
    </div>
  {{/if}}
</div>