<div class='article-preview' {{did-insert this.setupArticle}}>
  {{#if this.article.title}}
    <h1>
      {{this.article.title}}
    </h1>
  {{/if}}

  <Article::FirstParagraph @contentBlocks={{this.article.contentBlocks}} />

  {{#if this.article.canEdit}}
    <div class='edit'>
      <LinkTo
        @route='manage.articles.edit'
        @model={{this.article.id}}
      >
        <FaIcon @icon='pencil-alt' />
        {{t 'edit-article-label'}}
      </LinkTo>
    </div>
  {{/if}}
</div>