<div
  class='page-col-banner d-flex flex-wrap align-items-stretch justify-content-between side-picture-mobile-{{@value.data.sidePictureMobile}}
    {{if this.headingPictureStyle 'has-heading-picture'}}
    {{if this.sidePictureStyle 'has-side-picture'}}'
  {{did-insert this.setupPictures}}
  {{did-update this.setupPictures @value}}
>
  <div class='heading-content'>
    {{#if @value.data.heading}}
      <h1
        class='display-3'
        style={{this.headingPictureStyle}}
      >{{@value.data.heading}}</h1>
    {{/if}}

    {{#if @value.data.subHeading}}
      <h2>{{@value.data.subHeading}}</h2>
    {{/if}}

    <PageCol::Blocks @value={{@value.data.description}} />

    {{#if this.isInternalLink}}
      <a
        href={{this.buttonLink}}
        class='btn btn-outline-primary'
        {{on 'click' this.transitionToLink}}
      >
        {{@value.data.buttonLabel}}
      </a>
    {{else}}
      <a href={{this.buttonLink}} class='btn btn-outline-primary'>
        {{@value.data.buttonLabel}}
      </a>
    {{/if}}
  </div>

  {{#if this.sidePictureStyle}}
    <div class='side-picture' style={{this.sidePictureStyle}}>
    </div>
  {{/if}}
</div>