<div class='page-col-blocks {{this.cls}}'>
  <Article::Viewer
    ...attributes
    @preview={{@preview}}
    @value={{this.value}}
    as |value|
  >
    <PageCol::View @value={{value}} @preview={{@preview}} />
  </Article::Viewer>
</div>