<div
  class='page-col-campaigns view-campaigns row
    {{col-size-limit
      @deviceSize
      "row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4"
    }}
    g-4'
>
  {{#each this.buckets.columns as |bucket|}}
    {{#each bucket as |campaign|}}
      <div class='col'>
        <Browse::Campaign::Card
          @campaign={{campaign}}
          @onDelete={{this.deleteRecord}}
        />
      </div>
    {{/each}}
  {{/each}}

</div>

{{#if this.buckets.loadedAny}}
  <InfinityLoader
    @infinityModel={{this.buckets}}
    @hideOnInfinity={{true}}
    @triggerOffset={{400}}
    @eventDebounce={{50}}
  >
    <div class='text-center pb-5'>
      <FaIcon @icon='spinner' @spin={{true}} />
    </div>
  </InfinityLoader>
{{/if}}