<div
  class='page-col-icons'
  {{did-insert this.setup}}
  {{did-update this.setup @value}}
>
  <div
    class='row g-{{this.gutter}}
      row-cols-{{this.rowColSize}}
      browse-icon-list size-{{this.size}}'
  >
    {{#each this.records as |icon|}}
      <div class='col'>
        {{#if this.showCards}}
          <Browse::Icon::Card @icon={{icon}} />
        {{else}}
          <Icon @src={{icon}} @showLinks={{this.showLinks}} />
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>