<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>

    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        {{#each this.space.currentSpace.menu.items as |menuItem|}}

          <li class='nav-item'>
            {{#if menuItem.link.pageId}}
              <LinkTo
                @route='page'
                @model={{menuItem.link.pageId}}
                class='nav-link'
              >
                {{menuItem.name}}
              </LinkTo>
            {{/if}}

            {{#if menuItem.link.url}}
              <a href={{menuItem.link.url}} class='nav-link'>
                {{menuItem.name}}
              </a>
            {{/if}}
          </li>
        {{/each}}

      </ul>
    </div>
  </div>
</nav>