<div
  id={{this.elementId}}
  class='page-col-picture-list {{this.containerOptions}}'
  {{did-insert this.setup}}
>
  {{#each this.records as |picture|}}
    <img
      src='{{picture.picture}}/{{this.size}}'
      alt={{picture.name}}
      class={{this.options}}
    />
  {{/each}}
</div>

{{#if this.records}}
  <ResponsiveStyle
    @selector='#{{this.elementId}} img'
    @style={{this.properties}}
  />
{{/if}}