<div
  class='page-col-picture {{this.options}}'
  {{did-insert this.setupPicture}}
  {{did-update this.setupPicture @value}}
>
  {{#if this.picture.picture}}
    <img alt='picture-view' src='{{this.picture.picture}}/lg' />
  {{/if}}
</div>