<div class='page-col-preview'>
  {{#if this.hasPreview}}
    {{component this.componentPreview value=@value}}
  {{else if this.hasComponent}}
    {{component this.component value=@value}}
  {{/if}}
</div>