<div class='page-col h-100 {{if this.hasType "" "empty"}}'>
  {{#if this.hasType}}
    {{component
      (concat 'page-col/' this.type)
      value=@value
      model=@model
      options=@options
      preview=@preview
      deviceSize=@deviceSize
    }}
  {{/if}}

  {{#if (and (not this.hasType) @isEditor)}}
    {{t 'message-page-col-empty'}}
  {{/if}}
</div>