{{#if this.isDeleting}}
  <FaIcon @icon="spinner" @spin={{true}} />
  {{capitalize (t "manage-section.deleting" name=this.name)}}
{{else}}
  <FaIcon @icon="trash" />

  <span class="label">
    {{capitalize (t "delete")}}
  </span>
{{/if}}
