{{#if this.isEdit }}
  <button type="button" class="btn btn-secondary btn-cancel float-end" {{action "cancel"}} disabled={{this.fastboot.isFastBoot}}>
    {{capitalize (t "cancel")}}
  </button>

  <button type="button" class="btn btn-primary btn-save" {{action "save"}} disabled={{this.fastboot.isFastBoot}}>
    {{capitalize (t "save")}}
  </button>
{{else}}
  <button type="button" class="btn btn-outline-primary btn-edit" {{action "edit"}} disabled={{this.fastboot.isFastBoot}}>
    <FaIcon @icon="pen" /> {{capitalize (t "edit")}}
  </button>
{{/if}}