{{#if (and this.onDelete this.isEdit)}}
  <button type="button" class="btn btn-outline-danger btn-delete-group float-end" {{action "delete"}} >
    <FaIcon @icon="trash" />
  </button>
{{/if}}

{{#if this.icon}}
  <img src={{this.icon.image.value}} alt={{this.icon.name}}>
{{/if}}

{{yield this.icon}}