{{page-title "Gallery | " this.model.team.name }}

<div class="main-container">
  {{#if this.arePicturesLoaded}}
    <div class="team-gallery">
      <div class="close p-3">
        <LinkTo @route="browse.teams.team" @model={{this.model.team.id}}>
          <FaIcon @icon="times" @size="2x" />
        </LinkTo>
      </div>

      <Swiper>
        {{#each this.pictures as |picture|}}
          <div class="swiper-slide">
            <div style={{picture}} class="picture"></div>
          </div>
        {{/each}}
      </Swiper>
    </div>
  {{/if}}
</div>