<div class='content-scroll search-results'>
  <div class='wrapper'>
    <div class='p-4'>

      {{#unless this.hasData}}
        <h5 class='no-data text-info'>
          {{t 'spotlight-not-data-found'}}
        </h5>
      {{/unless}}

      {{#each-in this.icons as |name icons|}}
        <h5 class='mt-4 icon-set-title'>
          {{name}}
        </h5>

        <Filters::IconSelector
          @onSelect={{this.onSelectIcon}}
          @onDeselect={{this.onDeselectIcon}}
          @icons={{icons}}
          @value={{this.parent.selectedIconList}}
        />

        <LinkTo
          @route='browse.maps.map-view.icon-set'
          @model={{icons.firstObject.iconSet.id}}
          class='btn-view-all-icons mt-2'
          data-always-inside='true'
        >
          {{capitalize (t 'view more')}}
        </LinkTo>

      {{/each-in}}
    </div>
  </div>
</div>