<li class="nav-item dropdown" ...attributes {{did-insert this.setup}}>
  <button class="btn btn-link nav-link dropdown-toggle {{if @isActive "active"}}" type="button" role="button" {{on "click" this.show}} >
    {{#if @icon}}
      <FaIcon @icon={{@icon}} @fixedWidth={{true}} />
    {{/if}}
    {{@text}}
  </button>

  <div class="dropdown-menu {{if this.showingOptions "show"}}" {{on "click" this.handleClick}}>
    {{yield}}
  </div>
</li>