{{#if (and (not this.hasFailedIcon) (not this.isLoading) this.hasIcon)}}
  {{#if @showLinks}}
    <LinkTo @route='browse.sites.index' @query={{hash icon=@src.id}}>
      <img
        src={{this.image.value}}
        class='icon'
        data-placement='bottom'
        title={{this.name}}
        alt={{this.name}}
        {{did-insert this.setupTooltip}}
        {{will-destroy this.destroyTooltip}}
      />
    </LinkTo>
  {{else}}
    <img
      src={{this.image.value}}
      class='icon'
      data-placement='bottom'
      title={{this.name}}
      alt={{this.name}}
      {{did-insert this.setupTooltip}}
      {{will-destroy this.destroyTooltip}}
    />
  {{/if}}
{{/if}}

{{#if this.hasFailedIcon}}
  <span class='text-danger'>
    <FaIcon @icon='question-circle' />
  </span>
{{/if}}

{{#if this.isLoading}}
  <div class='spinner-grow text-secondary loading-icon' role='status'>
    <span class='sr-only'>Loading...</span>
  </div>
{{/if}}