{{#each this.rows as |row|}}
  <div class='row {{row.cls}}'>
    <LayoutCols
      @selectable={{@selectable}}
      @onSelect={{this.select}}
      @cols={{row.cols}}
      @layout={{row.layout}}
      as |value|
    >
      {{yield value}}
    </LayoutCols>
  </div>
{{/each}}