{{#each this.containers as |containerWithOptions index|}}
  <div class={{containerWithOptions.options.cls}}>
    {{#if @selectable}}
      <div class='input-layout'>
        <div class='container-settings'>
          <Input::Layout::ConfigContainerBtn
            class='btn-config-container btn-config-container-{{index}}'
            {{on 'click' (fn this.configContainer index)}}
          />
        </div>
      </div>
    {{/if}}
    <div class={{containerWithOptions.layout.cls}}>
      <LayoutRows
        @selectable={{@selectable}}
        @onSelect={{this.selectCol}}
        @layout={{containerWithOptions.layout.rows}}
        @container={{index}}
        @cols={{@cols}}
        as |value|
      >
        {{yield value}}
      </LayoutRows>
    </div>
  </div>
{{/each}}