{{#each this.cols as |col index|}}
  <div
    class='col
      {{col.cls}}
      {{get @layout (concat index ".cls")}}
      {{if @selectable "col-selectable"}}'
    {{on 'click' (fn this.select col)}}
  >
    {{yield col}}
  </div>
{{/each}}

<div
  class='d-none'
  {{did-insert this.setup}}
  {{did-update this.setup @cols}}
></div>