<div class='presentation-slider' {{did-insert this.setupFirstPage}}>
  {{#if @hasIntro}}
    <Slides::WelcomeIntro
      class='page {{if (eq this.selectedPage -1) 'current'}}'
      @isCurrent={{eq this.selectedPage -1}}
      @timeout={{@introTimeout}}
      @onReady={{this.nextPage}}
    />
  {{/if}}

  <div class='presentation-article d-none d-md-flex'>
    <div class='article-container'>
      {{#each this.slides as |slide index|}}
        <div
          class='page article-page article-page-{{index}}
            {{if (eq index this.selectedPage) 'current'}}'
        >
          <PageCol::View @value={{slide.article}} />
        </div>
      {{/each}}
    </div>

    <div
      class='controls justify-content-between
        {{if (eq this.selectedPage this.slides.length) 'd-none'}}
        {{if (eq this.selectedPage -1) 'd-none'}}'
    >
      <button
        class='btn-prev btn btn-light'
        type='button'
        {{on 'click' this.prevPage}}
      >
        <FaIcon @icon='angle-left' />
      </button>

      {{#if this.slides.length}}
        <div class='presentation-label'>
          {{t
            'pagination-label'
            current=this.currentLabel
            total=this.slides.length
          }}
        </div>
      {{/if}}
      <button
        class='btn-next btn btn-light'
        type='button'
        {{on 'click' this.nextPage}}
      >
        <FaIcon @icon='angle-right' />
      </button>
    </div>
  </div>

  <div class='presentation-content d-none d-md-flex'>
    {{#each this.slides as |slide index|}}
      <div
        class='page content-page content-page-{{index}}
          {{if (eq index this.selectedPage) 'current'}}'
      >
        <PageCol::View @value={{slide.content}} />
      </div>
    {{/each}}
  </div>

  <div class='presentation-content d-block d-md-none'>
    {{#each this.slides as |slide|}}
      <div class='page'>
        <PageCol::View @value={{slide.content}} />
      </div>
      <div class='page page-article'>
        <PageCol::View @value={{slide.article}} />
      </div>
    {{/each}}
  </div>

  {{#if @hasEnd}}
    <Slides::WelcomeEnd
      class='page {{if (eq this.selectedPage this.slides.length) 'current'}}'
      timeout={{4000}}
      @onReady={{this.nextPage}}
      @onPrevPage={{this.prevPage}}
    />
  {{/if}}
</div>