<div class="swiper-container" {{did-insert this.setup}}>
    <div class="swiper-wrapper">
        {{yield}}
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>