{{page-title (capitalize (t "new language"))}}

{{#if this.model}}
  <Manage::Container>
    <Manage::Header @title={{capitalize (t "new language")}} />

    <Manage::Row @name="name">
      <h5 class="capitalize-first-letter">{{t "name"}}</h5>
      {{!-- template-lint-disable require-input-label --}}
      <Input
          @value={{this.model.name}}
          class="form-control"
          placeholder={{t "What is the language name?"}}
        />
    </Manage::Row>

    <Manage::Row @name="locale">
      <h5 class="capitalize-first-letter">{{t "locale"}}</h5>
      {{!-- template-lint-disable require-input-label --}}
      <Input
          @value={{this.model.locale}}
          class="form-control"
          placeholder={{t "What is language locale?"}}
        />
    </Manage::Row>

    <Manage::Row @name="file">
      <h5 class="capitalize-first-letter">{{t "file"}}</h5>
      <Input::File @onBaseUrlContentChange={{this.parseFile}} />
    </Manage::Row>

    <Manage::Row @name="submit">
      <button type="button" class="btn btn-primary btn-submit {{if (or @model.isSaving this.isInvalid) "disabled"}}"
        {{action "save"}}
        role="button"
        disabled={{or @model.isSaving this.isInvalid}}>

        {{#if @model.isSaving}}
          <FaIcon @icon="spinner" @spin={{true}} />
        {{/if}}

        <span class="capitalize-first-letter">
          {{t "add"}}
        </span>
      </button>
    </Manage::Row>
  </Manage::Container>
{{/if}}