<div class='component-selector'>

  <div class='d-grid'>
    <button
      type='button'
      class='btn btn-none
        {{if @value "btn-outline-secondary" "btn-secondary"}}
        m-2'
      {{on 'click' (fn this.change null)}}
    >
      {{t 'nothing'}}
    </button>
  </div>

  {{#each this.groups as |group|}}

    {{#if group.name}}
      <hr />
      <h6 class='fw-bold ps-2'>{{t group.name}}</h6>
    {{/if}}
    <div class='group-{{if group.name group.name "default"}} row g-0'>
      {{#each group.list as |element|}}
        <div class='col p-2 col-4 d-grid'>
          <button
            {{on 'click' (fn this.change element.name)}}
            class='btn
              {{if element.isSelected "btn-dark" "btn-outline-dark"}}
              btn-{{element.name}}'
            type='button'
          >
            <div class='icon m-2'><FaIcon
                @icon={{element.icon}}
                @size='2x'
              /></div>
            <div class='label m-2'>{{t element.label}}</div>
          </button>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>