<div {{did-insert this.setup}} {{did-update this.onChangeValue @value}}>
  {{#if @allowUnset}}
    <div class='form-check form-switch pb-2'>
      <Input
        @type='checkbox'
        @checked={{this.isSet}}
        id='{{this.elementId}}Enable'
        class='form-check-input'
      />
      <label
        class='form-check-label'
        for='{{this.elementId}}Enable'
      >Enable</label>
    </div>
  {{/if}}

  {{#if this.isSet}}
    <div class='row g-1'>
      <div class='col'>
        <div class='form-floating'>
          <select
            id='{{this.elementId}}-year'
            class='form-select year'
            disabled={{this.isNotSet}}
            {{on 'change' this.updateValue}}
          >
            {{#each this.years as |item|}}
              <option selected={{item.selected}}>{{item.year}}</option>
            {{/each}}
          </select>

          <label for='{{this.elementId}}-year'>{{t 'year'}}</label>
        </div>
      </div>

      <div class='col'>
        <div class='form-floating'>
          <select
            class='form-select month'
            id='{{this.elementId}}-month'
            disabled={{this.isNotSet}}
            {{on 'change' this.updateValue}}
          >
            {{#each this.months as |item|}}
              <option
                selected={{item.selected}}
                value={{item.value}}
              >{{item.month}}</option>
            {{/each}}
          </select>
          <label for='{{this.elementId}}-month'>{{t 'month-label'}}</label>
        </div>
      </div>

      <div class='col'>
        <div class='form-floating'>
          <select
            id='{{this.elementId}}-day'
            class='form-select day'
            disabled={{this.isNotSet}}
            {{on 'change' this.updateValue}}
          >
            {{#each this.days as |item|}}
              <option selected={{item.selected}}>{{item.day}}</option>
            {{/each}}
          </select>
          <label for='{{this.elementId}}-day'>{{t 'day'}}</label>
        </div>
      </div>
    </div>
  {{/if}}
</div>