<div class="form-row" ...attributes>
  <div class="col location-country">
    <label for="{{this.elementId}}-country">{{t "location-country"}}</label>
    <Input class="form-control input-country" id="{{this.elementId}}-country" @value={{this.country}} />
  </div>
  <div class="col location-province">
    <label for="{{this.elementId}}-province">{{t "location-province"}}</label>
    <Input class="form-control input-province" id="{{this.elementId}}-province" @value={{this.province}} />
  </div>
  <div class="col location-city">
    <label for="{{this.elementId}}-city">{{t "location-city"}}</label>
    <Input class="form-control input-city" id="{{this.elementId}}-city" @value={{this.city}} />
  </div>
  <div class="col location-postalCode">
    <label for="{{this.elementId}}-postalCode">{{t "location-postalCode"}}</label>
    <Input class="form-control input-postalCode" id="{{this.elementId}}-postalCode" @value={{this.postalCode}} />
  </div>
</div>
