{{#if this.haveEnabledSwitch}}
  <div class='form-check form-switch'>
    <Input
      @type='checkbox'
      class='form-check-input'
      id='{{this.elementId}}-enabled'
      @checked={{this.isEnabled}}
    />
    <label
      class='form-check-label'
      for='{{this.elementId}}-enabled'
    >enable</label>
  </div>
{{/if}}

{{#if this.isEnabled}}
  <ol>
    {{#each this.values as |value index|}}
      <li class='mt-2'>
        <div class='input-group'>
          <Input::Select
            @list={{@list}}
            @value={{value}}
            @onChange={{fn this.updateItem index}}
          />

          <button
            type='button'
            class='btn btn-outline-danger btn-delete'
            {{on 'click' (fn this.removeItem index)}}
          >
            <FaIcon @icon='trash' />
          </button>
        </div>
      </li>
    {{/each}}

    {{#if this.canAdd}}
      <li class='mt-2'>
        <button
          type='button'
          class='btn btn-outline-primary btn-add-item'
          {{on 'click' this.addItem}}
        >
          <FaIcon @icon='plus' />
          {{t 'item'}}
        </button>
      </li>
    {{/if}}
  </ol>
{{/if}}