<select class="form-select" ...attributes {{did-update this.updateValue @value}} {{did-insert this.renderSelect}} {{on "change" this.change}} {{on "blur" this.change}}>
  {{#if this.hasNoSelectedValues}}
    <option></option>
  {{/if}}

  {{#each this.selectionList as |item|}}
    <option value={{item.id}}>{{item.name}}</option>
  {{/each}}
</select>