<Input::ContainerGroup
    @isMainValue={{@isMainValue}}
    @onSave={{this.save}}
    @onCancel={{this.cancel}}
    @onEdit={{@onEdit}}
    @title={{@title}}
    @disabled={{@disabled}}
    @editablePanel={{@editablePanel}}
    @savingPanel={{@savingPanel}}
    as |editMode|
  >
  {{#if editMode}}
    <Input::List @values={{this.values}} @list={{@list}} @isEnabled={{this.isEnabled}} @onChange={{this.change}} />
  {{else}}
    {{#if (and this.isEnabled this.values.length )}}
      <ol>
        {{#each this.values as | value |}}
          <li class="mt-2">
            {{#if @route}}
              <LinkTo @route={{@route}} @model={{value.id}} class="text-decoration-none">
                {{value.name}}
              </LinkTo>
            {{else}}
              {{value.name}}
            {{/if}}
          </li>
        {{/each}}
      </ol>
    {{else}}
      <p>{{@emptyMessage}}</p>
    {{/if}}
  {{/if}}
</Input::ContainerGroup>
