<div class="simple-mde d-flex flex-column {{if this.isFullscreen "ps-1 pt-2 isFullscreen"}}" {{did-insert this.setupEditor}} {{did-update this.updateValue @value}}>
  <div>
    <div class="btn-toolbar" role="toolbar" aria-label="Text editor toolbar">
      {{#if @showTextOperation}}
        <div class="btn-group me-2 mb-3" role="group" aria-label="Text operations">
          <button type="button" class="btn {{if this.isBold "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleBold}}>
            <FaIcon @icon="bold" />
          </button>

          <button type="button" class="btn {{if this.isItalic "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleItalic}}>
            <FaIcon @icon="italic" />
          </button>

          <button type="button" class="btn {{if this.isStrike "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleStrike}}>
            <FaIcon @icon="strikethrough" />
          </button>
        </div>
      {{/if}}

      {{#if @showHeadingOperation}}
        <div class="btn-group me-2 mb-3" role="group" aria-label="Heading operations">
          <button type="button" class="btn {{if this.isHeading "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleHeading}}><FaIcon @icon="heading" /></button>
          <button type="button" class="btn btn-outline-secondary" {{on "click" this.toggleHPlus}}><FaIcon @icon="plus" /></button>
          <button type="button" class="btn btn-outline-secondary" {{on "click" this.toggleHMinus}}><FaIcon @icon="minus" /></button>
        </div>
      {{/if}}

      {{#if @showBlockOperation}}
        <div class="btn-group me-2 mb-3" role="group" aria-label="Block operations">
          <button type="button" class="btn {{if this.isQuote "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleQuote}}>
            <FaIcon @icon="quote-left" />
          </button>

          <button type="button" class="btn {{if this.isUnorderedList "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleUnorderedList}}>
            <FaIcon @icon="list-ul" />
          </button>

          <button type="button" class="btn {{if this.isOrderedList "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleOrderedList}}>
            <FaIcon @icon="list-ol" />
          </button>
        </div>
      {{/if}}

      {{#if @showInsert}}
        <div class="btn-group me-2 mb-3" role="group" aria-label="Insert">
          <button type="button" class="btn btn-outline-secondary" {{on "click" this.drawLink}}><FaIcon @icon="link" /></button>
          <button type="button" class="btn btn-outline-secondary" {{on "click" this.drawImage}}><FaIcon @icon="image" /></button>
        </div>
      {{/if}}

      {{#if @showUtilities}}
        <div class="btn-group me-2 mb-3" role="group" aria-label="Utilities">
          <button type="button" class="btn {{if this.isPreview "btn-success" "btn-outline-secondary"}}" {{on "click" this.preview}}><FaIcon @icon="eye" /></button>
          <button type="button" class="btn {{if this.isFullscreen "btn-success" "btn-outline-secondary"}}" {{on "click" this.toggleFullscreen}}>
            {{#if this.isFullscreen}}
              <FaIcon @icon="compress-arrows-alt" />
            {{else}}
              <FaIcon @icon="arrows-alt" />
            {{/if}}
          </button>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="editor-container">
    {{!-- template-lint-disable require-input-label --}}
    <textarea></textarea>
  </div>
</div>