<div class="input-site-attributes">
  <Attributes::Iterator @icons={{@icons}} @attributes={{@attributes}} as |attribute|>
    {{#if (and (eq attribute.type "newAttribute") (not (eq attribute.path this.selectedPath)))}}
      <button type="button" class="btn btn-outline-primary btn-add-group" {{action "add" attribute.path}} disabled={{this.fastboot.isFastBoot}}>
        <FaIcon @icon="plus" /> {{attribute.name}}
      </button>
    {{/if}}

    {{#if (and (eq attribute.type "newArrayAttribute") (not (eq attribute.path this.selectedPath)))}}
      <button type="button" class="btn btn-outline-primary btn-add-group" {{action "addArrayItem" attribute.path}} disabled={{this.fastboot.isFastBoot}}>
        <FaIcon @icon="plus" /> {{attribute.name}}
      </button>
    {{/if}}

    {{#if (or (eq attribute.type "attribute") (eq attribute.type "attributes") (eq attribute.path this.selectedPath))}}
      <Manage::GroupAttributeTitle @icons={{@icons}} @group={{attribute.name}} @isEdit={{eq attribute.path this.selectedPath}} @onDelete={{this.deletePath}} @value={{attribute.path}} as |icon|>
        {{#if (or icon (not (eq attribute.path this.selectedPath)) )}}
          {{attribute.name}}
        {{else}}
          {{!-- template-lint-disable require-input-label --}}
          <Input @value={{attribute.name}} class="input-group-key form-control d-inline-block w-75" {{on "change" this.renameGroup}} />
        {{/if}}
      </Manage::GroupAttributeTitle>

      {{#if (eq attribute.path this.deletedPath) }}
        <p class="mt-4 mb-4 capitalize-first-letter">
          {{t "the attributes will be removed on save."}}
        </p>
      {{else}}
        <Attributes::GroupIterator @icons={{@icons}} @group={{attribute.name}} @attributes={{attribute.content.values}} as |field|>
          {{#if (eq attribute.path this.selectedPath) }}
            <Input::Attribute
                class="input-icon-attribute mb-3"
                @hasEditableKey={{not field.isIconAttribute}}
                @value={{field.value}}
                @key={{field.key}}
                @type={{field.type}}
                @options={{field.options}}
                @category={{attribute.path}}
                @invalid={{not field.isValid}}
                @isRequired={{field.isRequired}}
                @onUpdate={{this.updateAttribute}}
                @onRename={{this.renameAttribute}}
                @onDelete={{this.deleteAttribute}}
              />
          {{else}}
            <div class="input-icon-attribute mb-3">
              <strong>{{field.niceKey}}</strong>
              {{#if field.isRequired}}
                <span class="text-danger is-required-asterisk">*</span>
              {{/if}}<br>
              <p class="mb-0">{{field.value}}</p>
            </div>
          {{/if}}
        </Attributes::GroupIterator>

        {{#if (eq attribute.path this.selectedPath) }}
          {{#each this.newAttributes as |attribute index|}}
            <Input::Attribute
                class="input-icon-attribute mb-3"
                @hasEditableKey={{true}}
                @value={{attribute.value}}
                @key={{attribute.key}}
                @category={{index}}
                @onUpdate={{this.updateNewAttribute}}
                @onRename={{this.renameNewAttribute}}
                @onDelete={{this.deleteNewAttribute}}
              />
          {{/each}}
          <div class="mb-2">
            <button type="button" class="btn btn-outline-secondary btn-add-attribute" {{on "click" this.addAttribute}} >
              <FaIcon @icon="plus" /> {{capitalize (t "attribute")}}
            </button>
          </div>
        {{/if}}
      {{/if}}

      <Manage::GroupButtons
          @value={{attribute.path}}
          @isEdit={{eq attribute.path this.selectedPath}}
          @onEdit={{action "edit"}}
          @onSave={{action "save"}}
          @onCancel={{action "restore"}}
        />
    {{/if}}
    <hr>
  </Attributes::Iterator>

  {{#if (eq this.selectedPath "new attribute")}}
    <h3>
      {{!-- template-lint-disable require-input-label --}}
      <Input @value={{this.newAttributeName}} class="form-control input-group-name d-inline-block w-75" />
    </h3>
    {{#each this.newAttributes as |attribute index|}}
      <Input::Attribute
          class="input-icon-attribute mb-3"
          @hasEditableKey={{true}}
          @value={{attribute.value}}
          @key={{attribute.key}}
          @category={{index}}
          @onUpdate={{action "updateNewAttribute"}}
          @onRename={{action "renameNewAttribute"}}
          @onDelete={{action "deleteNewAttribute"}}
        />
    {{/each}}
    <div class="mb-2">
      <button type="button" class="btn btn-add-new-attribute btn-outline-secondary" {{action "addAttribute"}} >
        <FaIcon @icon="plus" /> {{capitalize (t "attribute")}}
      </button>
    </div>

    <Manage::GroupButtons
      @isEdit={{true}}
      @onSave={{this.saveNewGroup}}
      @onCancel={{this.restoreNewGroup}}
    />
  {{else}}
    <button type="button" class="btn btn-outline-primary btn-new-anonymous-group" {{on "click" this.addNewGroup}} disabled={{@disabled}}>
      <FaIcon @icon="plus" /> {{capitalize (t "group")}}
    </button>
  {{/if}}
</div>
