<table class='table' {{did-insert this.setup}}>
  <thead>
    <tr>
      <th scope='col'>{{t 'key'}}</th>
      <th scope='col'>{{t 'translation'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.pairs as |pair|}}
      <tr>
        <th scope='row'>
          {{! template-lint-disable require-input-label }}
          <Input class='form-control input-key' @value={{pair.key}} />
        </th>
        <td>
          {{! template-lint-disable require-input-label }}
          <Input class='form-control input-value' @value={{pair.value}} />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button
  class='btn btn-secondary btn-add-item'
  type='button'
  {{on 'click' this.addItem}}
>
  {{t 'add'}}
</button>