.map-center-maker {
  pointer-events: none;

  .map-marker {
    color: $red-400;
    font-size: 1rem !important;
    pointer-events: none;
    display: flex;

    &-editable .svg-inline--fa {
      position: absolute;
      width: 36px;
      height: 48px;
      left: calc(50% - 18px);
      top: calc(50% - 48px);
    }
  }

  .map-marker-toast {
    margin: auto;
    opacity: 0;
    background-color: $white;
    top: -30px;
    position: relative;
    top: -110px;
    text-align: center;
    animation-name: marker-message-fade-in-out;
    animation-duration: 7s;

    .popover-arrow {
      margin-left: calc(50% - 9px);
    }

    p {
      margin: 0;
    }
  }
}

@keyframes marker-message-fade-in-out {
  0%   {opacity: 0;}
  5%   {opacity: 0;}
  10%  {opacity: 1;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
}