<Input::Options::Frame
  @title={{capitalize (t 'article options')}}
  ...attributes
>
  <div class='form-floating'>
    <Input::Select
      {{did-insert this.setup}}
      class='page-col-id'
      @list={{this.allArticles}}
      @value={{this.selectedArticle}}
      @onChange={{this.itemChanged}}
    />
    <label for='floatingSelect'>{{capitalize (t 'article')}}</label>
  </div>
</Input::Options::Frame>