<Input::Options::Frame
  class='heading-frame'
  @title={{capitalize (t 'heading')}}
  ...attributes
  {{did-insert this.setupPictures}}
>
  <div class='form-floating'>
    <Input
      @value={{this.heading}}
      class='form-control text-heading'
      id='{{this.elementId}}-heading-text'
      placeholder={{capitalize (t 'heading text')}}
    />
    <label for='{{this.elementId}}-heading-text'>{{capitalize
        (t 'text')
      }}</label>
  </div>

  <label>{{capitalize (t 'heading picture')}}</label><br />
  <Input::PictureAuto
    @disable365={{true}}
    @createImage={{this.createImage}}
    @value={{this.headingPicture}}
    @save={{this.headingPictureChanged}}
  />
</Input::Options::Frame>

<Input::Options::Frame @title={{capitalize (t 'content')}} ...attributes>
  <div class='form-floating'>
    <Input
      @value={{this.subHeading}}
      class='form-control text-subheading'
      id='{{this.elementId}}-subheading-text'
      placeholder={{capitalize (t 'subheading text')}}
    />
    <label for='{{this.elementId}}-subheading-text'>{{capitalize
        (t 'subheading')
      }}</label>
  </div>

  <label>{{capitalize (t 'description')}}</label>
  <Article::Editor
    @value={{this.description}}
    @allowNoHeading={{true}}
    @onChange={{this.changeDescription}}
  />
</Input::Options::Frame>

<Input::Options::Frame @title={{capitalize (t 'button')}} ...attributes>
  <div class='form-floating'>
    <Input
      @value={{this.buttonLabel}}
      class='form-control text-button-label'
      id='{{this.elementId}}-button-label'
      placeholder={{capitalize (t 'button label')}}
    />
    <label for='{{this.elementId}}-button-label'>{{capitalize
        (t 'button label')
      }}</label>
  </div>

  <Input::PageLink
    @value={{this.buttonLink}}
    @onChange={{this.changeButtonLink}}
    class='text-button-link'
  />
</Input::Options::Frame>

<Input::Options::Frame
  class='side-picture-frame'
  @title={{capitalize (t 'side picture')}}
  ...attributes
>
  <label>{{capitalize (t 'side picture')}}</label><br />
  <Input::PictureAuto
    @disable365={{true}}
    @createImage={{this.createImage}}
    @value={{this.sidePicture}}
    @save={{this.sidePictureChanged}}
  />

  <div class='form-floating'>
    <Input::Select
      class='side-picture-mobile'
      id='{{this.elementId}}-side-picture-mobile'
      @list={{this.sidePictureMobileOptions}}
      @value={{this.sidePictureMobile}}
      @onChange={{this.sidePictureMobileChanged}}
    />
    <label for='{{this.elementId}}-side-picture-mobile'>{{capitalize
        (t 'visibility on mobile')
      }}</label>
  </div>
</Input::Options::Frame>