{{#if this.hasAdvancedOptions}}
  <Input::Options::Frame @title={{capitalize (t 'typography')}} ...attributes>
    <div class='form-floating'>
      <Input::Select
        class='article-alignment'
        id='{{this.elementId}}-article-alignment'
        @list={{this.alignmentOptions}}
        @value={{this.alignment}}
        @onChange={{this.alignmentChanged}}
      />
      <label for='{{this.elementId}}-article-alignment'>{{capitalize
          (t 'alignment')
        }}</label>
    </div>

    <div class='form-floating'>
      <Input::Select
        class='article-line-height'
        id='{{this.elementId}}-article-line-height'
        @list={{this.lineHeightOptions}}
        @value={{this.lineHeight}}
        @onChange={{this.lineHeightChanged}}
      />
      <label for='{{this.elementId}}-article-line-height'>{{capitalize
          (t 'line height')
        }}</label>
    </div>

    <div class='form-floating'>
      <Input::Select
        class='article-font'
        id='{{this.elementId}}-article-font'
        @list={{this.fontOptions}}
        @value={{this.font}}
        @onChange={{this.fontChanged}}
      />
      <label for='{{this.elementId}}-article-font'>{{capitalize
          (t 'font')
        }}</label>
    </div>
  </Input::Options::Frame>
{{/if}}

<Input::Options::Frame @title={{capitalize (t 'content')}} ...attributes>
  <Article::Editor
    @value={{this.blocks}}
    @allowNoHeading={{true}}
    @onChange={{this.blocksChanged}}
  />
</Input::Options::Frame>