<Input::Options::Frame
  @title={{capitalize (t 'campaigns options')}}
  ...attributes
>
  <Input::Options::ModelItems
    @value={{@value}}
    @onChange={{@onChange}}
    @model='campaign'
  />

</Input::Options::Frame>