{{#if this.isList}}
  <ol {{did-insert this.listSetup}}>
    {{#each this.listValue as |item index|}}
      <li>
        <div class='input-group mb-3'>
          {{#if this.isBoolean}}
            <Manage::Editors::OptionalBoolean
              @value={{item}}
              @onChange={{fn this.updateArrayValue index}}
            />
          {{else if this.isOptions}}
            <Manage::Editors::Options
              @value={{item}}
              @options={{this.options}}
              @onChange={{fn this.updateArrayValue index}}
            />
          {{else if this.isOptionsWithOther}}
            <Manage::Editors::OptionsWithOther
              @value={{item}}
              @options={{this.options}}
              @onChange={{fn this.updateArrayValue index}}
            />
          {{else}}
            {{! template-lint-disable require-input-label }}
            <Input
              class='form-control input-text-field'
              @type='text'
              @value={{item}}
              {{on 'input' (fn this.updateArrayValue index)}}
            />
          {{/if}}

          <button
            class='btn btn-danger btn-delete'
            type='button'
            {{on 'click' (fn this.removeValue index)}}
          >
            <FaIcon @icon='trash' />
          </button>
        </div>
      </li>
    {{/each}}
  </ol>

  <button
    class='btn btn-secondary btn-add'
    type='button'
    {{on 'click' this.addValue}}
  >
    <FaIcon @icon='plus' />
    {{t 'value'}}
  </button>
{{else}}
  {{#if this.isBoolean}}
    <Manage::Editors::OptionalBoolean
      @value={{this.value}}
      @onChange={{@onChange}}
    />
  {{else if this.isOptions}}
    <Manage::Editors::Options
      @value={{this.value}}
      @options={{this.options}}
      @onChange={{@onChange}}
    />
  {{else if this.isOptionsWithOther}}
    <Manage::Editors::OptionsWithOther
      @value={{this.value}}
      @options={{this.options}}
      @onChange={{@onChange}}
    />
  {{else}}
    {{! template-lint-disable require-input-label }}
    <Input
      class='form-control input-text-field'
      @type='text'
      @value={{this.value}}
    />
  {{/if}}
{{/if}}