<Input::Options::Frame @title={{capitalize (t 'maps options')}} ...attributes>
  <Input::Options::ModelItems
    @value={{@value}}
    @onChange={{@onChange}}
    @model='map'
  />

</Input::Options::Frame>