<Input::Options::Frame class='manage-editors-optional-boolean' ...attributes>
  <Input::Select
    @list={{this.options}}
    @value={{this.value}}
    @onChange={{this.change}}
  />
</Input::Options::Frame>