<Input::Options::Frame
  class='manage-editors-options'
  @title={{capitalize (t 'options')}}
  ...attributes
>
  <Input::Select
    @list={{@options.values}}
    @value={{@value}}
    @onChange={{@onChange}}
  />
</Input::Options::Frame>