<div class='manage-editors-picture' ...attributes>
  <Input::Options::Frame @title={{capitalize (t 'picture')}}>
    <Input::PictureAuto
      {{did-insert this.setupPicture}}
      @disable365={{true}}
      @createImage={{this.createImage}}
      @value={{this.picture}}
      @save={{this.pictureChanged}}
    />
  </Input::Options::Frame>

  <Input::Options::Frame @title={{capitalize (t 'mobile')}}>
    <Input::Options::Paddings
      @options={{this.options}}
      @type='mobile'
      @onChangeOptions={{this.changeOptions}}
    />
  </Input::Options::Frame>

  <Input::Options::Frame @title={{capitalize (t 'tablet')}}>
    <Input::Options::Paddings
      @options={{this.options}}
      @type='tablet'
      @size='md'
      @onChangeOptions={{this.changeOptions}}
    />
  </Input::Options::Frame>

  <Input::Options::Frame @title={{capitalize (t 'desktop')}}>
    <Input::Options::Paddings
      @options={{this.options}}
      @type='desktop'
      @size='lg'
      @onChangeOptions={{this.changeOptions}}
    />
  </Input::Options::Frame>
</div>