<div class='manage-editors-pictures' {{did-insert this.setup}}>
  <Input::Options::Frame @title={{capitalize (t 'pictures')}} ...attributes>
    <Input::ImageList
      @value={{this.records}}
      @onChange={{this.update}}
      @createImage={{this.createImage}}
    />
  </Input::Options::Frame>

  {{#if this.hasData}}
    <Input::Options::Frame @title={{capitalize (t 'mobile')}}>
      <Input::Options::Height
        @value={{this.heightSm}}
        @type='mobile'
        @onChange={{fn this.changeHeight 'Sm'}}
      />
      <Input::Options::Alignment
        @options={{this.containerOptions}}
        @type='mobile'
        @onChangeOptions={{this.changeContainerOptions}}
      />
      <Input::Options::Paddings
        @options={{this.options}}
        @type='mobile'
        @onChangeOptions={{this.changeOptions}}
      />
    </Input::Options::Frame>

    <Input::Options::Frame @title={{capitalize (t 'tablet')}}>
      <Input::Options::Height
        @value={{this.heightMd}}
        @type='tablet'
        @onChange={{fn this.changeHeight 'Md'}}
      />
      <Input::Options::Alignment
        @options={{this.containerOptions}}
        @type='tablet'
        @size='md'
        @onChangeOptions={{this.changeContainerOptions}}
      />
      <Input::Options::Paddings
        @options={{this.options}}
        @type='tablet'
        @size='md'
        @onChangeOptions={{this.changeOptions}}
      />
    </Input::Options::Frame>

    <Input::Options::Frame @title={{capitalize (t 'desktop')}}>
      <Input::Options::Height
        @value={{this.heightLg}}
        @type='desktop'
        @onChange={{fn this.changeHeight 'Lg'}}
      />
      <Input::Options::Alignment
        @options={{this.containerOptions}}
        @type='desktop'
        @size='lg'
        @onChangeOptions={{this.changeContainerOptions}}
      />
      <Input::Options::Paddings
        @options={{this.options}}
        @type='desktop'
        @size='lg'
        @onChangeOptions={{this.changeOptions}}
      />
    </Input::Options::Frame>
  {{/if}}
</div>