.sound-container {
  position: relative;
  width: 100px;

  .sound-player {
    border: 1px solid $gray-400;
    width: 100px;
    height: 100px;

    border-radius: $border-radius-lg;
    background-color: $white;

    .loader,
    .error {
      position: absolute;
      width: 100%;
      top: $spacer * 0.5;
      left: 0;
    }
  }

  .sound-label {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }

  &-minimal.is-loading {
    .btn-play,
    .sound-label {
      display: none;
    }
  }

  &-minimal .sound-label {
    display: none;
  }
}
