.input-icon {
  .btn-select-icon {
    border: 1px dashed $primary;
    background-color: transparent;
    color: $primary;
    border-radius: $spacer;

    &.lg {
      width: 100px;
      height: 100px;
    }
  }

  .size-lg {
    .fa-spinner {
      top: 45px;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  .size-sm {
    .fa-spinner {
      top: 28px;
    }

    img {
      width: 64px;
      height: 64px;
    }
  }

  .size-xs {
    .fa-spinner {
      top: 3px;
    }

    img {
      width: 21px;
      height: 21px;
    }
  }

  .icon-size-view {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    position: relative;

    .fa-spinner {
      position: absolute;
      left: calc(50% - 6px);
    }

    img {
      display: block;
      margin-bottom: 4px;

      border-radius: $spacer;
      border: 1px solid $dark;
      overflow: hidden;
    }
  }

  .btn-replace-icon {
    margin-top: $spacer;
    margin-bottom: $spacer * 2;
  }
}
