$break-small: 1500px;
$break-extra-small: 577px;
$break-large: 2000px;

.side-bar {
  .header-line {
    clear: both;
  }

  .title {
    font-size: 1rem;
    font-weight: 400;

    a {
      font-size: 0.9rem;
    }
  }

  .value {
    font-weight: bold;
  }

  ul.value {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li > ul.value {
      padding-left: 10px;
    }

    li {
      font-weight: normal;
    }
    img {
      width: 25px;
    }
  }

  .btn.btn-open {
    margin-bottom: 50px;
  }

  .bottom {
    margin-top: auto !important;

    .bar-group {
      hr {
        display: none;
      }
    }
  }

  @media screen and (min-width: $break-extra-small) {
    padding: 20px 20px;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    background: #fafafa;
    border-left: 1px solid #e5e5e5;

    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    z-index: 998;

    .btn.btn-open {
      background-color: transparent;
      color: $gray-600;
      border: 0;

      &:hover {
        color: $gray-800;
      }

      &:active {
        color: $gray-400;
      }
    }
  }

  @media screen and (max-width: $break-extra-small) {
    box-shadow: none !important;
    padding: 15px;
    min-height: 67px;

    &.closed {
      float: right;
      padding-top: 0;
    }

    .btn.btn-open {
      margin-top: map-get($spacers, 5);
      margin-bottom: 0;
      float: right;
    }

    .btn.btn-close {
      margin-bottom: 10px;
    }

    &.open {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &.open + div {
      display: none;
    }
  }

  @media screen and (min-width: $break-small) {
    .btn.btn-open {
      display: none;
    }

    .btn.btn-close,
    .btn.btn-close + hr {
      display: none;
    }
  }

  @media screen and (min-width: $break-extra-small) and (max-width: $break-small) {
    width: 50px;
    padding: 20px 5px;

    &.open {
      width: 350px;
      padding: 20px;
    }
  }

  @media screen and (max-width: $break-small) {
    .bar-group,
    .container-group {
      display: none;
    }

    .btn.btn-close {
      float: right;
    }

    &.open {
      .bar-group,
      .container-group {
        display: block;
      }
    }
  }
}

.side-bar + div {
  @media screen and (min-width: $break-small) {
    width: calc(100% - 350px);
  }

  @media screen and (min-width: $break-extra-small+1) and (max-width: $break-small) {
    width: calc(100% - 60px);
  }
}
