{{page-title @model.team.name}}

<div class="main-container dashboard-list-container view-browse">
  <div class="container pt-4 pb-4">
    <header class="d-flex align-items-center mt-3 pb-3 mb-5 border-bottom justify-content-between">
      <span class="fs-4">
        <FaIcon @icon="tachometer-alt" /> {{@model.team.name}}
      </span>

      {{#if @model.team.canEdit}}
        <LinkTo @route="manage.teams.edit" @model={{@model.team.id}} class="btn btn-outline-secondary btn-edit float-end">
          <FaIcon @icon="pencil-alt" /> {{capitalize (t "manage team")}}
        </LinkTo>
      {{/if}}
    </header>

    <div class="row">
      <div class="col">
        {{#if this.showCreateMapAlert}}
        <div class="alert alert-info" role="alert">
          <h5 class="alert-heading capitalize-first-letter">{{t "create-first-map"}}</h5>
          <p>
            {{t "create-first-map-message"}}
          </p>
          <LinkTo @route="manage.maps.add" class="nav-link btn-add-map px-0">{{t "create-map"}}</LinkTo>
        </div>
        {{/if}}

        {{#if @model.maps.length}}
          <h4 class="capitalize-first-letter ms-2">
            {{t "maps"}}
          </h4>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
            {{#each @model.maps as |map|}}
              <div class="col">
                <Manage::Card
                  class="card-dashboard-map"
                  @title={{map.name}}
                  @isPublic={{map.visibility.isPublic}}
                  @hasOptions={{map.canEdit}}
                  @onClick={{fn this.browseMap map.id}}
                  as | type | >

                {{#if (eq type "options")}}
                  <Browse::Map::Options @map={{map}} @onDelete={{this.deleteRecord}} />
                {{else if (gt map.contentBlocks.blocks.length 1)}}
                  <div class="description">
                    <Article::FirstParagraph @contentBlocks={{map.contentBlocks}} />
                  </div>
                {{/if}}

                </Manage::Card>
              </div>
            {{/each}}
          </div>
        {{/if}}

        {{#if @model.campaigns.length}}
          <h4 class="capitalize-first-letter ms-2">
            {{t "campaigns"}}
          </h4>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
            {{#each @model.campaigns as |campaign|}}
              <div class="col">
                <Manage::Card
                  class="card-dashboard-campaign"
                  @title={{campaign.name}}
                  @isPublic={{campaign.visibility.isPublic}}
                  @hasOptions={{campaign.canEdit}}
                  @onClick={{fn this.browseCampaign campaign.id}}
                  as | type | >

                {{#if (eq type "options")}}
                  <Browse::Campaign::Options @campaign={{campaign}} @onDelete={{this.deleteRecord}} />
                {{else if (gt campaign.contentBlocks.blocks.length 1)}}
                  <div class="description">
                    <Article::FirstParagraph @contentBlocks={{campaign.contentBlocks}} />
                  </div>
                {{/if}}

                </Manage::Card>
              </div>
            {{/each}}
          </div>
        {{/if}}

        {{#if @model.iconSets.length}}
        <h4 class="mt-3 capitalize-first-letter ms-2">
          {{t "icon sets"}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
          {{#each @model.iconSets as |iconSet|}}
          <div class="col">
            <Manage::Card
              class="card-dashboard-icon-set"
              @title={{iconSet.name}}
              @isPublic={{iconSet.visibility.isPublic}}
              @hasOptions={{iconSet.canEdit}}
              @onClick={{fn this.browseIconSet iconSet.id}}
              as | type | >

            {{#if (eq type "options")}}
              <Browse::IconSet::Options @iconSet={{iconSet}} @onDelete={{this.deleteRecord}} />
            {{else}}
              <div class="description">
                <Article::FirstParagraph @contentBlocks={{iconSet.contentBlocks}} />
              </div>
            {{/if}}

            </Manage::Card>
          </div>
          {{/each}}
        </div>
        {{/if}}

        {{#if @model.basemaps.length}}
        <h4 class="mt-3 capitalize-first-letter ms-2">
          {{t "base maps"}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
          {{#each @model.basemaps as | basemap |}}
            {{#unless basemap.isDeleted }}
              <div class="col">
                <Manage::Card
                  class="card-dashboard-basemap"
                  @title={{basemap.name}}
                  @isPublic={{basemap.visibility.isPublic}}
                  @hasOptions={{basemap.canEdit}}
                  @label={{t "layer-count" count=basemap.layers.length}}
                  as | type | >

                {{#if (eq type "options")}}
                  <Browse::Basemap::Options @basemap={{basemap}} @onDelete={{this.deleteRecord}} />
                {{/if}}

                </Manage::Card>
              </div>
            {{/unless}}
          {{/each}}
        </div>
        {{/if}}

        {{#if @model.pages.length}}
        <h4 class="mt-3 capitalize-first-letter ms-2">
          {{t "pages"}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
          {{#each @model.pages as | page |}}
            {{#unless page.isDeleted }}
              <div class="col">
                <Manage::Card
                    class="card-dashboard-page"
                    @title={{page.name}}
                    @isPublic={{page.visibility.isPublic}}
                    @hasOptions={{page.canEdit}}
                    as | type | >

                  {{#if (eq type "options")}}
                    <Browse::Page::Options @page={{page}} @onDelete={{this.deleteRecord}} />
                  {{/if}}
                </Manage::Card>
              </div>
            {{/unless}}
          {{/each}}
        </div>
        {{/if}}

        {{#if @model.presentations.length}}
        <h4 class="mt-3 capitalize-first-letter ms-2">
          {{t "presentations"}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
          {{#each @model.presentations as | presentation |}}
            {{#unless presentation.isDeleted }}
              <div class="col">
                <Manage::Card
                    class="card-dashboard-presentation"
                    @title={{presentation.name}}
                    @isPublic={{presentation.visibility.isPublic}}
                    @hasOptions={{presentation.canEdit}}
                    as | type | >

                  {{#if (eq type "options")}}
                    <Browse::Presentation::Options @presentation={{presentation}} @onDelete={{this.deleteRecord}} />
                  {{/if}}
                </Manage::Card>
              </div>
            {{/unless}}
          {{/each}}
        </div>
        {{/if}}

        {{#if @model.articles.length}}
        <h4 class="mt-3 capitalize-first-letter ms-2">
          {{t "articles"}}
        </h4>
          {{#each-in this.articles as | groupName list |}}
            <h5 class="mt-3 capitalize-first-letter ms-2">
              {{capitalize groupName}}
            </h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
            {{#each list as | article |}}
              {{#unless article.isDeleted }}
                <div class="col">
                  <Manage::Card
                      class="card-dashboard-article"
                      @title={{article.title}}
                      @isPublic={{article.visibility.isPublic}}
                      @hasOptions={{article.canEdit}}
                      as | type | >

                    {{#if (eq type "options")}}
                      <Browse::Article::Options @article={{article}} @onDelete={{this.deleteRecord}} />
                    {{else}}
                      <div class="description">
                        <p><strong>{{article.slug}}</strong></p>
                        <Article::FirstParagraph @contentBlocks={{article.contentBlocks}} />
                      </div>
                    {{/if}}
                  </Manage::Card>
                </div>
              {{/unless}}
            {{/each}}
        </div>
          {{/each-in}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
