$progress-size: 30px;
$progress-radius: 15px;

.picture-progress {
  width: 175px;
  height: 175px;

  &.uploading .picture-box {
    opacity: 0.3;
    transition: all ease-in-out 2s;
  }

  .progress {
    width: $progress-size;
    height: $progress-size;
    background: none;
    position: relative;

    left: calc(50% - #{$progress-size * 0.5});
    top: calc(50% - #{$progress-size * 0.5});
  }

  .progress::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }

  .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress .progress-left {
    left: 0;
  }

  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
    transition: all ease-out 0.5s;
  }

  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: $progress-radius;
    border-bottom-right-radius: $progress-radius;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .progress .progress-right {
    right: 0;
  }

  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: $progress-radius;
    border-bottom-left-radius: $progress-radius;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
