<Input::ContainerGroup
    @isMainValue={{@isMainValue}}
    @title={{@title}}

    @onSave={{this.save}}
    @onCancel={{this.cancel}}
    @onEdit={{@onEdit}}

    @editablePanel={{@editablePanel}}
    @savingPanel={{@savingPanel}}

    as |editMode|
  >
  {{#if editMode}}
    <Input::Date @allowUnset={{true}} @value={{this.value}} @onChange={{this.onChange}}/>
  {{else}}
    <NiceDate @value={{@value}} />
  {{/if}}
</Input::ContainerGroup>