<Input::ContainerGroup
    @isMainValue={{@isMainValue}}
    @onSave={{this.save}}
    @onCancel={{this.cancel}}
    @onEdit={{@onEdit}}
    @title={{@title}}
    @editablePanel={{@editablePanel}}
    @savingPanel={{@savingPanel}}
    as |editMode|
  >

  {{#if editMode}}
    <div class="mb-3">
      <label for="{{this.elementId}}-name" class="form-label">{{t "name"}}</label>
      <Input @value={{this.name}} id="{{this.elementId}}-name" @type="text" class="input-license-name form-control" />
    </div>
    <div class="mb-3">
      <label for="{{this.elementId}}-url" class="form-label">url</label>
      <Input @value={{this.url}} id="{{this.elementId}}-url" @type="text" class="input-license-url form-control" />
    </div>
  {{else}}
    {{#if @value.name}}
      {{@value.name}}
    {{else}}
      {{t "unknown license"}}
    {{/if}}

    {{#if @value.url}}
      -
      <a href={{@value.url}}>{{@value.url}}</a>
    {{/if}}
  {{/if}}
</Input::ContainerGroup>
