<Input::ContainerGroup
    @isMainValue={{@isMainValue}}
    @onSave={{this.save}}
    @onCancel={{this.cancel}}
    @onEdit={{@onEdit}}
    @title={{@title}}
    @editablePanel={{@editablePanel}}
    @savingPanel={{@savingPanel}}
    as |editMode|
  >

  {{#if editMode}}
    <div class="form-check form-switch pb-2">
      <Input @type="checkbox" @checked={{this.isEnabled}} id="{{this.elementId}}Enable" class="form-check-input enable-map" />
      <label class="form-check-label" for="{{this.elementId}}Enable">{{t "enabled"}}</label>
    </div>

    {{#if this.isEnabled}}
      <Input::Select class="map-select" @list={{@maps}} @value={{this.map}} @onChange={{this.updateMap}} />
    {{/if}}
  {{else}}
    {{#if (and @value @value.isEnabled)}}
      {{t this.enabledText map=@value.map.name}}
    {{else}}
      {{t this.disabledText}}
    {{/if}}
  {{/if}}

</Input::ContainerGroup>