<Input::ContainerGroup
  @isMainValue={{@isMainValue}}
  @title={{@title}}
  @rawTitle={{@title}}
  @onSave={{this.save}}
  @onCancel={{@onCancel}}
  @onEdit={{@onEdit}}
  @editablePanel={{@editablePanel}}
  @savingPanel={{@savingPanel}}
  class='container-group-text'
  as |isEdit|
>
  {{#if isEdit}}
    <div class='input-group' {{did-insert this.setupValue}}>
      {{! template-lint-disable require-input-label }}
      <Input
        class='form-control'
        @value={{this.value}}
        placeholder={{@placeholder}}
      />
    </div>
  {{else}}
    {{#if (and (not @value) @emptyError)}}
      {{#if @isMainValue}}
        <div class='alert alert-info' role='alert'>
          {{@emptyError}}
        </div>
      {{else}}
        <span class='text-muted'>{{@emptyError}}</span>
      {{/if}}
    {{else}}
      <p>{{@value}}</p>
    {{/if}}
  {{/if}}
</Input::ContainerGroup>