<Input::ContainerGroup
    @isMainValue={{@isMainValue}}
    @onSave={{this.save}}
    @onCancel={{this.cancel}}
    @onEdit={{@onEdit}}
    @title={{t "visibility"}}
    @editablePanel={{@editablePanel}}
    @savingPanel={{@savingPanel}}
    as |editMode|
  >

  {{#if editMode}}
    <Input::Select @list={{this.values}} @value={{this.value}} @onChange={{this.change}}/>
  {{else}}
    <div class="value">
      {{#if (eq @value 1)}}
        {{t "visibility-public"}}
      {{else if (eq @value -1)}}
        {{t "visibility-pending"}}
      {{else}}
        {{t "visibility-private"}}
      {{/if}}
    </div>
  {{/if}}

</Input::ContainerGroup>