{{page-title @model.campaign.name ' | ' (capitalize (t 'edit'))}}

{{#if (or this.fastboot.isFastBoot (not @model))}}
  <LoadingContainer />
{{else}}
  <Manage::SideBar>
    <Manage::Visibility
      @model={{@model.campaign}}
      @teams={{@model.teams}}
      @hasIsDefault={{false}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @isAdmin={{this.user.isAdmin}}
      @areAllShowing={{this.allTeams}}
      @onChangeAll={{this.changeAll}}
      @saveIsPublic={{this.saveIsPublic}}
      @saveIsDefault={{this.saveIsDefault}}
      @saveTeam={{this.saveTeam}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />

    <Manage::Toggle
      @title={{t 'campaign-registration-mandatory-label'}}
      @id={{'toggle-mandatory-registration'}}
      @value={{@model.campaign.options.registrationMandatory}}
      @onSave={{this.saveRegistrationMandatory}}
      @savingField={{@savingPanel}}
    />

    <Input::Manage::Text
      @title={{capitalize (t 'feature name prefix')}}
      @isMainValue={{false}}
      @value={{@model.campaign.options.featureNamePrefix}}
      @emptyError={{capitalize (t 'default')}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @onSave={{this.saveFeatureNamePrefix}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />

    <Manage::ModelInfo
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @model={{@model.campaign}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
    />

    <div class='bottom pb-3 text-center'>
      <Manage::SideBarGroup>
        <Manage::DeleteButton
          @onDelete={{this.delete}}
          @modelName='campaign'
          @name={{@model.campaign.name}}
        />
      </Manage::SideBarGroup>
    </div>
  </Manage::SideBar>

  <Manage::Container>
    <Manage::Header @title={{capitalize (t 'edit campaign')}}>
      <Breadcrumbs @value={{this.breadcrumbs}} />
    </Manage::Header>

    <Manage::Row @name='article'>
      <Article::Manage
        @value={{@model.campaign.contentBlocks}}
        @onPublish={{this.saveArticle}}
        class='mb-3'
      />
    </Manage::Row>

    <hr />

    {{#if this.alertList}}
      <Manage::Row>
        <AlertList @list={{this.alertList}} />
      </Manage::Row>
    {{/if}}

    <Manage::Row @name='cover'>
      <h2 class='capitalize-first-letter'>{{t 'cover photo'}}</h2>
      <div class='form-group mt-2'>
        <Input::PictureAuto
          class='mb-3 square-cover'
          @createImage={{this.createImage}}
          @value={{@model.campaign.cover}}
          @save={{this.saveCover}}
        />
      </div>
    </Manage::Row>

    <Manage::Row @name='start-date'>
      <Input::Manage::Date
        @title={{t 'start date'}}
        @isMainValue={{true}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveStartDate}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.campaign.startDate}}
      />
    </Manage::Row>

    <Manage::Row @name='end-date'>
      <Input::Manage::Date
        @title={{t 'end date'}}
        @isMainValue={{true}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveEndDate}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.campaign.endDate}}
      />
    </Manage::Row>

    <Manage::Row @name='map'>
      <Input::Manage::Map
        @title={{t 'map'}}
        @isMainValue={{true}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveMap}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.campaign.map}}
        @maps={{@model.maps}}
      />
    </Manage::Row>

    <Manage::Row @name='icons'>
      <h2 class='capitalize-first-letter'>
        {{t 'default icons'}}

        <HelpTooltip>
          {{t 'help.campaign.icons'}}
        </HelpTooltip>

        {{#if (eq this.savingField 'icons')}}
          <FaIcon @icon='spinner' @spin={{true}} />
        {{/if}}
      </h2>

      <Input::Icons::List
        @disabled={{this.disabled}}
        @icons={{@model.icons}}
        @value={{@model.campaign.icons}}
        @onChange={{this.iconsChanged}}
      />
    </Manage::Row>

    <Manage::Row @name='questions'>
      <Input::Manage::Campaigns::Questions
        @title={{t 'questions'}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveQuestions}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.campaign.options}}
        @availableIcons={{@model.icons}}
        @icons={{@model.campaign.optionalIcons}}
      />
    </Manage::Row>
  </Manage::Container>
{{/if}}