<div class="map-container">
  <Map::Plain as |map|>
    <Map::Layer::Base @map={{map}} @value={{this.osm}} />
    <Map::Controls @map={{map}} />

    <Map::Layer::Polygon
      @focus={{this.disabled}}
      @mode={{this.mode}}
      @disabled={{this.disabled}}
      @map={{map}}
      @value={{this.value}}
      @onChange={{this.polygonChange}}/>
  </Map::Plain>
</div>