<div class="map-container">
  <Map::Plain as |map|>
    <Map::Layer::Base @map={{map}} @value={{this.osm}} />
    <Map::Controls @map={{map}} />
    <SvgCross @color1="transparent" />

    <Map::View @map={{map}} @zoom={{this.zoom}} @centerM={{this.center}} @onChangeCenter={{this.changeCenter}} />
  </Map::Plain>
</div>

<hr>
{{this.center}}
<hr>
{{this.zoom}}