<Manage::Toolbar::Group class="view-mode" ...attributes>
  {{#if @allowCardDeck}}
    <button type="button" class="btn btn-secondary btn-card-deck" disabled={{eq this.value "card-deck"}} {{on "click" (fn this.select "card-deck")}}>
      <FaIcon @icon="th" />
    </button>
  {{/if}}

  {{#if @allowCardColumns}}
    <button type="button" class="btn btn-secondary btn-card-columns" disabled={{eq this.value "card-columns"}} {{on "click" (fn this.select "card-columns")}}>
      <FaIcon @icon="th-large" />
    </button>
  {{/if}}

  {{#if @allowList}}
    <button type="button" class="btn btn-secondary btn-list" disabled={{eq this.value "list"}} {{on "click" (fn this.select "list")}}>
      <FaIcon @icon="list" />
    </button>
  {{/if}}
</Manage::Toolbar::Group>