.page-col-map-view {
  min-height: 200px;
  height: 100%;
  z-index: 99;

  &.is-transitioning {
    transition: all 0.5s ease-out;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .attributions {
    display: inline-block;
    font-size: 9px;
    background-color: rgba($white, 0.7);
    padding: $spacer * 0.2;

    * + * {
      padding-left: $spacer * 0.5;
    }
  }
}