<div ...attributes>
  {{#if this.showEditor}}
    <Article::Editor @value={{this.value}} @onChange={{this.change}} @onPictureUpload={{@onPictureUpload}}/>
  {{/if}}

  <div>
    <button class="btn btn-primary btn-publish" type="button" disabled={{this.isDisabled}} {{on "click" this.publish}}>
      {{#if this.isSaving}}
        <FaIcon @icon="spinner" spin={{true}} />
      {{/if}}

      {{t "save"}}
    </button>
    <button class="btn btn-secondary btn-reset float-end" type="button" disabled={{this.isDisabled}} {{on "click" this.reset}}>{{t "reset"}}</button>
  </div>
</div>
