<div class='article article-viewer' {{did-insert this.updateLinks}}>
  {{#if @preview}}
    {{this.plainBlocks}}
  {{else}}
    {{#each this.blocks as |item|}}
      {{#if (eq item.type 'header')}}
        {{#if (eq item.data.level 1)}}
          <h1>{{item.data.text}}</h1>
        {{/if}}

        {{#if (eq item.data.level 2)}}
          <h2>{{item.data.text}}</h2>
        {{/if}}

        {{#if (eq item.data.level 3)}}
          <h3>{{item.data.text}}</h3>
        {{/if}}

        {{#if (eq item.data.level 4)}}
          <h4>{{item.data.text}}</h4>
        {{/if}}

        {{#if (eq item.data.level 5)}}
          <h5>{{item.data.text}}</h5>
        {{/if}}

        {{#if (eq item.data.level 6)}}
          <h6>{{item.data.text}}</h6>
        {{/if}}

      {{else if (eq item.type 'paragraph')}}
        <p>{{item.data.text}}</p>
      {{else if (eq item.type 'list')}}
        {{#if (eq item.data.style 'unordered')}}
          <ul>
            {{#each item.data.items as |item|}}
              <li>{{item}}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if (eq item.data.style 'ordered')}}
          <ol>
            {{#each item.data.items as |item|}}
              <li>{{item}}</li>
            {{/each}}
          </ol>
        {{/if}}
      {{else if (eq item.type 'delimiter')}}
        <div class='ce-delimiter cdx-block'></div>
      {{else if (eq item.type 'quote')}}
        <blockquote class='blockquote text-{{item.data.alignment}}'>
          <p class='mb-0'>{{item.data.text}}</p>
          <footer class='blockquote-footer'>{{item.data.caption}}</footer>
        </blockquote>
      {{else if (eq item.type 'table')}}
        <table class='table'>
          <thead>
            <tr>
              {{#each item.data.header as |item|}}
                <th scope='col'>{{item}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each item.data.body as |row|}}
              <tr>
                {{#each row as |item|}}
                  <td>{{item}}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else if (eq item.type 'embed')}}
        <figure class='figure embed'>
          <iframe
            src={{item.data.embed}}
            title={{item.data.caption}}
            allow='autoplay; encrypted-media; picture-in-picture'
            class={{item.data.service}}
            allowfullscreen=''
            frameborder='0'
          ></iframe>
          {{#if item.data.caption}}
            <figcaption
              class='figure-caption'
            >{{item.data.caption}}</figcaption>
          {{/if}}
        </figure>
      {{else}}
        {{yield item}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>