.input-icon-attribute {
  border-bottom: 1px dashed $gray-400;
  padding-top: $spacer;
  padding-bottom: $spacer;

  .handler {
    background-color: $gray-400;
    padding: $spacer * 0.75;
    margin-right: $spacer;
    height: $spacer * 2.7;
    cursor: ns-resize;
  }
}

.input-site-attributes {
  h3 {
    img {
      height: 30px;
      vertical-align: text-bottom;
    }
  }
}
