<div class='slides-welcome-end justify-content-center' ...attributes>
  <div class='content'>
    <h1 class='mb-4'>{{t "What's next?"}}</h1>

    <LinkTo @route='index' class='btn btn-success me-3'>
      <FaIcon @icon='map' />
      {{t 'Explore the map'}}
    </LinkTo>

    {{#if this.session.isAuthenticated}}
      <LinkTo @route='manage.teams.add' class='btn btn-outline-success'>
        <FaIcon @icon='plus' />
        {{t 'Create a team'}}
      </LinkTo>
    {{/if}}

    <p class='mt-3'>{{t 'or'}}
      <button
        class='btn btn-link btn-back'
        type='button'
        role='button'
        {{on 'click' this.back}}
      >
        {{t 'Go to the last slide'}}
      </button>
    </p>
  </div>
</div>