<div
  class='slides-welcome-intro justify-content-center'
  ...attributes
  {{did-insert this.setupAnimation}}
  {{did-update this.setupAnimation @isCurrent}}
>
  <div class='content'>
    <div class='logo'>
      <img src='{{this.apiUrl}}/service/logo' class='logo' alt='homepage' />
    </div>

    <h1 class='mt-3'>
      {{t 'welcome'}}
    </h1>
  </div>
</div>