.geolocation-area {
  .map-container {
    height: 300px;;
  }

  table {
    background-color: #ffffff;
  }

  .site-input {
    color: $black;
    width: 100%;
    border: 0;
    background-color: transparent
  }
}
