{{page-title (capitalize (t "add base map")) }}

<Manage::Container>
  <Manage::Header @title={{capitalize (t "add base map")}} />

  {{#unless @model.teams}}
  <Manage::Row>
    <div class="alert alert-danger" role="alert">
      <p>{{capitalize (t "team-needed-message")}}</p>
      <LinkTo @route="manage.teams.add" @query={{hash next="manage.basemaps.add"}}
        class="btn btn-secondary btn btn-add-team">
        <FaIcon @icon="plus" /> {{capitalize (t "team")}}
      </LinkTo>
    </div>
  </Manage::Row>
  {{/unless}}

  <Manage::Row @name="name">
    <h5 class="capitalize-first-letter">
      {{t "name"}}
    </h5>

    {{!-- template-lint-disable require-input-label --}}
    <Input @value={{this.name}} class="form-control input-base-map-name"
      placeholder="What is the base map name?" />
  </Manage::Row>

  <Manage::Row @name="icon-name">
    <h5 class="capitalize-first-letter">
      {{t "icon name"}}
    </h5>

    <div class="input-group">
      <span class="input-group-text">
        <FaIcon @icon={{this.icon}} />
      </span>

      {{!-- template-lint-disable require-input-label --}}
      <Input @value={{this.icon}} class="form-control input-base-map-icon"
        placeholder="What is the icon name?" />
    </div>

    <small class="form-text text-muted">
      <a target="_blank" rel="noreferrer noopener" href="https://fontawesome.com/icons?d=gallery&m=free">
        {{t "font-awesome-message"}}
      </a>
    </small>
  </Manage::Row>


  <Manage::Row @name="team">
    <h5 class="capitalize-first-letter">
      {{t "team"}}
    </h5>
    {{#if @model.teams}}

    <Input::Select class="input-base-map-team" @onChange={{this.changeTeam}} @list={{@model.teams}}
      @value={{@model.baseMap.visibility.team}} />

    {{else}}
    <LinkTo @route="manage.teams.add" @query={{hash next="manage.basemaps.add"}}
      class="btn btn-secondary btn btn-add-team">
      <FaIcon @icon="plus" /> {{capitalize (t "team")}}
    </LinkTo>
    {{/if}}
  </Manage::Row>

  <Manage::Row @name="submit">
    <button type="button" class="btn btn-primary {{if (or this.model.baseMap.isSaving this.isInvalid) "disabled"}}"
      disabled={{or this.model.baseMap.isSaving this.isInvalid}} role="button" {{on "click" this.save}}>
      {{#if this.model.baseMap.isSaving}}
      <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}

      {{capitalize (t "add")}}
    </button>
  </Manage::Row>
</Manage::Container>
