{{page-title (capitalize (t 'edit base map'))}}

<Manage::SideBar>
  <Manage::Visibility
    @model={{@model.baseMap}}
    @teams={{@model.teams}}
    @hasIsDefault={{true}}
    @editablePanel={{this.editableField}}
    @savingPanel={{this.savingField}}
    @isAdmin={{this.user.isAdmin}}
    @areAllShowing={{this.allTeams}}
    @onChangeAll={{this.changeAll}}
    @saveIsPublic={{this.saveIsPublic}}
    @saveIsDefault={{this.saveIsDefault}}
    @saveTeam={{this.saveTeam}}
    @onEdit={{this.edit}}
    @onCancel={{this.cancel}}
  />

  <Manage::SideBarGroup
    @title={{t 'default order'}}
    @onEdit={{this.edit}}
    @editablePanel={{this.editableField}}
    @savingPanel={{this.savingField}}
    as |editMode|
  >
    {{#if editMode}}
      {{! template-lint-disable require-input-label }}
      <Input
        class='form-input'
        @value={{this.model.baseMap.defaultOrder}}
        {{on 'focusout' this.save}}
      />
    {{else}}
      {{@model.baseMap.defaultOrder}}
    {{/if}}
  </Manage::SideBarGroup>

  <div class='bottom pb-3 text-center'>
    <Manage::SideBarGroup>
      <Manage::DeleteButton
        @onDelete={{this.delete}}
        @modelName='base map'
        @name={{@model.baseMap.name}}
      />
    </Manage::SideBarGroup>
  </div>
</Manage::SideBar>

<Manage::Container class='basemaps-edit'>
  <Manage::Header @title={{capitalize (t 'edit base map')}}>
    <Breadcrumbs @value={{this.breadcrumbs}} />
  </Manage::Header>

  <Manage::Row @name='name'>
    <Input::Manage::Text
      @title={{capitalize (t 'name')}}
      @isMainValue={{true}}
      @value={{@model.baseMap.name}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @onSave={{this.saveName}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />
  </Manage::Row>

  <Manage::Row @name='attributions'>
    <Input::Manage::AttributionsList
      @list={{this.attributions}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
      @onSave={{this.saveAttributions}}
    />
  </Manage::Row>

  <Manage::Row @name='icon-name'>
    <Input::ContainerGroup
      @isMainValue={{true}}
      @title={{t 'icon-label'}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      as |editMode|
    >
      {{#if editMode}}
        <div class='input-group'>
          <span class='input-group-text'>
            <FaIcon @icon={{@model.baseMap.icon}} />
          </span>

          <Input
            class='form-control'
            @value={{@model.baseMap.icon}}
            placeholder={{t 'What is the icon name?'}}
          />
        </div>
        <small class='form-text text-muted'>
          <a
            target='_blank'
            rel='noreferrer noopener'
            href='https://fontawesome.com/icons?d=gallery&m=free'
          >
            {{t 'font-awesome-message'}}
          </a>
        </small>
      {{else}}
        <FaIcon @icon={{@model.baseMap.icon}} @size='3x' />
      {{/if}}
    </Input::ContainerGroup>
  </Manage::Row>

  <Manage::Row @name='raster'>
    <Input::Manage::MapLayerList
      @title={{t 'layers'}}
      @values={{@model.baseMap.layers}}
      @maps={{@model.maps}}
      @isMainValue={{true}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @onSave={{this.saveLayers}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />
  </Manage::Row>

  <Manage::Row @name='cover'>
    <div class='bar-group mb-4 ember-view'>
      <h2 class='capitalize-first-letter'>{{t 'cover'}}</h2>

      <div class='mb-2'>
        <div class='form-check form-switch'>
          <Input
            id='radioMapFile'
            @type='checkbox'
            @checked={{this.isMapScreenshot}}
            class='form-check-input'
          />
          <label class='form-check-label' for='radioMapFile'>Use a map
            screenshot</label>
        </div>
      </div>

      {{#if this.isMapScreenshot}}
        <div class='map-preview'>
          <Map::Plain @firstZoom={{1}} as |map|>
            <Map::Layer::Base @map={{map}} @value={{this.model.baseMap}} />
          </Map::Plain>

          <button
            type='button'
            class='btn btn-success mt-3'
            {{on 'click' this.mapScreenshot}}
          >
            {{capitalize (t 'Take screenshot')}}
          </button>
        </div>
      {{else}}
        <Input::PictureAuto
          @createImage={{this.createImage}}
          @value={{@model.baseMap.cover}}
          @save={{this.saveCover}}
        />
      {{/if}}
    </div>
  </Manage::Row>
</Manage::Container>