{{page-title (capitalize (t "new icon")) }}

{{#if this.model}}
<Manage::Container>
  <Manage::Header @title={{capitalize (t "new icon")}} />

  <Manage::Row @name="name">
    <h3>{{capitalize (t "name")}}</h3>
    {{!-- template-lint-disable require-input-label --}}
    <Input
      class="form-control"
      @value={{@model.icon.name}}
      placeholder={{capitalize (t "what is the icon name?")}} />
  </Manage::Row>

  <Manage::Row @name="description">
    <h3>{{capitalize (t "description")}}</h3>

    <Article::Editor @value={{this.description}} @onChange={{this.changeDescriptionValue}} @allowNoHeading={{true}} class="article-with-borders" />
  </Manage::Row>

  {{#unless @model.hasSelectedSet}}
    <Manage::Row @name="icon-set">
      <h3>{{capitalize (t "icon set")}}</h3>

      {{#if @model.editableIconSets}}
        <Input::Select @list={{@model.editableIconSets}} @value={{this.iconSet}} @onChange={{this.changeIconSet}}/>
      {{else}}
        <LinkTo @route="manage.icons.addset" @query={{hash next="manage.icons.add"}} class="btn btn-secondary btn btn-add-icon-set">
          <FaIcon @icon="plus"/> {{capitalize (t "icon set")}}
        </LinkTo>
      {{/if}}
    </Manage::Row>
  {{/unless}}

  <Manage::Row @name="parent-icon">
    <h3>{{capitalize (t "parent icon")}} <small class="text-secondary">{{t "optional"}}</small></h3>

    <Input::Icons::ParentIcon @value={{this.parentIcon}} @store={{this.store}} @onChange={{this.parentIconChanged}}/>
  </Manage::Row>

  <Manage::Row @name="icon">
    <h3>{{capitalize (t "icon-label")}}</h3>

    <Input::Icon
        @isNew={{true}}
        @value={{@model.icon.image}}
        @parentValue={{this.parentIcon.image}}
        @onChange={{this.changeImage}}
      />
  </Manage::Row>

  <Manage::Row @name="submit">
    <button type="button" class="btn btn-primary btn-submit {{if (or @model.icon.isSaving this.isInvalid) "disabled"}}" {{action "save"}} role="button" disabled={{or this.model.icon.isSaving this.isInvalid}}>
      {{#if @model.icon.isSaving}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}

      {{capitalize (t "add")}}
    </button>
  </Manage::Row>
</Manage::Container>
{{/if}}