{{page-title (capitalize (t "new icon set")) }}

{{#if this.model}}
<Manage::Container>
  <Manage::Header @title={{capitalize (t "new icon set")}} />

  {{#unless @model.teams}}
    <Manage::Row>
      <div class="alert alert-danger" role="alert">
        <p>{{capitalize (t "team-needed-message")}}</p>
        <LinkTo @route="manage.teams.add" @query={{hash next="manage.icons.add"}} class="btn btn-secondary btn btn-add-team">
          <FaIcon @icon="plus"/> {{capitalize (t "team")}}
        </LinkTo>
      </div>
    </Manage::Row>
  {{/unless}}

  <Manage::Row @name="name">
    <h3>{{capitalize (t "name")}}</h3>

    {{!-- template-lint-disable require-input-label --}}
    <Input
      class="form-control"
      @value={{this.model.iconSet.name}}
      placeholder={{capitalize (t "what is the set name?") }} />
  </Manage::Row>

  <Manage::Row @name="description">
    <h3>{{capitalize (t "description")}}</h3>

    <Article::Editor @value={{this.description}} @onChange={{this.changeDescriptionValue}} @allowNoHeading={{true}} class="article-with-borders" />
  </Manage::Row>

  <Manage::Row @name="team">
    <h3>{{capitalize (t "team")}}</h3>
    {{#if @model.teams}}
      <Input::Select @list={{@model.teams}} @value={{this.team}} @onChange={{this.changeTeam}}/>
    {{else}}
      <LinkTo @route="manage.teams.add" @query={{hash next="manage.icons.add"}} class="btn btn-secondary btn btn-add-team">
        <FaIcon @icon="plus"/> {{capitalize (t "team")}}
      </LinkTo>
    {{/if}}
  </Manage::Row>

  <Manage::Row @name="submit">
    <button type="button" class="btn btn-primary btn-submit {{if (or @model.isSaving this.isInvalid) "disabled"}}" {{on "click" this.save}} role="button" disabled={{or this.model.isSaving this.isInvalid}}>
      {{#if this.model.isSaving}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}

      {{capitalize (t "add")}}
    </button>
  </Manage::Row>
</Manage::Container>
{{/if}}
