{{page-title @model.icon.name ' | ' (capitalize (t 'edit-label'))}}

{{#if this.fastboot.isFastBoot}}
  <LoadingContainer />
{{else}}
  <Manage::SideBar>
    <Manage::SideBarGroup
      @title={{t 'icon set'}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @onEdit={{this.edit}}
      as |editMode|
    >
      {{#if editMode}}
        <Input::Select
          @list={{@model.iconSets}}
          @value={{@model.icon.iconSet}}
          @onChange={{this.changeIconSet}}
        />
      {{else}}
        <LinkTo @route='browse.icons.set' @model={{@model.icon.iconSet.id}}>
          {{@model.icon.iconSet.name}}
        </LinkTo>
      {{/if}}
    </Manage::SideBarGroup>

    <Manage::Toggle
      @title={{t 'allow many instances'}}
      @id={{'toggle-allow-many-instances'}}
      @disabled={{this.isDisabled}}
      @value={{@model.icon.allowMany}}
      @onSave={{this.saveAllowMany}}
      @savingField={{this.savingField}}
    />

    <Manage::TextboxSuggestions
      @title={{t 'category'}}
      @value={{@model.icon.category}}
      @list={{this.categories}}
      @onSave={{this.saveCategory}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
    />

    <Manage::TextboxSuggestions
      @title={{t 'subcategory'}}
      @value={{@model.icon.subcategory}}
      @list={{this.subcategories}}
      @onSave={{this.saveSubcategory}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
    />

    <Manage::ParentIcon
      @title={{t 'parent icon'}}
      @onSave={{this.parentIconChanged}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @value={{@model.parentIcon}}
    />

    <div class='bottom pb-3 text-center'>
      <Manage::SideBarGroup>
        <Manage::DeleteButton
          @onDelete={{this.delete}}
          @modelName='icon'
          @name={{@model.icon.name}}
        />
      </Manage::SideBarGroup>
    </div>
  </Manage::SideBar>

  <Manage::Container>
    <Manage::Header
      @title={{capitalize (t 'edit-model.title' name=@model.icon.name)}}
    >
      <Breadcrumbs @value={{this.breadcrumbs}} />

      <Manage::Toolbar>
        <LinkTo
          @route='manage.icons.translate'
          @models={{array @model.iconSet.id @model.icon.id}}
          class='btn btn-secondary'
        >
          <FaIcon @icon='language' />
          <span class='capitalize-first-letter'>{{t 'translate'}}</span>
        </LinkTo>
      </Manage::Toolbar>
    </Manage::Header>

    {{#if this.alertList}}
      <Manage::Row>
        <AlertList @list={{this.alertList}} />
      </Manage::Row>
    {{/if}}

    {{#if @model.parentIconSet}}
      {{#unless @model.parentIconSet.visibility.isPublic}}
        <Manage::Row />
      {{/unless}}
    {{/if}}

    <Manage::Row @name='article'>
      <Article::Manage
        @value={{@model.icon.contentBlocks}}
        @onPublish={{this.saveArticle}}
        class='mb-3'
      />
    </Manage::Row>

    <hr />

    <Manage::Row @name='icon'>
      <h2 class='capitalize-first-letter'>{{t 'icon-label'}}</h2>

      <Input::Icon
        @isSaving={{this.isSavingIcon}}
        @value={{@model.icon.image}}
        @parentValue={{@model.parentIcon.image}}
        @onChange={{this.changeIconImage}}
      />
    </Manage::Row>

    <Manage::Row @name='attributes'>
      <Manage::IconAttributes
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @icon={{@model.icon}}
        @value={{@model.icon.attributes}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @onSave={{this.saveAttributes}}
      />
    </Manage::Row>

    <Manage::Row @name='styles'>
      <Manage::IconStyle
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @value={{@model.icon.styles}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @onSave={{this.saveStyles}}
      />
    </Manage::Row>
  </Manage::Container>
{{/if}}