{{page-title @model.iconSet.name " | " (t "edit-label") }}

<Manage::SideBar>
  <Manage::Visibility
      @model={{@model.iconSet}}
      @teams={{@model.teams}}
      @hasIsDefault={{true}}

      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}

      @isAdmin={{this.user.isAdmin}}
      @areAllShowing={{this.allTeams}}
      @onChangeAll={{this.changeAll}}

      @saveIsPublic={{this.saveIsPublic}}
      @saveIsDefault={{this.saveIsDefault}}
      @saveTeam={{this.saveTeam}}

      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
  />

  <div class="bottom pb-3 text-center">
    <Manage::SideBarGroup>
      <Manage::DeleteButton
          @onDelete={{this.delete}}
          @modelName="icon-set"
          @name={{@model.iconSet.name}}
        />
    </Manage::SideBarGroup>
  </div>
</Manage::SideBar>

<Manage::Container>
  <Manage::Header @title={{capitalize (t "edit icon set")}}>
    <Breadcrumbs @value={{this.breadcrumbs}} />
  </Manage::Header>

  <Manage::Row @name="article">
    <Article::Manage @value={{@model.iconSet.contentBlocks}} @onPublish={{this.saveArticle}} class="mb-3"/>
  </Manage::Row>

  <hr/>

  <Manage::Row @name="cover-photo">
    <h2 class="capitalize-first-letter title">
      {{t "cover photo"}}
    </h2>

    <div class="form-group mt-2">
      <Input::PictureAuto
        @createImage={{this.createImage}}
        @value={{@model.iconSet.cover}}
        @save={{this.saveCover}}
      />
    </div>
  </Manage::Row>

  <Manage::Row @name="icon-set-style">
    <Manage::IconSetStyle
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}

        @value={{@model.iconSet.styles}}

        @onCancel={{this.cancel}}
        @onEdit={{this.edit}}
        @onSave={{this.saveStyle}} />
  </Manage::Row>
</Manage::Container>
