<Fullscreen
  class='map-wrapper {{unless this.embed.isEnabled "disable"}}'
  @isFullscreen={{this.isFullscreen}}
  @onFullScreen={{this.fullScreen}}
  @onFullscreenRequest={{this.fullscreenRequest}}
>
  <div
    id={{this.elementId}}
    class='page-col-map-view map-view
      {{if this.isTransitioning "is-transitioning"}}
      {{if this.isHover "cursor-pointer"}}'
    style={{this.style}}
    {{on 'contextmenu' this.showMapContextMenu}}
    {{on 'click' this.hideMapContextMenu}}
    {{on 'transitionend' this.transitionEnd}}
    {{did-insert this.setup}}
  >
    <Filters::MapSearchBis
      @isActive={{this.shouldTransition}}
      @onActivate={{this.enableSpotlight}}
      class='{{if this.isSpotlight "" "has-feature-content"}}'
    />

    {{#unless this.fastboot.isFastBoot}}
      <Map::Plain as |map|>
        <Map::View
          @map={{map}}
          @extentM={{this.extentM}}
          @onChangeExtent={{this.handleExtentChange}}
          @onChangeCenter={{this.changeCenter}}
        />

        <Map::Layer::Base
          @map={{map}}
          @value={{this.selectedBaseMap}}
          @cacheId={{this.mapId}}
        />

        <Map::Layer::VectorTiles
          @style={{this.mapStyles.styleFunction}}
          @selectedId={{this.selectedFeature}}
          @map={{map}}
          @bearer={{this.bearer}}
          @url={{this.tilesUrl}}
          @onLayerUpdate={{fn this.setupLayer map}}
          @onHover={{this.hoverFeature}}
          @onSelect={{this.selectFeature}}
          @cacheId={{this.mapId}}
        />

        {{#if (eq this.featureSelection.type 'pending')}}
          <Map::Overlay
            @map={{map}}
            @position={{this.featureSelection.coordinates}}
          >
            <div class='pending-label content site-list p-2 text-info'>
              {{t 'feature-pending-message'}}
            </div>
          </Map::Overlay>
        {{/if}}

        {{#if (eq this.featureSelection.type 'group')}}
          <Map::Overlay
            @map={{map}}
            @position={{this.featureSelection.coordinates}}
          >
            <Map::Marker::Group
              @map={{map}}
              @feature={{this.featureSelection.group}}
              @onZoom={{this.selectFeature}}
              @onSelect={{this.selectFeatureFromGroup}}
            />
          </Map::Overlay>
        {{/if}}

        {{#if this.position.hasGeoLocationPosition}}
          <Map::Layer::UserPosition
            @map={{map}}
            @position={{this.position.center}}
            @accuracy={{this.position.accuracy}}
          />
        {{/if}}

        <Map::Container @left={{true}} @bottom={{true}} @right={{true}}>
          <div class='attributions'>
            {{#each this.attributions as |attribution|}}
              {{#if attribution.url}}
                <a
                  target='_blank'
                  href={{attribution.url}}
                  rel='noopener noreferrer'
                >{{attribution.name}}</a>
              {{else}}
                <span>{{attribution.name}}</span>
              {{/if}}
            {{/each}}
          </div>
        </Map::Container>

        <Map::Container @right={{true}} @bottom={{true}} class='p-1'>
          <Map::Controls @onLocalize={{this.localize}} @map={{map}} />
          <Map::BaseMapSelect
            @list={{this.baseMaps}}
            @selected={{this.selectedBaseMap}}
            @onSelect={{this.selectBaseMap}}
          />
        </Map::Container>

        <Map::Interaction::DoubleClickZoom
          @map={{map}}
          @duration={{150}}
          @delta={{1}}
        />
      </Map::Plain>
    {{/unless}}
  </div>
</Fullscreen>