<p>
  <strong>{{this.group.emptyMessage}}</strong>
</p>

{{#if this.group.sectionName}}
  <button class="btn btn-outline-primary" type="button" {{action "editSection" this.group.sectionName}}>
    <FaIcon @icon="plus" /> {{this.group.name}}
  </button>
{{/if}}
