{{#if (and this.hasOptions this.hasValues)}}
  <button
    type='button'
    class='btn btn-link btn-change float-end pt-3 pb-0'
    {{on 'click' this.showOptions}}
  >
    {{t 'change'}}
  </button>
{{/if}}

{{#if (or this.hasValues this.hasNoData)}}
  <div class='name-list p-3'>{{this.stringValue}}</div>
{{else}}
  <button
    type='button'
    class='btn btn-link d-block btn-add float-start p-3 pb-0 border-0 capitalize-first-letter'
    {{on 'click' this.showOptions}}
  >
    {{t 'add one or more maps'}}
  </button>
{{/if}}

{{#if this.optionsVisible}}
  <ul class='list-group list-group-flush'>
    {{#each this.optionValues as |option|}}
      <button
        type='button'
        class='list-group-item list-group-item-action
          {{if option.selected 'active'}}'
        {{action 'select' option}}
        onblur={{action 'hideOptions'}}
      >
        {{option.name}}
      </button>
    {{/each}}
  </ul>
{{/if}}