{{page-title this.model.article.title ' | ' (capitalize (t 'edit-label'))}}

<Manage::SideBar>
  <Manage::Visibility
      @model={{this.editableModel}}
      @teams={{@model.teams}}
      @hasIsDefault={{false}}

      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}

      @isAdmin={{this.user.isAdmin}}
      @areAllShowing={{this.allTeams}}
      @onChangeAll={{this.changeAll}}

      @saveIsPublic={{this.saveIsPublic}}
      @saveIsDefault={{this.saveIsDefault}}
      @saveTeam={{this.saveTeam}}

      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
  />

  <Manage::ModelInfo
    @editablePanel={{this.editableField}}
    @savingPanel={{this.savingField}}
    @model={{this.editableModel}}
    @onSave={{this.save}}
    @onCancel={{this.restore}}
    @onEdit={{this.edit}}
  />
</Manage::SideBar>

<Manage::Container>
  <Manage::Row @name="article">
    <Article::Manage @value={{@model.article.contentBlocks}} @onPublish={{this.saveArticle}} @onPictureUpload={{this.onPictureUpload}} class="mb-3" />
  </Manage::Row>

  <hr>

  <Manage::Row @name='slug'>
    <Input::Manage::Text
      @title={{capitalize (t 'slug')}}
      @isMainValue={{true}}
      @value={{@model.article.slug}}
      @emptyError={{capitalize (t 'this article has no slug')}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @onSave={{fn this.saveField 'slug'}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />
  </Manage::Row>
</Manage::Container>