.contributions-calendar {
  .empty-cell {
    fill: $gray-300;
  }

  .day-label {
    font-size: 12px;
    fill: $gray-800;
  }

  .level-cell-1 {
    fill: rgba($success, 0.2);
  }

  .level-cell-2 {
    fill: rgba($success, 0.5);
  }

  .level-cell-3 {
    fill: $success;
  }

  .level-cell-4 {
    fill: darken($success, 10%);
  }

  .level-cell-5 {
    fill: darken($success, 20%);
  }
}