@import './lato/latin';
@import './lato/latin-ext';

@import 'simplemde.min';

@import 'swiper';

@import './bootstrap/custom-bootstrap';
@import './jsoneditor';
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';

$break-small: 1500px;
$break-extra-small: 577px;
$break-large: 2000px;

$transparency-color: rgba(255, 255, 255, 0.9);
$transparency-blur: blur(2px);
$transparency-border: 1px solid $gray-300;

@import 'ember-ol';
@import 'local-map';
@import 'main-bar';

@import 'admin/issues';
@import 'admin/site';
@import 'admin/icon';
@import 'admin/side-bar';
@import 'admin/user';

@import 'input/index';

@import 'view/site';
@import 'view/site-gallery';
@import 'view/site-map';
@import 'view/map';
@import 'view/icons';
@import 'view/browse';
@import 'view/contribute';
@import 'view/picture';
@import 'view/picture-progress';
@import './manage';

@import 'filters/index';

@import 'popup-filter';

@import 'card-map';
@import 'table-sheet';
@import 'banner-pictures';

@import 'loading';

@import 'map';
@import 'icon-selector';

@import 'icon-selector';
@import 'components';
@import 'toaster-list';
@import './browse';
@import './map-style';
@import './page-col';
@import './sheet';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $gray-100;
  height: 100%;
}

a {
  cursor: pointer;
}

body > .ember-view > .container-fluid,
body > .ember-view > .container-fluid > .row {
  height: 100%;
}

body > canvas {
  display: none;
}

.text-size-0 {
  font-size: 0;
}

.vertical-align-top {
  vertical-align: top;
}

.height-1em {
  vertical-align: top;
}

.overflow-visible:not(.liquid-animating) {
  overflow: visible !important;

  & > .liquid-child {
    overflow: visible !important;
  }
}

.overflow-hide {
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
}

.fixed-height {
  height: 100%;
}

.editor-toolbar {
  background: #fff;
}

.site-data {
  overflow: auto;
  height: 100%;
}

#siteDescription {
  min-height: 100px;
}

.new-site,
.site-data {
  padding-bottom: 20px;
  height: 100%;
  overflow: auto;
}

#addSitePhoto {
  display: none;
}

.card-body a.link-edit,
a.link-edit {
  font-weight: normal;
  color: $primary;
}

.ember-power-select-trigger input {
  color: $black;
}

.btn-check {
  padding: 3px;
  margin: 0;
  width: 60px;
  border-radius: 20px;
  text-align: left;
  font-size: 25px;
  line-height: 0;

  &.btn-secondary {
    padding-left: 30px;
  }

  i {
    vertical-align: middle;
  }
}

.editor-toolbar.fullscreen,
.CodeMirror-fullscreen {
  z-index: 9999;
}

.ember-power-select-trigger-multiple-input {
  padding: $input-padding-y $input-padding-x;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
}
.ember-power-select-trigger {
  border-radius: $input-border-radius;
}

pre.log {
  padding: 10px;
  background-color: $gray-200;
  min-height: 200px;
}

td p:last-of-type {
  margin-bottom: 0;
}

.img-sm {
  height: 30px;
}

.btn {
  code {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  p {
    margin: 0;
  }
}

.tooltip {
  z-index: 999999;
}

.cursor-pointer {
  cursor: pointer;
}

#ember-testing {
  width: 100%;
  height: 100%;
}

.ember-power-select-trigger {
  line-height: $nav-link-height;
}

.dropdown-item {
  cursor: pointer;
}

.popover {
  z-index: 999;
}

.liquid-container {
  -webkit-transform: initial !important;
  -moz-transform: initial !important;
  transform: initial !important;

  width: inherit;
  height: inherit;
  overflow: inherit;

  & > .liquid-child {
    width: inherit;
    height: inherit;
    overflow: inherit;

    & + .liquid-child {
      display: none;
    }
  }
}

.small-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.breadcrumb-item {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.alert p:last-child {
  margin-bottom: 0;
}

a,
.btn-link {
  text-decoration: none;
}

.dropdown-menu-end {
  right: 0;
}

#ember-testing-container * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.alert-plain {
  color: $gray-600;
}

.alert {
  div, p {
    display: inline;
  }

  button {
    padding: 0;
    line-height: inherit;
    display: inline;
    vertical-align: unset;
    text-decoration: underline;
  }
}

@for $i from 1 through 9 {
  .min-vh-#{$i}0 {
    min-height: #{$i}0vh !important;
  }

  .min-vh-#{$i}5 {
    min-height: #{$i}5vh !important;
  }
}