.map-card {
  background-color: transparent;
  border: 0;
  border-radius: 0;

  .cover {
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
  }

  .card-body {
    padding: 10px 10px 0 10px;

    .map-name {
      font-weight: bold;
      font-size: 1rem;
    }

    a {
      color: $gray-900;
      font-size: 14px;
    }
  }
}