$jse-white: $white !default;
$jse-grey: $gray-500 !default;
$jse-light-bg: $light !default;
$jse-blue: $primary !default;
$jse-content-color: $dark !default;

$jse-string: $green !default;
$jse-number: $indigo !default;
$jse-boolean: $indigo !default;
$jse-null: $blue !default;
$jse-invalid: $red !default;
$jse-readonly: $teal !default;
$jse-empty: $gray-500 !default;
$jse-preview: $gray-500 !default;
$jse-busy: $yellow !default;
$jse-busy-border-color: $gray-500 !default;

$jse-error: $danger !default;
$jse-separator: $light !default;
$jse-highlight-bg: $yellow !default;
$jse-highlight-border-color: $gray-500 !default;

$jse-popover-bg: $dark !default;
$jse-bar-bg: $jse-light-bg !default;
$jse-bar-border: $jse-empty !default;

$jse-menu-color: $jse-empty !default;

$jse-contextmenu-color: $dark !default;

$jse-box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3) !default;
$jse-box-shadow-sm: 0 0 5px rgba(0, 0, 0, 0.4) !default;
$jse-box-shadow-inner: inset 0 0 10px rgba(128, 128, 128, 0.5) !default;

$jse-date: #a1a1a1 !default;

$jse-font: $font-family-base;
$jse-font-mono: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier, monospace, sans-serif !default;
$jse-font-size: $font-size-base;

$jse-icons: "./img/jsoneditor-icons.svg" !default;
$jse-icons-url: url($jse-icons) !default;
$jse-color-value: $jse-content-color !default;

@import "jsoneditor/reset";
@import "jsoneditor/autocomplete";
@import "jsoneditor/contextmenu";
@import "jsoneditor/editor";
@import "jsoneditor/menu";
@import "jsoneditor/navigationbar";
@import "jsoneditor/searchbox";
@import "jsoneditor/statusbar";
@import "jsoneditor/treepath";
@import "selectr";

textarea {
  &.jsoneditor-text {
    line-height: $line-height-base;
    resize: vertical;
  }
}