.map-style {
  .extent {
    color: $pink;
    background-color: transparent;
    border: 2px solid rgba($red-800, 0.8);
  }

  .polygon {
    color: $primary;
    background-color: rgba($light, 0.5);
    font-size: 1px;
  }

  .line {
    border-color: $primary;
    background-color: rgba($dark, 0.5);
    font-size: 2px;
  }

  .point {
    border-color: $gray-300;
    background-color: rgba($light, 0.5);
    font-size: 1px;
  }

  .selection {
    border-color: $gray-900;
    background-color: rgba($light, 0.9);
    font-size: 0.5px;
  }

  .pending-point {
    width: 0;
    background-color: rgba($white, 0.7);
    border: 1px solid rgba($white, 0.8);
    opacity: 0.7;
  }

  .pending-point-badge {
    width: 0;
    background-color: $orange;
    border: 1px solid rgba($white, 0.7);
  }

  .private-point-badge {
    width: 0;
    background-color: $dark;
    border: 1px solid rgba($white, 0.7);
  }

  .selected-point {
    width: 0;
    background-color: $white;
    border: 1px solid $black;
    z-index: 9999999;
  }

  .debug-0, .debug-10, .debug-20, .debug-30 {
    border-color: rgba($dark, 0.5);
    background-color: transparent;
    font-size: 0.5px;
  }

  .group {
    border-color: $primary;
    width: 15px;
    z-index: 0;
  }

  .group-0 {
    background-color: rgba(lighten($primary, 30%), 0.8);
  }

  .group-1 {
    background-color: rgba(lighten($primary, 20%), 0.8);
  }

  .group-2 {
    background-color: rgba(lighten($primary, 10%), 0.8);
  }

  .group-3 {
    background-color: rgba($primary, 0.8);
  }

  .group-4 {
    background-color: rgba(darken($primary, 10%), 0.8);
  }

  .group-5 {
    background-color: rgba(darken($primary, 20%), 0.8);
  }

  .group-6 {
    background-color: rgba(darken($primary, 30%), 0.8);
  }

  .group-7 {
    background-color: rgba(darken($primary, 40%), 0.8);
  }

  .group-text {
    color: transparent;
    font-size: 11px;
    font-weight: 100;
  }

  .group-text-0 {
    background-color: $dark; //darken($light, 30%)
  }

  .group-text-1 {
    background-color: $dark; //darken($light, 20%)
  }

  .group-text-2 {
    background-color: $dark; //darken($light, 10%)
  }

  .group-text-3 {
    background-color: $light;
  }

  .group-text-4 {
    background-color: lighten($light, 10%)
  }

  .group-text-5 {
    background-color: lighten($light, 20%)
  }

  .group-text-6 {
    background-color: lighten($light, 30%)
  }

  .group-text-7 {
    background-color: lighten($light, 40%)
  }
}
