.icons-order {
  &.hide-icon-type-label {
    .icon-type-label {
      display: none;
    }
  }

  &.show-icon-type-label {
    .dragSortItem {
      &:first-child {
        border-right: 1px solid $gray-400;
      }
    }
  }

  .dragSortList {
    overflow: visible;
  }

  .dragSortItem {
    &:first-child {
      .icon-name {
        color: $primary;
      }
    }

    &:nth-child(2) {
      margin-left: $spacer;
    }

    .btn-remove-icon {
      position: absolute;
      right: $spacer * -1;
      top: -10px;
    }
  }

  .title {
    display: inline-block;
    width: 75px;
    margin-right: $spacer;

    &:nth-child(2) {
      margin-left: $spacer;
    }
  }

  .icon-container {
    position: relative;
    min-height: 75px;
    width: 75px;
    display: inline-block;
    vertical-align: top;
    line-height: 1em;
    margin: $spacer * 0.5;

    .icon-select {
      border: 1px dashed $gray-400;
      vertical-align: top;
      width: 75px;
      height: 100px;
    }

    .icon-name {
      font-size: 0.8rem;
    }

    img {
      cursor: pointer;
    }

    img {
      height: 75px;
      width: 75px;
    }
  }
}

.group-icons .icons-order {
  .title {
    display: none;
  }
}
