{{page-title @model.feature.name ' | ' @model.map.name}}

<div class='main-container'>
  <div class='container pt-4 mb-5 site-article'>
    <div class='row'>
      <div class='col'>
        {{#if (and @model.feature.canEdit (not @model.feature.maps))}}
          <div
            class='mt-4 alert alert-danger alert-no-map alert-dismissible fade show'
            role='alert'
          >
            {{capitalize (t 'this site is not linked to a map.')}}

            <LinkTo
              @route='manage.sites.edit'
              class='alert-link'
              @model={{@model.feature.id}}
            >
              {{capitalize (t 'edit to add one.')}}
            </LinkTo>

            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='alert'
              aria-label='Close'
            ></button>
          </div>
        {{/if}}

        {{#unless @model.feature.hasPictures}}
          <div
            class='mt-4 alert alert-primary alert-dismissible fade show'
            role='alert'
          >
            {{capitalize (t 'this site has no pictures.')}}

            {{#if @model.feature.canEdit}}
              <LinkTo
                @route='manage.sites.edit'
                class='alert-link'
                @model={{@model.feature.id}}
              >
                {{capitalize (t 'edit to add one.')}}
              </LinkTo>
            {{else}}
              <button
                type='button'
                class='btn btn-link alert-link m-0 p-0'
                {{on 'click' this.showSuggestPhotoModal}}
              >
                {{capitalize (t 'be the first who adds one.')}}
              </button>
            {{/if}}
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='alert'
              aria-label='Close'
            ></button>
          </div>
        {{/unless}}
      </div>
    </div>

    <div class='row'>
      <div class='col'>
        <h1 class='mb-0'>
          <Article::Title @value={{@model.feature.contentBlocks}} />

          <VisibilityIcon @value={{@model.feature.visibility}} />
        </h1>

        {{#if @model.feature.canEdit}}
          <div class='btn-group float-end btn-manage-actions'>
            {{#if @model.feature.isPublished}}
              <Input::Button
                class='btn btn-outline-secondary btn-manage-unpublish'
                @action={{this.unpublish}}
              >
                {{capitalize (t 'make private')}}
              </Input::Button>
            {{else}}
              <Input::Button
                class='btn btn-outline-secondary btn-manage-publish'
                @action={{this.publish}}
              >
                {{capitalize (t 'make public')}}
              </Input::Button>
            {{/if}}
            <Dropdown
              @isDropdownToggle={{true}}
              @toggleClass='btn-outline-secondary'
            >
              <Browse::Site::Options @id={{@model.feature.id}} />
            </Dropdown>
          </div>
        {{/if}}

        <Breadcrumbs @value={{this.breadcrumbs}} />
      </div>
    </div>

    <div class='row'>
      <div class='col-md-8'>
        <Browse::Icon::List @icons={{@model.feature.icons}} @size='lg' />
        <Browse::PrimaryPicture
          @pictures={{@model.feature.pictures}}
          @alt={{@model.feature.name}}
          class='mt-3'
        />

        {{#if @model.feature.hasPictures}}
          <button
            class='btn-link btn btn-show-fullscreen'
            type='button'
            disabled={{this.fastboot.isFastBoot}}
            {{on 'click' (fn this.presentPicture 0)}}
          >
            <FaIcon @icon='expand-arrows-alt' />
            {{t 'show in fullscreen'}}
          </button>
        {{/if}}

        <div class='description mt-3'>
          <Article::Viewer @value={{@model.feature.descriptionContentBlocks}} />
        </div>

        <div>
          <Browse::Site::Attributes
            @value={{@model.feature.displayIconAttributes}}
            class='mt-4'
          />

          <p class='capitalize-first-letter feature-author'>
            {{t 'added on'}}
            <b>{{format-date
                @model.feature.info.createdOn
                day='numeric'
                month='long'
                year='numeric'
              }}</b>.
          </p>

          {{#if @model.profile}}
            <Browse::Profile::Card
              @profile={{@model.profile}}
              @isSquare={{true}}
              class='me-3'
            />
          {{/if}}

          <hr />
          {{#each @model.feature.maps as |map|}}
            <div class='row mb-5'>
              <div class='col'>
                <h4>{{map.name}}</h4>
                <Article::FirstParagraph
                  @contentBlocks={{@model.map.contentBlocks}}
                />
                <br />
                <LinkTo @route='browse.sites' @query={{hash map=@model.map.id}}>
                  {{capitalize (t 'read more...')}}
                </LinkTo>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <div class='col pt-3'>
        <h4>{{t 'Where?'}}</h4>
        {{#if @model.feature.isMasked}}
          <p class='masked-info alert alert-info' role='alert'>{{capitalize
              (t 'masked feature info')
            }}</p>
        {{/if}}
        <Browse::Geometry
          @isSmall={{true}}
          @icon={{@model.feature.firstIcon}}
          @extent={{this.extent}}
          @baseMaps={{@model.baseMaps}}
          @value={{@model.feature.position}}
        />

        <hr />

        <div class='picture-list mb-3'>
          {{#each @model.feature.pictures as |picture index|}}
            {{#if (not-eq index 0)}}
              <div
                class='picture-container'
                {{on 'click' (fn this.presentPicture index)}}
              >
                <img
                  src='{{picture.picture}}/sm'
                  class='m-1'
                  alt=''
                  role='presentation'
                />

                {{#if picture.is360}}
                  <FaIcon @icon='street-view' />
                {{/if}}
              </div>
            {{/if}}
          {{/each}}
        </div>

        <Browse::SoundList @sounds={{@model.feature.sounds}} />
      </div>
    </div>

    <div class='row site-view'>
      <div class='col'>
        <button
          type='button'
          class='btn btn-link btn-report-a-problem ps-0'
          {{on 'click' this.showReportProblemModal}}
        >
          {{capitalize (t 'report a problem')}}
        </button>

        <button
          type='button'
          class='btn btn-link btn-suggest-a-photo ps-0'
          {{on 'click' this.showSuggestPhotoModal}}
        >
          {{capitalize (t 'suggest a photo')}}
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class='{{if this.isFullscreen 'd-block' 'd-none'}} site-article-fullscreen'
>
  <Fullscreen
    class='banner-pictures'
    @isFullscreen={{this.isFullscreen}}
    @onFullScreen={{this.fullScreen}}
    @onFullscreenRequest={{this.fullScreen}}
  >
    {{#if this.picture.is360}}
      <ImageSphere
        @picture={{this.picture}}
        @alt={{@model.feature.name}}
        @fitParent={{true}}
      />
    {{else if this.picture}}
      <Swiper>
        {{#each @model.feature.pictures as |picture|}}
          {{#unless picture.is360}}
            <div
              class='swiper-slide
                {{if (eq picture.id this.picture.id) 'selected'}}'
            >
              <div style={{picture.styleLg}} class='bg-picture'></div>
            </div>
          {{/unless}}
        {{/each}}
      </Swiper>
    {{/if}}

  </Fullscreen>
</div>

<ModalContainer
  @title={{capitalize (t 'suggest a photo')}}
  @visible={{this.suggestPhotoVisible}}
  @resolve={{this.suggestPhoto}}
>
  <div class='upload-site-picture'>
    <Input::Picture
      class='w-100'
      @onChange={{this.setIssuePhoto}}
      @content={{this.photoIssue.file}}
      @createImage={{this.createPhoto}}
    />
  </div>

  {{! template-lint-disable require-input-label }}
  <Input
    class='form-control mt-3 picture-title'
    placeholder={{capitalize (t 'write a few words about the picture')}}
    @value={{this.photoIssue.title}}
  />

  {{#if this.photoError}}
    <p class='text-danger mt-3 mb-1'>{{this.photoError}}</p>
  {{/if}}
</ModalContainer>

<ModalContainer
  @title={{capitalize (t 'report a problem')}}
  @visible={{this.reportProblemVisible}}
  @resolve={{this.reportProblem}}
>
  <div class='mb-2'>
    <label>{{capitalize (t 'title')}}</label>
    {{! template-lint-disable require-input-label }}
    <Input
      class='form-control'
      placeholder={{capitalize (t 'Give a few words about the issue')}}
      @value={{this.issue.title}}
    />
  </div>

  <div class='mb-2'>
    <label>{{capitalize (t 'description')}}</label>
    {{! template-lint-disable require-input-label }}
    <Textarea
      @value={{this.issue.description}}
      class='report-problem-description'
    />
  </div>
</ModalContainer>