{{#unless @hideViewFeatures}}
  <LinkTo @route="browse.sites" target={{this.linkTarget}} @query={{hash map=@map.id embed=null}} class="btn-map-features {{if @isSmall "btn btn-link" "dropdown-item dropdown-item-view-features text-start"}}">
    <FaIcon @icon="th" />
    {{#unless @isSmall}}
      {{capitalize (t "view features")}}
    {{/unless}}
  </LinkTo>
{{/unless}}

{{#if @map.canEdit}}
  <LinkTo @route="manage.maps.edit" target={{this.linkTarget}} @model={{@map.id}} @query={{hash embed=null}} class="btn-edit-map {{if @isSmall "btn btn-link" "dropdown-item dropdown-item-edit text-start"}}">
    <FaIcon @icon="pencil-alt" />
    {{#unless @isSmall}}
      {{capitalize (t "edit the map")}}
    {{/unless}}
  </LinkTo>

  <LinkTo @route="manage.maps.import" target={{this.linkTarget}} @model={{@map.id}} @query={{hash embed=null}} class="btn-import-map {{if @isSmall "btn btn-link" "dropdown-item dropdown-item-file-import text-start"}}">
    <FaIcon @icon="file-import" />
    {{#unless @isSmall}}
      {{capitalize (t "map files")}}
    {{/unless}}
  </LinkTo>

  <LinkTo @route="sheet.map" target={{this.linkTarget}} @model={{@map.id}} @query={{hash embed=null}} class="btn-map-sheet {{if @isSmall "btn btn-link" "dropdown-item dropdown-item-map-sheet text-start"}}">
    <FaIcon @icon="table" />
    {{#unless @isSmall}}
      {{capitalize (t "map sheet")}}
    {{/unless}}
  </LinkTo>
{{/if}}

{{#if @onDelete}}
  <div class="dropdown-divider"></div>
  <Manage::DeleteButton
      class="dropdown-item dropdown-item-delete text-start btn-delete text-danger"
      @onDelete={{this.onDelete}}
      @modelName="map"
      @name={{@map.name}}
      @deleteOptions={{concat "yes:" (t "yes and remove sites")}}
    />
{{/if}}