@keyframes circle-loading {
  0% {
    background-color: $gray-500;
  }
  50% {
    background-color: $gray-600;
  }
  100% {
    background-color: $gray-500;
  }
}

.full-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999;

  pointer-events: none;
  background-color: $gray-200;
  opacity: 0;

  transition: opacity ease-out 1s;

  &.is-visible {
    opacity: 1;
  }

  .content {
    text-align: center;
    font-size: 0;
    margin: auto;
  }

  .logo {
    display: block;
    margin-bottom: $spacer;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
    max-width: 80%;
  }

  .circle {
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: $gray-500;

    display: inline-block;
    border-radius: 100%;
    margin: $spacer * 0.5;

    animation-name: circle-loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  .circle-2 {
    animation-delay: 0.5s;
  }

  .circle-3 {
    animation-delay: 1s;
  }
}
