.image-sphere {
  position: relative;

  .spinner {
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    color: $gray-500;
  }

  .picture-360-view {
    font-size: 1em;
    transition: opacity ease-in 1s;
    opacity: 1;

    &.is-loading {
      opacity: 0;
    }
  }
}