@import './attributes/index';
@import './input/index';
@import './browse/index';
@import './profile/index';
@import './image-sphere';
@import './article';

@import './icon-selector';
@import './full-loading';
@import './map-context-menu';
@import './loading-group';
@import './fullscreen';
@import './profile-picture';
@import './card-cover';
@import './presentation-slider';
@import './page-col';
@import './slides';
@import './native-scrollbar';
@import './help-tooltip';
@import './layout-cols';
@import './bs-col-widths';
@import './manage';

strong,
span,
a {
  &.capitalize-first-letter {
    display: inline-block;
  }
}

.capitalize-first-letter {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}
