.presentation-slider {
  .controls {
    display: none;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-article {
    padding: 0 $spacer * 2;
    background-color: $white;
  }

  .article-container {
    overflow-y: auto;
  }

  .page {
    min-height: 400px;
  }

  .page-col-picture {
    text-align: center;

    img {
      max-width: 1060px;
    }
  }

  .article-viewer {
    max-width: 380px;
    margin: auto;

    h1,
    h2 {
      font-size: $font-size-base * 1.3;

      @include media-breakpoint-up(md) {
        font-size: $font-size-base * 1.5;
      }

      @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2;
      }

      margin: 0;
      line-height: 1.1;
    }

    h1 {
      color: $primary;
      margin-bottom: $spacer * 0.5;
      font-weight: 900;
    }

    h2 {
      margin-bottom: $spacer * 0.5;
      font-weight: 900;

      @include media-breakpoint-up(md) {
        margin-bottom: $spacer * 1.5;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: $spacer * 2;
      }
    }

    ul {
      margin-left: -13px;
    }

    p,
    li {
      font-size: $font-size-base * 0.9;

      @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 1;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .presentation-article {
      flex: 1 1 50%;
      max-height: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

    .presentation-article {
      align-items: center;
      flex-direction: column;
      display: flex;

      flex: 1 1 40%;
      height: 100%;
      max-width: 600px;
      height: 100%;
      background-color: $white;
      margin: auto;
      position: relative;

      .article-container {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .controls {
        width: 100%;
        display: flex;
        align-items: stretch;
        padding: 0 $spacer * 2 $spacer;
        line-height: $spacer * 3;

        .btn {
          width: $spacer * 3;
          height: $spacer * 3;
        }
      }
    }

    .presentation-content {
      position: relative;
      height: 100%;
      align-items: center;
      flex: 1 1 60%;
      overflow: hidden;
    }

    .page {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: all 0.5s ease-in;
      pointer-events: none;

      &.current {
        opacity: 1;
        pointer-events: all;
      }
    }

    .page-col {
      padding: 0 $spacer * 2;
      margin: auto;
    }
  }
}
