<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>{{this.model.feature.name}}</h1>

      <MarkDown @value={{this.model.feature.description}} />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Issues</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Author</th>
            <th>Creation Date</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {{#each this.issues as |item|}}
            {{#if item.id}}
              <tr>
                <td>{{item.title}}</td>
                <td>
                  {{item.description}}
                  {{#if item.hasImage}}
                    <img src={{item.file}} alt={{item.name}} class="issue-image">
                  {{/if}}
                </td>
                <td>{{item.type}}</td>
                <td>{{item.authorObject.name}}</td>
                <td>{{item.creationDate}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button type="button" class="btn btn-secondary" {{action "resolve" item}}>
                    <FaIcon @icon='check' />
                  </button>

                  <button type="button" class="btn btn-danger" {{action "reject" item}}>
                    <FaIcon @icon='trash' />
                  </button>
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>

      {{#if @model.buckets.loadedAny}}
        <InfinityLoader @infinityModel={{@model.buckets}} @hideOnInfinity={{true}} @triggerOffset={{400}} @eventDebounce={{50}}>
          <div class="text-center pb-5">
            <FaIcon @icon="spinner" @spin={{true}} />
          </div>
        </InfinityLoader>
      {{/if}}
    </div>
  </div>
</div>
