{{#if this.hasEditableKey}}
  <div class="input-group">
    {{!-- template-lint-disable require-input-label --}}
    <Input @value={{this.tmpKey}} class="form-control input-attribute-name" />

    <button class="btn btn-outline-secondary btn-delete" type="button" {{action "delete"}}>
      <FaIcon @icon="trash" />
    </button>
  </div>
{{else}}
  <strong>{{this.key}}</strong>
  {{#if this.isRequired}}
    <span class="text-danger is-required-asterisk">*</span>
  {{/if}}<br>
{{/if}}

{{#if this.invalid}}
  {{!-- template-lint-disable require-input-label --}}
  <Input @value={{this.tmpValue}} class="form-control is-invalid input-attribute-value" />

  <div class="invalid-feedback">
    {{t "the attribute value is invalid."}}
  </div>
{{else}}
  {{#if this.isBoolType}}
    <Input::CheckboxDisabled @value={{this.tmpValue}} />
  {{/if}}

  {{#if this.isOptionType}}
    <Input::Select @list={{this.list}} @value={{this.tmpValue}} @onChange={{this.change}}/>
  {{/if}}

  {{#if this.isDefaultType}}
    <Input @value={{this.tmpValue}} class="form-control input-attribute-value" />
  {{/if}}
{{/if}}
