<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn {{if this.checked "btn-success" "btn-outline-secondary"}}" {{action "check"}}>
    <FaIcon @icon="check-circle" />
  </button>

  <button type="button" class="btn {{if this.notChecked "btn-danger" "btn-outline-secondary"}}" {{action "uncheck"}}>
    <FaIcon @icon="times-circle" />
  </button>

  <button type="button" class="btn {{if this.disabled "btn-secondary" "btn-outline-secondary"}}" {{action "disable"}}>
    <FaIcon @icon="question-circle" />
  </button>
</div>
