<Input::ContainerGroup
  @isMainValue={{true}}
  @title={{@title}}
  @onSave={{this.save}}
  @onCancel={{this.cancel}}
  @onEdit={{@onEdit}}
  @editablePanel={{@editablePanel}}
  @savingPanel={{@savingPanel}}
  as |editMode|
>
  {{#if editMode}}
    <div class='mb-2'>
      <label for='campaigns-settings-name-label-{{this.id}}'>{{capitalize
          (t 'campaign-feature-name-label')
        }}</label>

      <div class='input-group mb-3'>
        <div class='input-group-text'>
          {{! template-lint-disable require-input-label }}
          <Input
            class='show-name-question'
            @type='checkbox'
            @checked={{this.showNameQuestion}}
          />
        </div>
        <Input
          class='form-control name-label'
          id='campaigns-settings-name-label-{{this.id}}'
          disabled={{not this.showNameQuestion}}
          @value={{this.nameLabel}}
          placeholder={{t 'campaign-settings-name-label-placeholder'}}
        />
      </div>
    </div>

    <div class='mb-2'>
      <label for='campaigns-settings-description-label-{{this.id}}'>{{capitalize
          (t 'campaign-feature-description-label')
        }}</label>

      <div class='input-group mb-3'>
        <div class='input-group-text'>
          {{! template-lint-disable require-input-label }}
          <Input
            class='show-description-question'
            @type='checkbox'
            @checked={{this.showDescriptionQuestion}}
          />
        </div>
        <Input
          class='form-control description-label'
          id='campaigns-settings-description-label-{{this.id}}'
          disabled={{not this.showDescriptionQuestion}}
          @value={{this.descriptionLabel}}
          placeholder={{t 'campaign-settings-description-label-placeholder'}}
        />
      </div>
    </div>

    <div class='mb-2'>
      <label for='campaigns-settings-icons-label-{{this.id}}'>{{capitalize
          (t 'campaign-icons-label')
        }}</label>
      <Input
        class='form-control icons-label'
        id='campaigns-settings-icons-label-{{this.id}}'
        @value={{this.iconsLabel}}
        placeholder={{t 'campaign-settings-icons-label-placeholder'}}
      />
      <label class='mt-3'>{{capitalize
          (t 'campaign-optional-icons-label')
        }}</label>
      <Input::Icons::List
        @icons={{@availableIcons}}
        @value={{this.icons.data.records}}
        @onChange={{this.iconsChanged}}
        @showIconTypeLabel={{false}}
      />
    </div>
  {{else}}
    <h5>{{capitalize (t 'campaign-feature-name-label')}}</h5>
    <p class='name-label font-weight-bold'>
      {{#if this.showNameQuestion}}
        {{this.nameLabel}}
      {{else}}
        {{capitalize (t 'disabled')}}
      {{/if}}
    </p>

    <h5>{{capitalize (t 'campaign-feature-description-label')}}</h5>
    <p class='description-label font-weight-bold'>
      {{#if this.showDescriptionQuestion}}
        {{this.descriptionLabel}}
      {{else}}
        {{capitalize (t 'disabled')}}
      {{/if}}
    </p>

    <h5>{{capitalize (t 'campaign-icons-label')}}</h5>
    <p class='icons-label font-weight-bold'>
      {{#if this.iconsLabel}}
        {{this.iconsLabel}}
        <PageCol::Icons @value={{this.icons}} />
      {{else}}
        {{capitalize (t 'disabled')}}
      {{/if}}
    </p>
  {{/if}}
</Input::ContainerGroup>