<Map::Layer::Vector @map={{this.map}} @onChange={{action "layerChange"}} as | vector source |>
  {{#if hasValue}}
    <Map::Features::Geojson::Polygon @source={{source}} @value={{this.value}} />
  {{/if}}

  {{#unless disabled}}
    {{#if (eq mode "free")}}
      {{#if hasValue}}
        <Map::Interaction::Select @map={{this.map}} @layer={{vector}} as |select features|>
          <Map::Interaction::Modify @map={{this.map}} @features={{features}} @onChange={{action "featureChange"}}/>
        </Map::Interaction::Select>
      {{else}}
        <Map::Interaction::Draw @map={{this.map}} @type="Polygon" @source={{source}} @onDrawEnd={{action "onNewPolygon"}}/>
      {{/if}}
    {{/if}}

    {{#if (eq mode "box")}}
      <Map::Interaction::Draw @map={{this.map}} @source={{source}} @type="Circle" @geometryFunction={{this.createBox}} @onDrawEnd={{action "onNewPolygon"}}/>
    {{/if}}
  {{/unless}}
</Map::Layer::Vector>