{{page-title @model.campaign.name}}

<div class='main-container {{if this.fullscreen.isEnabled ' overflow-hidden'}}'>
  <div class='container pt-4 mb-5 campaign-article'>
    <div class='row'>
      <div class='col'>
        <h1>
          {{this.title}}
          <VisibilityIcon @value={{@model.campaign.visibility.isPublic}} />
        </h1>
      </div>
    </div>

    <div class='row subtitle-container clearfix'>
      <div class='col'>
        {{#if @model.campaign.canEdit}}
          <div class='btn-group mb-1 float-end btn-manage-actions'>
            {{#if @model.campaign.visibility.isPublic}}
              <Input::Button
                class='btn btn-outline-secondary btn-manage-unpublish'
                @action={{this.unpublish}}
              >
                {{capitalize (t 'make private')}}
              </Input::Button>
            {{else}}
              <Input::Button
                class='btn btn-outline-secondary btn-manage-publish'
                @action={{this.publish}}
              >
                {{capitalize (t 'make public')}}
              </Input::Button>
            {{/if}}

            <Dropdown
              @isDropdownToggle={{true}}
              @toggleClass='btn-outline-secondary'
            >
              <Browse::Campaign::Options @campaign={{@model.campaign}} />
            </Dropdown>
          </div>
        {{/if}}

        <Breadcrumbs @value={{this.breadcrumbs}} />
      </div>
    </div>

    <div class='row'>
      <div class='col order-1 order-lg-0 pb-5'>
        <Article::Viewer @value={{this.contentBlocks}} />

        {{#if this.canContribute}}
          {{#if this.fastboot.isFastBoot}}
            <div class='text-center mt-5 mb-5'>
              <div class='spinner-border spinner-border-sm' role='status'>
                <span class='d-none'>Loading...</span>
              </div>
            </div>
          {{else}}
            <Attributes::GroupPositionDetails
              @positionService={{this.position}}
              @position={{@model.answer.position}}
              @details={{this.positionDetails}}
              @onChange={{this.changePosition}}
              @searchResults={{this.geocodingSearch.results}}
            />

            <Attributes::GroupMap
              @extent={{@model.map.area}}
              @extentName={{@model.map.name}}
              @positionService={{this.position}}
              @position={{@model.answer.position}}
              @details={{this.positionDetails}}
              @searchResults={{this.geocodingSearch.results}}
              @baseMaps={{@model.baseMaps}}
              @onChange={{this.changePosition}}
              @onSearch={{this.searchGeocoding}}
            />

            {{#if this.aboutGroup}}
              <Attributes::GroupContainer
                @group={{this.aboutGroup}}
                @onChange={{this.handleAnswer}}
              />
            {{/if}}

            {{#if @model.campaign.optionalIcons}}
              <Attributes::Group
                class='optional-icons-group'
                @group={{this.optionalIconsGroup}}
              >
                <Input::Icons::ListToggle
                  @list={{@model.campaign.optionalIcons}}
                  @value={{@model.answer.icons}}
                  @onChange={{this.changeIcons}}
                />
              </Attributes::Group>
            {{/if}}

            <Attributes::GroupPictures
              @pictures={{@model.answer.pictures}}
              @onChange={{this.handleAnswer}}
            />

            {{#each @model.iconAttributes.groups as |group|}}
              <Attributes::GroupContainer
                @icons={{this.iconGroup}}
                @group={{group}}
                @onChange={{this.handleAnswer}}
                @remove={{this.handleRemove}}
                @addSection={{this.addSection}}
              />
            {{/each}}

            <div class='d-grid' {{did-insert this.checkRequiredAttributes}}>
              <Input::Button
                class='btn btn-primary btn-lg mt-3 btn-submit'
                disabled={{this.isDisabled}}
                @action={{this.submit}}
              >
                {{capitalize (t 'submit')}}
              </Input::Button>
            </div>
          {{/if}}
        {{else}}
          <div class='alert alert-warning' role='alert'>
            <h4 class='alert-heading'>
              {{t 'campaign-registered-users-only-title'}}
            </h4>
            <p>
              {{t 'campaign-registered-users-only-message'}}
            </p>
            <hr />
            <p class='mb-0'>
              <LinkTo @route='login' class='alert-link'>
                {{t 'Please sign in here.'}}
              </LinkTo>
            </p>
          </div>
        {{/if}}
      </div>

      <div class='col col-12 col-lg-4 mb-3'>
        <div class='cover' style={{this.coverStyle}}></div>
      </div>
    </div>
  </div>
</div>