.input-options-frame {
  font-size: $font-size-sm;

  border-bottom: 1px solid $gray-300;
  padding: $spacer * 0.5;

  .header {
    color: $gray-800;
    font-weight: 600;
    line-height: 1rem;
    margin-left: $spacer * -1;
  }

  .content {
    margin-top: $spacer * 0.5;
  }

  .btn-close-frame {
    vertical-align: inherit;
    width: $spacer;
    padding: 0;
    margin-left: $spacer * 0.5;
  }

  .form-floating + .form-floating {
    margin-top: $spacer;
  }

  input.form-control, textarea.form-control {
    padding-left: $spacer * 0.3;
  }

  .form-select, .form-control {
    font-size: $font-size-sm;
    border: 0;

    &:hover {
      background-color: rgba($blue-100, 0.3);
    }
  }

  &.closed {
    .content {
      display: none;
    }
  }
}