{{page-title @model.feature.name " | " (t "edit-label") }}

{{#if this.fastboot.isFastBoot}}
  <LoadingContainer />
{{else}}
<Manage::SideBar>
  <Input::Manage::Visibility
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @value={{@model.feature.visibility}}

      @onSave={{this.saveVisibility}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
    />

  <Manage::ModelInfo
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @model={{@model.feature}}
      @disabled={{this.disabled}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
    />

  <div class="bottom pb-3 text-center">
    <Manage::SideBarGroup>
      <Manage::DeleteButton
          @onDelete={{this.onDelete}}
          @modelName="feature"
          @name={{@model.feature.name}}
        />
    </Manage::SideBarGroup>
  </div>
</Manage::SideBar>

<Manage::Container>
  <Manage::Header @title={{capitalize (t "edit site")}}>
    <Breadcrumbs @value={{this.breadcrumbs}} />
  </Manage::Header>

  <Manage::Row @name="article" class="mb-3" >
    <Article::Manage @value={{@model.feature.contentBlocks}} @onPublish={{this.saveArticle}} />
  </Manage::Row>

  <hr>

  <Manage::Row @name="icons">
    <h2 class="capitalize-first-letter">
      {{t "icons"}}

      {{#if this.savingIcons}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}
    </h2>

    <Input::Icons::List
      @disabled={{this.disabled}}
      @icons={{@model.icons}}
      @value={{@model.feature.icons}}
      @onChange={{this.iconsChanged}} />
  </Manage::Row>

  <Manage::Row @name="maps">
    <Input::SelectList
        @isMainValue={{true}}
        @title={{t "maps"}}
        @list={{@model.maps}}
        @values={{@model.feature.maps}}
        @route="browse.maps.map-view"
        @emptyMessage={{t "The site has no assigned map"}}

        @disabled={{this.disabled}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveMaps}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
  </Manage::Row>

  <Manage::Row @name="location">
    <div class="location-presenter">
      <Manage::Geometry
        @extent={{this.extent}}
        @baseMaps={{@model.baseMaps}}
        @icon={{@model.feature.icons.firstObject}}
        @value={{@model.feature.position}}

        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}

        @disabled={{this.disabled}}
        @onSave={{this.savePosition}}
        @onCancel={{this.cancel}}
        @onEdit={{this.edit}}
      />
    </div>
  </Manage::Row>

  <Manage::Row @name="image-list">
    <h2 class="capitalize-first-letter">
      {{t "photos"}}

      {{#if (eq this.savingField "photos")}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}
    </h2>

    <Input::ImageList
      @value={{@model.feature.pictures}}
      @onChange={{this.updatePictures}}
      @onImageChange={{this.imageChange}}
      @disabled={{this.disabled}}
      @createImage={{this.createImage}} />
  </Manage::Row>

  <Manage::Row @name="sound-list">
    <h2>
      {{capitalize (t "sounds")}}

      {{#if (eq this.savingField "sounds")}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}
    </h2>

    <Input::SoundList
      @value={{@model.feature.sounds}}
      @onChange={{this.updateSounds}}
      @disabled={{this.disabled}}
      @create={{this.createSound}} />
  </Manage::Row>

  <Manage::Row @name="attributes">
    <h2 class="capitalize-first-letter">{{t "attributes"}}</h2>
    <Input::SiteAttributes
        @icons={{@model.feature.icons}}
        @attributes={{@model.feature.attributes}}

        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}

        @disabled={{this.disabled}}
        @onSave={{this.saveAttributes}}
        @onCancel={{this.cancel}}
        @onEdit={{this.edit}}
      />
  </Manage::Row>
</Manage::Container>
{{/if}}