{{page-title (capitalize (t this.title))}}

<div class='container mt-4 mb-5'>
  <div class='row mt-5 mb-4'>
    <div class="col col-xs-12 col-md-2">
      <div class="card">
        <div class="card-header text-primary">
          <strong>
            {{capitalize (t 'import file to')}}
            {{@model.map.name}}
          </strong>
        </div>
        <div class="list-group list-group-flush">
          <LinkTo
            @route="wizard.import.file-select"
            @model={{@model.map.id}}
            class='list-group-item list-group-item-action'
          >
            {{capitalize (t 'select a file')}}
          </LinkTo>
          <button type="button" class="list-group-item list-group-item-action active" disabled>{{capitalize (t 'field matching')}}</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>{{capitalize (t 'preview')}}</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>{{capitalize (t 'import')}}</button>
        </div>
      </div>
    </div>
    <div class='col'>
      <Manage::Header @title={{capitalize (t this.title)}}>
        <Breadcrumbs @value={{this.breadcrumbs}} />
      </Manage::Header>

      {{#if this.alertList}}
        <AlertList @list={{this.alertList}} />
      {{/if}}

      {{#if this.isAnalyzing}}
        <div class="d-flex align-items-center">
          <div class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></div>
          <strong class="flex-grow-1 ps-2">{{t 'analyzing file'}}...</strong>
        </div>
      {{else}}
        <div class='row'>
          <div class='col mb-2'>
            <div class='form-group'>
              <label for='import-destination-map'>
                {{t 'Import to'}}:
              </label>

              <Input::Select
                id='import-destination-map'
                class='import-destination-map'
                @list={{this.teamMaps}}
                @value={{this.destinationMap}}
                @onChange={{this.selectChanged}}
              />
            </div>
          </div>
          <div class='col'>
            <label for='import-update-by'>
              {{t 'Update by'}}:
            </label>

            <Input::Select
              id='import-update-by'
              class='import-update-by'
              @list={{this.updateFieldList}}
              @value={{this.updateBy}}
              @onChange={{this.selectUpdateBy}}
            />
          </div>
          <div class='col'>
            <label for='import-crs'>
              {{t 'CRS using PROJ format'}}:
            </label>

            <Input
              id='import-crs'
              class='import-crs form-control'
              @value={{this.model.file.options.crs}}
            />
          </div>
        </div>

        <div class="col mb-5">
          <div class="row">
            <label for='import-crs'>
              {{capitalize (t 'extra icons')}}:
            </label>

            <Input::Icons::List
              @icons={{this.model.icons}}
              @value={{this.extraIcons}}
              @disabled={{false}}
              @onChange={{this.iconsChanged}} />
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  {{#unless this.isAnalyzing}}
    <div class='row d-none d-lg-flex d-md-4'>
      <div class='col'>{{capitalize (t 'file field')}}</div>
      <div class='col'>{{capitalize (t 'preview')}}</div>
      <div class='col'>{{capitalize (t 'feature field')}}</div>
    </div>

    {{#each this.fields as |field|}}
      <hr />
      <div class='row'>
        <div class='col col-12'>
          <h5>{{field.key}}</h5>
        </div>
        <div class='col col-12 col-md-7 mb-2'>
          {{#each field.preview as |value|}}
            <div
              class='field-preview font-monospace bg-light text-dark text-wrap text-break mb-1'
            >
              {{value}}
            </div>
          {{/each}}

        </div>
        <div class='col col-12 col-md-5'>
          <Input::FeatureFieldMapping
            @value={{field.destination}}
            @key={{field.key}}
            @onChange={{fn this.updateMapping field.key}}
          />
        </div>
      </div>
    {{/each}}
    <hr />
    <div class='row'>
      <div class='col'>
        <Input::Button class='btn btn-primary btn-submit' @action={{this.submit}}>
          {{t 'update fields and get a preview'}}
        </Input::Button>
      </div>
    </div>
  {{/unless}}
</div>
