{{page-title (capitalize (t this.title))}}

<div class='container mt-4 mb-5'>
  <div class='row mt-5'>
    <div class="col col-xs-12 col-md-2">
      <div class="card">
        <div class="card-header text-primary">
          <strong>
            {{capitalize (t 'import file to')}}
            {{@model.map.name}}
          </strong>
        </div>
        <div class="list-group list-group-flush">
          <button type="button" class="list-group-item list-group-item-action" disabled>
            {{capitalize (t 'select a file')}}
          </button>
          <button type="button" class="list-group-item list-group-item-action" disabled>{{capitalize (t 'field matching')}}</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>{{capitalize (t 'preview')}}</button>
          <button type="button" class="list-group-item list-group-item-action active">{{capitalize (t 'import')}}</button>
        </div>
      </div>
    </div>
    <div class='col'>
      <Manage::Header @title={{capitalize (t this.title)}}>
        <Breadcrumbs @value={{this.breadcrumbs}} />
      </Manage::Header>

      <Timer @interval={{this.interval}} @onTick={{this.update}} />

      {{#if (eq this.meta.status 'scheduled')}}
        <Progress
          @max={{1}}
          @info={{1}}
          @animated={{true}}
          @striped={{true}}
        />
      {{else if (eq this.meta.status 'preparing')}}
        <Progress
          @max={{1}}
          @primary={{1}}
          @animated={{true}}
          @striped={{true}}
        />
      {{else}}
        <Progress
          @max={{this.meta.total}}
          @success={{this.meta.total}}
          @danger={{this.meta.errors}}
          @animated={{eq this.meta.status 'running'}}
          @striped={{eq this.meta.status 'running'}}
        />
      {{/if}}

      <div class='w-100 flex-fill log-container'>
        <pre class='log m-0'>{{this.log}}</pre>
      </div>
    </div>
  </div>
</div>