.browse-map-title {
  .map-cover-image {
    width: 100%;
    height: 300px;

    border-radius: $border-radius-lg;

    background-position: center center;
    background-size: cover;
  }

  .map-square-cover-image {
    width: 100%;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    border-radius: $border-radius-lg;

    background-position: center center;
    background-size: cover;
  }

  .browse-map-title {
    position: relative;
  }

  .dropdown-menu {
    top: $spacer * 0.5;
    left: auto;
    right: $spacer * 4;

    .active {
      display: none;
    }
  }

  @media screen and (max-width: $break-small) {
    .dropdown-menu {
      position: static;
      width: 100%;
      border: 0;
      background: transparent;

      .dropdown-item {
        padding: $spacer * 0.5;
      }
    }
  }
}
