<div class="content">
  {{#if site.hidden}}
    <div class="small" onclick={{action "select" index}}>
      <div class="icons">
        {{#each site.icons as |icon|}}
          <img class="icon" src={{icon.image.value}} alt={{icon.name}}>
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#if site.pictures.length}}
      <div class="gallery">
        <img src="{{sitePicture.picture}}/sm" alt="site picture">
      </div>
    {{/if}}

    <div class="card-name {{if site.pictures.length "" "no-gallery"}}">
      {{#link-to "browse.sites.site" site.id}}
        <span class="name">{{site.name}}</span>
      {{/link-to}}

      {{#if site.icons}}
        <div class="icons pt-0">
          {{site-icon-list icons=site.icons}}
        </div>
      {{/if}}

      {{#link-to "browse.sites.site" site.id}}
        open
      {{/link-to}}

      {{#if site.canEdit}}
        {{#link-to "manage.sites.edit" site.id}}
          edit
        {{/link-to}}
      {{/if}}
    </div>
  {{/if}}
</div>
