<div class="content site-list">
  {{#if group.sites.length}}
    {{#each group.sites as |site|}}
      <div class="site-item-list">
        {{#link-to "browse.sites.site" site.id}}
          {{site.name}}

          {{#if site.icons}}
            <div class="icons pt-0">
              {{site-icon-list icons=site.icons}}
            </div>
          {{/if}}
        {{/link-to}}
      </div>
    {{/each}}
  {{else}}
    <div class="loading p-4">
      <FaIcon @icon="spinner" spin={{true}} />
    </div>
  {{/if}}

  {{#if isZoomVisible}}
    <button class="btn btn-light btn-zoom b-0 d-block w-100">
      <FaIcon @icon="plus" /> Zoom in
    </button>
  {{/if}}
</div>
