<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg" width="247.14301" height="247.14301" viewBox="0 0 65.389919 65.389922"
   version="1.1">
   <defs id="defs2" />
   <g transform="translate(0,-231.61004)">
      <path style={{c1}}
         d="M 32.694959,252.58789 A 11.717261,11.717261 0 0 0 20.977846,264.305 11.717261,11.717261 0 0 0 32.694959,276.02212 11.717261,11.717261 0 0 0 44.412074,264.305 11.717261,11.717261 0 0 0 32.694959,252.58789 Z m 0,1.79524 a 9.9218738,9.9218738 0 0 1 9.921875,9.92187 9.9218738,9.9218738 0 0 1 -9.921875,9.92188 9.9218738,9.9218738 0 0 1 -9.921875,-9.92188 9.9218738,9.9218738 0 0 1 9.921875,-9.92187 z"
         id="path821"/>
      <path style={{c2}}
         d="m 32.694962,252.72963 a 11.575519,11.575519 0 0 1 2.888992,0.37523 11.575519,11.575519 0 0 0 -2.888992,-0.37523 z m -2.299862,0.23074 a 11.575519,11.575519 0 0 0 -2.207971,0.68308 11.575519,11.575519 0 0 1 2.207971,-0.68308 z m -2.207971,0.68308 a 11.575519,11.575519 0 0 0 -2.949232,1.80824 11.575519,11.575519 0 0 1 2.949232,-1.80824 z m 7.968599,-0.37114 a 11.575519,11.575519 0 0 1 0.733608,0.24402 11.575519,11.575519 0 0 0 -0.733608,-0.24402 z m 0.733608,0.24402 a 11.575519,11.575519 0 0 1 2.05941,1.04808 11.575519,11.575519 0 0 0 -2.05941,-1.04808 z m 2.05941,1.04808 a 11.575519,11.575519 0 0 1 1.810279,1.43658 11.575519,11.575519 0 0 0 -1.810279,-1.43658 z m -6.253784,-1.27475 A 11.015413,11.015413 0 0 0 21.679621,264.305 11.015413,11.015413 0 0 0 32.694962,275.32034 11.015413,11.015413 0 0 0 43.7103,264.305 11.015413,11.015413 0 0 0 32.694962,253.28966 Z m 0,0.46662 A 10.548657,10.548657 0 0 1 43.243181,264.305 10.548657,10.548657 0 0 1 32.694962,274.85322 10.548657,10.548657 0 0 1 22.146228,264.305 10.548657,10.548657 0 0 1 32.694962,253.75628 Z m 8.064573,2.24523 a 11.575519,11.575519 0 0 1 1.488655,1.76739 11.575519,11.575519 0 0 0 -1.488655,-1.76739 z m -16.36858,0.23892 a 11.575519,11.575519 0 0 0 -1.436584,1.81027 11.575519,11.575519 0 0 1 1.437094,-1.81027 11.575519,11.575519 0 0 0 -5.1e-4,0 z m -1.436584,1.81079 a 11.575519,11.575519 0 0 0 -1.413099,3.15752 11.575519,11.575519 0 0 1 1.413099,-3.15752 z m -1.413099,3.15752 a 11.575519,11.575519 0 0 0 -0.421685,3.09626 11.575519,11.575519 0 0 1 0.421685,-3.09626 z m 22.49831,0.7964 a 11.575519,11.575519 0 0 1 0.230751,2.29986 11.575519,11.575519 0 0 0 -0.230751,-2.29986 z m 0.06228,4.26688 a 11.575519,11.575519 0 0 1 -0.618229,2.22685 11.575519,11.575519 0 0 0 0.618229,-2.22685 z m -22.67852,0.61873 a 11.575519,11.575519 0 0 0 0.213395,0.8352 11.575519,11.575519 0 0 1 -0.213395,-0.8352 z m 21.587553,2.66436 a 11.575519,11.575519 0 0 1 -1.248712,1.94507 11.575519,11.575519 0 0 0 1.248712,-1.94507 z m -2.012442,2.81395 a 11.575519,11.575519 0 0 1 -1.767396,1.48917 11.575519,11.575519 0 0 0 1.767396,-1.48917 z m -12.497869,2.72461 a 11.575519,11.575519 0 0 0 2.020101,0.57177 11.575519,11.575519 0 0 1 -2.020101,-0.57177 z m 6.493726,0.55595 a 11.575519,11.575519 0 0 1 -2.299349,0.23076 11.575519,11.575519 0 0 0 2.299349,-0.23076 z"
         id="path821-6-7"/>
      <circle style={{c2}} cx="32.694962" cy="264.30499" r="0.86862594" />
      <circle style={{c1}} cx="32.694962" cy="264.30499" r="0.51226658" />
      <g id="g966" transform="translate(0.28825159,0.06152009)">
         <path id="rect911" d="m 31.556262,251.10115 h 1.700893 v 5.33892 h -1.700893 z" style={{c1}} />
         <path id="rect911-3" d="m 32.087791,251.10115 h 0.637834 v 5.33892 h -0.637834 z" style={{c2}} />
         <path id="rect911-5" d="m 31.556262,272.04689 h 1.700893 v 5.33892 h -1.700893 z" style={{c1}} />
         <path id="rect911-3-6" d="m 32.087791,272.04689 h 0.637834 v 5.33892 h -0.637834 z" style={{c2}} />
      </g>
      <g id="g966-2" transform="rotate(-90,32.581596,264.13011)">
         <path id="rect911-9" d="m 31.556262,251.10115 h 1.700893 v 5.33892 h -1.700893 z" style={{c1}} />
         <path id="rect911-3-1" d="m 32.087791,251.10115 h 0.637834 v 5.33892 h -0.637834 z" style={{c2}} />
         <path id="rect911-5-2" d="m 31.556262,272.04689 h 1.700893 v 5.33892 h -1.700893 z" style={{c1}} />
         <path id="rect911-3-6-7" d="m 32.087791,272.04689 h 0.637834 v 5.33892 h -0.637834 z" style={{c2}} />
      </g>
   </g>
</svg>