.team-card {
  background-color: transparent;
  border: 0;
  border-radius: 0;

  .text-distance {
    font-weight: normal;
    font-size: $font-size-sm;
  }

  .team-name {
    font-size: 1rem;
  }

  .cover {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: fill;
  }

  .card-body {
    padding: 0;
  }

}