<div class='form-floating'>
  <Input::Select
    id='{{this.elementId}}-alignment'
    class='{{this.type}}-alignment'
    @list={{this.availableAlignments}}
    @value={{this.value}}
    @onChange={{this.onChange}}
  />
  <label for='{{this.elementId}}-alignment'>{{capitalize
      (t 'alignment')
    }}</label>
</div>