<div class='input-col-options' ...attributes>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'mobile')}}
  >
    <div class='form-floating'>
      <Input::Select
        id='{{this.elementId}}-mobile-width'
        class='mobile-width-select'
        @list={{this.availableWidths}}
        @value={{this.mobileWidth}}
        @onChange={{this.mobileWidthChange}}
      />
      <label for='{{this.elementId}}-mobile-width'>{{capitalize
          (t 'width')
        }}</label>
    </div>
  </Input::Options::Frame>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'tablet')}}
  >
    <div class='form-floating'>
      <Input::Select
        id='{{this.elementId}}-tablet-width'
        class='tablet-width-select'
        @list={{this.availableWidths}}
        @value={{this.tabletWidth}}
        @onChange={{this.tabletWidthChange}}
      />
      <label for='{{this.elementId}}-tablet-width'>{{capitalize
          (t 'width')
        }}</label>
    </div>
  </Input::Options::Frame>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'desktop')}}
  >
    <div class='form-floating'>
      <Input::Select
        id='{{this.elementId}}-desktop-width'
        class='desktop-width-select'
        @list={{this.availableWidths}}
        @value={{this.desktopWidth}}
        @onChange={{this.desktopWidthChange}}
      />
      <label for='{{this.elementId}}-desktop-width'>{{capitalize
          (t 'width')
        }}</label>
    </div>
  </Input::Options::Frame>
</div>