<div class='input-container-options' ...attributes>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'container options')}}
  >
    <div class='form-floating'>
      <Input::Select
        id='{{this.elementId}}-width'
        class='width-select'
        @list={{this.availableWidths}}
        @value={{this.width}}
        @onChange={{this.widthChange}}
      />
      <label for='{{this.elementId}}-width'>{{capitalize (t 'width')}}</label>
    </div>

  </Input::Options::Frame>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'mobile paddings')}}
  >
    <Input::Options::Paddings
      @type='mobile'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
  </Input::Options::Frame>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'tablet paddings')}}
  >
    <Input::Options::Paddings
      @type='tablet'
      @size='md'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
  </Input::Options::Frame>

  <Input::Options::Frame
    class='input-container-background-options'
    @title={{capitalize (t 'desktop paddings')}}
  >
    <Input::Options::Paddings
      @type='desktop'
      @size='lg'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
  </Input::Options::Frame>
</div>