<Input::Options::Frame
  class='input-container-background-options'
  @title={{capitalize (t 'background color')}}
  ...attributes
>
  <Input::BsColor
    @onChange={{this.changeBgColor}}
    @value={{@value.backgroundColor}}
  />
</Input::Options::Frame>