<div class='input-options-frame {{if this.isClosed 'closed'}}' ...attributes>
  <div class='header'>
    <button
      type='button'
      class='btn-close-frame btn btn-sm'
      {{on 'click' this.toggleClose}}
    >
      <FaIcon @icon={{if this.isClosed 'caret-right' 'caret-down'}} />
    </button>{{@title}}
  </div>
  <div class='content'>
    {{yield}}
  </div>
</div>