<div class="form-floating mb-2">
  <Input::Select
    id="{{this.elementId}}-min-height"
    class="{{this.type}}-min-height"
    @list={{this.availableHeights}}
    @value={{this.minHeight}}
    @onChange={{fn this.changeProperty 'min-vh'}}
  />
  <label for="{{this.elementId}}-min-height">{{capitalize (t "min height")}}</label>
</div>