<Input::Options::Frame
  class='input-container-background-options'
  @title={{capitalize (t 'layout options')}}
  ...attributes
>
  <div class='form-floating mb-2'>
    <Input
      @value={{@layout.name}}
      id='{{this.elementId}}-name'
      @type='text'
      class='form-control {{this.type}}-name'
    />
    <label for='{{this.elementId}}-name'>{{capitalize (t 'name')}}</label>
  </div>
</Input::Options::Frame>