<div {{did-insert this.setup}}>

  {{#if this.isLoading}}
    <div class='spinner-border text-dark' role='status'>
      <span class='visually-hidden'>Loading...</span>
    </div>
  {{else}}
    <div class='btn-group mb-3' role='group'>
      <Input
        @type='checkbox'
        @checked={{this.isAll}}
        class='btn-check btn-check-all'
        id='{{this.elementId}}-all'
      />
      <label class='btn btn-outline-primary' for='{{this.elementId}}-all'>
        {{t 'all'}}
      </label>

      <Input
        @type='checkbox'
        @checked={{this.isTeam}}
        class='btn-check btn-check-team'
        id='{{this.elementId}}-team'
      />
      <label class='btn btn-outline-primary' for='{{this.elementId}}-team'>
        {{t 'team'}}
      </label>

      <Input
        @type='checkbox'
        @checked={{this.isIds}}
        class='btn-check btn-check-ids'
        id='{{this.elementId}}-ids'
      />
      <label class='btn btn-outline-primary' for='{{this.elementId}}-ids'>
        {{t 'items'}}
      </label>
    </div>

    {{#if this.isTeam}}
      <div class='form-floating'>
        <Input::Select
          class='page-col-id'
          @list={{this.allTeams}}
          @value={{this.selectedTeam}}
          @onChange={{this.itemChanged}}
        />
        <label for='floatingSelect'>{{capitalize (t 'team')}}</label>
      </div>
    {{/if}}

    {{#if this.isIds}}
      <Input::List
        @values={{this.values}}
        @list={{this.items}}
        @onChange={{this.changeValues}}
      />
    {{/if}}
  {{/if}}
</div>