<div class='form-floating mb-2'>
  <Input::Select
    id='{{this.elementId}}-top-padding'
    class='{{this.type}}-top-padding'
    @list={{this.availablePaddings}}
    @value={{this.topPadding}}
    @onChange={{this.topPaddingChange}}
  />
  <label for='{{this.elementId}}-top-padding'>{{capitalize
      (t 'top padding')
    }}</label>
</div>

<div class='form-floating mb-2'>
  <Input::Select
    id='{{this.elementId}}-bottom-padding'
    class='{{this.type}}-bottom-padding'
    @list={{this.availablePaddings}}
    @value={{this.bottomPadding}}
    @onChange={{this.bottomPaddingChange}}
  />
  <label for='{{this.elementId}}-bottom-padding'>{{capitalize
      (t 'bottom padding')
    }}</label>
</div>

<div class='form-floating mb-2'>
  <Input::Select
    id='{{this.elementId}}-start-padding'
    class='{{this.type}}-start-padding'
    @list={{this.availablePaddings}}
    @value={{this.startPadding}}
    @onChange={{this.startPaddingChange}}
  />
  <label for='{{this.elementId}}-start-padding'>{{capitalize
      (t 'start padding')
    }}</label>
</div>

<div class='form-floating mb-2'>
  <Input::Select
    id='{{this.elementId}}-end-padding'
    class='{{this.type}}-end-padding'
    @list={{this.availablePaddings}}
    @value={{this.endPadding}}
    @onChange={{this.endPaddingChange}}
  />
  <label for='{{this.elementId}}-end-padding'>{{capitalize
      (t 'end padding')
    }}</label>
</div>