<Input::Options::Frame
  class='input-options-page'
  @title={{capitalize (t 'page options')}}
  ...attributes
>
  <div class='form-floating mb-2'>
    <Input
      @value={{@page.name}}
      id='{{this.elementId}}-name'
      @type='text'
      class='form-control page-name'
    />
    <label for='{{this.elementId}}-name'>{{capitalize (t 'name')}}</label>
  </div>

  <div class='form-floating mb-2'>
    <Input
      @value={{this.path}}
      id='{{this.elementId}}-path'
      @type='text'
      class='form-control page-path'
    />
    <label for='{{this.elementId}}-path'>{{capitalize (t 'path')}}</label>
  </div>

  <div class='form-floating mb-2'>
    <Input::Select
      id='{{this.elementId}}-layout'
      class='page-layout'
      @list={{@layouts}}
      @value={{@page.layout}}
      @onChange={{this.changeLayout}}
    />
    <label for='{{this.elementId}}-layout'>{{capitalize (t 'layout')}}</label>
  </div>

  <hr />
  <Manage::Toggle
    @title={{t 'is public'}}
    @id='{{this.elementId}}-toggle-is-public'
    class='chk-visibility'
    @disabled={{@disabled}}
    @value={{@page.visibility.isPublic}}
    @onSave={{this.saveIsPublic}}
  />
</Input::Options::Frame>