<div class='input-row-options' ...attributes>

  <Input::Options::Frame @title={{capitalize (t 'mobile options')}}>
    <Input::Options::HeightOptionsSection
      @type='mobile'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
    <Input::Options::RowOptionsSection
      @type='mobile'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />

  </Input::Options::Frame>

  <Input::Options::Frame @title={{capitalize (t 'tablet options')}}>
    <Input::Options::HeightOptionsSection
      @type='tablet'
      @size='md'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
    <Input::Options::RowOptionsSection
      @type='tablet'
      @size='md'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
  </Input::Options::Frame>

  <Input::Options::Frame @title={{capitalize (t 'desktop options')}}>
    <Input::Options::HeightOptionsSection
      @type='desktop'
      @size='lg'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
    <Input::Options::RowOptionsSection
      @type='desktop'
      @size='lg'
      @options={{this.options}}
      @onChangeOptions={{this.onChangeOptions}}
    />
  </Input::Options::Frame>
</div>