<div class="form-floating mb-2">
  <Input::Select
    id="{{this.elementId}}-vertical-gutters"
    class="{{this.type}}-vertical-gutters"
    @list={{this.availableGutters}}
    @value={{this.verticalGutters}}
    @onChange={{this.verticalGuttersChange}}
  />
  <label for="{{this.elementId}}-vertical-gutters">{{capitalize (t "vertical gutters")}}</label>
</div>

<div class="form-floating mb-2">
  <Input::Select
    id="{{this.elementId}}-horizontal-gutters"
    class="{{this.type}}-horizontal-gutters"
    @list={{this.availableGutters}}
    @value={{this.horizontalGutters}}
    @onChange={{this.horizontalGuttersChange}}
  />
  <label for="{{this.elementId}}-horizontal-gutters">{{capitalize (t "horizontal gutters")}}</label>
</div>

<div class="form-floating mb-2">
  <Input::Select
    id="{{this.elementId}}-justify-content"
    class="{{this.type}}-justify-content"
    @list={{this.availableJustifyContent}}
    @value={{this.justifyContent}}
    @onChange={{this.justifyContentChange}}
  />
  <label for="{{this.elementId}}-justify-content">{{capitalize (t "justify content")}}</label>
</div>

<div class="form-floating mb-2">
  <Input::Select
    id="{{this.elementId}}-align-items"
    class="{{this.type}}-align-items"
    @list={{this.availableAlignItems}}
    @value={{this.alignItems}}
    @onChange={{this.alignItemsChange}}
  />
  <label for="{{this.elementId}}-align-items">{{capitalize (t "align items")}}</label>
</div>