{{page-title (capitalize (t "new map")) }}

{{#if this.model}}
  <Manage::Container>
    <Manage::Header @title={{capitalize (t "new map")}} />

    {{#unless @model.teams}}
    <Manage::Row>
      <div class="alert alert-danger" role="alert">
        <p>{{capitalize (t "team-needed-message")}}</p>
        <LinkTo @route="manage.teams.add" @query={{hash next="manage.maps.add"}} class="btn btn-secondary btn btn-add-team">
          <FaIcon @icon="plus"/> {{capitalize (t "team")}}
        </LinkTo>
      </div>
    </Manage::Row>
    {{/unless}}

    <Manage::Row @name="name">
      <h3 class="mt-4">{{capitalize (t "name")}}</h3>
      {{!-- template-lint-disable require-input-label --}}
      <Input
        class="form-control input-name"
        @value={{@model.map.name}}
        placeholder={{capitalize (t "what is map name?")}} />
    </Manage::Row>

    <Manage::Row @name="description">
      <h3 class="mt-4">{{capitalize (t "description")}}</h3>

      <Article::Editor @value={{this.description}} @onChange={{this.changeDescriptionValue}} @allowNoHeading={{true}} class="article-with-borders" />
    </Manage::Row>

    <Manage::Row @name="team">
      <h3 class="mt-4">{{capitalize (t "team")}}</h3>
      {{#if @model.teams}}
          <Input::Select @list={{@model.teams}} @value={{@model.map.visibility.team}} @onChange={{this.changeTeam}}/>
      {{else}}
        <LinkTo @route="manage.teams.add" @query={{hash next="manage.maps.add"}} class="btn btn-secondary btn btn-add-team">
          <FaIcon @icon="plus"/> {{capitalize (t "team")}}
        </LinkTo>
      {{/if}}
    </Manage::Row>

    <Manage::Row @name="add">
      <button type="button" class="btn btn-primary btn-submit" {{on "click" this.save}} disabled={{this.model.map.isSaving}} role="button">
        {{#if this.model.map.isSaving}}
          <FaIcon @icon="spinner" @spin={{true}} />
        {{/if}}

        {{capitalize (t "add")}}
      </button>
    </Manage::Row>
  </Manage::Container>
{{/if}}
