{{page-title @model.map.name ' | ' (capitalize (t 'edit'))}}

{{#if this.fastboot.isFastBoot}}
  <LoadingContainer />
{{else}}
  <Manage::SideBar>
    <Manage::Visibility
      @model={{@model.map}}
      @teams={{@model.teams}}
      @hasIsDefault={{false}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @isAdmin={{this.user.isAdmin}}
      @areAllShowing={{this.allTeams}}
      @onChangeAll={{this.changeAll}}
      @saveIsPublic={{this.saveIsPublic}}
      @saveIsDefault={{this.saveIsDefault}}
      @saveTeam={{this.saveTeam}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />

    <Manage::Toggle
      @title={{t 'add features as pending'}}
      @id={{'add-features-as-pending'}}
      @value={{@model.map.addFeaturesAsPending}}
      @onSave={{this.saveAddFeaturesAsPending}}
      @savingField={{this.savingPanel}}
    />

    <Manage::Toggle
      @title={{t 'show download links'}}
      @id={{'show-download-links'}}
      @value={{@model.map.showPublicDownloadLinks}}
      @onSave={{this.saveShowPublicDownloadLinks}}
      @savingField={{this.savingPanel}}
    />

    <Manage::Toggle
      @title={{capitalize (t 'feature clustering')}}
      @id={{'feature-clustering'}}
      @value={{this.hasClusteringEnabled}}
      @onSave={{this.saveHasClusteringEnabled}}
      @savingField={{this.savingPanel}}
    />

    <Manage::ModelInfo
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @model={{@model.map}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
    />

    {{#if this.user.isAdmin}}
      <Manage::Toggle
        @title={{t 'hide on main map'}}
        @id={{'hide-on-main-map'}}
        @value={{@model.map.hideOnMainMap}}
        @onSave={{this.saveHideOnMainMap}}
        @savingField={{this.savingPanel}}
      />
      <Manage::Toggle
        @title={{t 'is index'}}
        @id={{'is-index'}}
        @value={{@model.map.isIndex}}
        @onSave={{this.saveIsIndex}}
        @savingField={{this.savingPanel}}
      />
    {{else}}
      <Manage::SideBarGroup
        @title={{t 'hide on main map'}}
        @canEdit={{false}}
        class='container-group-hide-on-main-map'
      >
        {{#if @model.map.hideOnMainMap}}
          {{t 'yes'}}
        {{else}}
          {{t 'no'}}
        {{/if}}
      </Manage::SideBarGroup>

      <Manage::SideBarGroup
        @title={{t 'is index'}}
        @canEdit={{false}}
        class='container-group-is-index'
      >
        {{#if @model.map.isIndex}}
          {{t 'yes'}}
        {{else}}
          {{t 'no'}}
        {{/if}}
      </Manage::SideBarGroup>
    {{/if}}

    <div class='bottom pb-3 text-center'>
      <Manage::SideBarGroup>
        <Manage::DeleteButton
          @onDelete={{this.delete}}
          @modelName='map'
          @name={{@model.map.name}}
          @deleteOptions={{concat 'yes:' (t 'yes and remove sites')}}
        />
      </Manage::SideBarGroup>
    </div>
  </Manage::SideBar>

  <Manage::Container>
    <Manage::Header @title={{capitalize (t 'edit map')}}>
      <Breadcrumbs @value={{this.breadcrumbs}} />
    </Manage::Header>

    {{#if this.alertList}}
      <Manage::Row>
        <AlertList @list={{this.alertList}} />
      </Manage::Row>
    {{/if}}

    <Manage::Row @name='article'>
      <Article::Manage
        @value={{@model.map.contentBlocks}}
        @onPublish={{this.saveArticle}}
        class='mb-3'
      />
    </Manage::Row>

    <hr />

    <Manage::Row @name='tag-line'>
      <Input::Manage::Text
        @title={{capitalize (t 'tagline')}}
        @isMainValue={{true}}
        @value={{@model.map.tagLine}}
        placeholder={{capitalize (t 'what is the map tagline?')}}
        @emptyError={{capitalize (t 'this map has no tagline')}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveTagLine}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    <Manage::Row @name='cover'>
      <h2 class='capitalize-first-letter'>{{t 'cover photos'}}</h2>
      <div class='form-group mt-2'>
        <Input::PictureAuto
          class='mb-3 square-cover'
          @createImage={{this.createImage}}
          @value={{@model.map.squareCover}}
          @save={{this.saveSquareCover}}
        />

        <Input::PictureAuto
          class='cover mb-3'
          @createImage={{this.createImage}}
          @value={{@model.map.cover}}
          @save={{this.saveCover}}
        />
      </div>
    </Manage::Row>

    <Manage::Row @name='start-date'>
      <Input::Manage::Date
        @title={{t 'start date'}}
        @isMainValue={{true}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveStartDate}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.map.startDate}}
      />
    </Manage::Row>

    <Manage::Row @name='end-date'>
      <Input::Manage::Date
        @title={{t 'end date'}}
        @isMainValue={{true}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveEndDate}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.map.endDate}}
      />
    </Manage::Row>

    <Manage::Row @name='icon-sets'>
      <Input::SelectList
        @isMainValue={{true}}
        @title={{t 'icon sets'}}
        @list={{@model.iconSets}}
        @emptyMessage={{t 'The default icon sets will be used.'}}
        @isEnabled={{@model.map.iconSets.useCustomList}}
        @values={{@model.map.iconSets.list}}
        @route='browse.icons.set'
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveIconSets}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    <Manage::Row @name='base-maps'>
      <Input::SelectList
        @isMainValue={{true}}
        @title={{t 'base maps'}}
        @list={{@model.baseMaps}}
        @emptyMessage={{t 'default-base-maps-used-message'}}
        @isEnabled={{@model.map.baseMaps.useCustomList}}
        @values={{@model.map.baseMaps.list}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveBaseMaps}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    <Manage::Row @name='mapping area'>
      <Manage::Area
        @title='mapping area'
        @help={{t 'help.map.area'}}
        @baseMaps={{@model.map.baseMaps.list}}
        @value={{@model.map.area}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onChange={{this.changeExtent}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    {{#if @model.indexedMaps}}
      <Manage::Row @name='mask'>
        <Input::Manage::Mask
          @title={{t 'mask points'}}
          @isMainValue={{true}}
          @editablePanel={{this.editableField}}
          @savingPanel={{this.savingField}}
          @onSave={{this.saveMask}}
          @onEdit={{this.edit}}
          @onCancel={{this.cancel}}
          @value={{@model.map.mask}}
          @maps={{@model.indexedMaps}}
        />
      </Manage::Row>
    {{/if}}

    <Manage::Row @name='license'>
      <Input::Manage::License
        @title={{t 'license'}}
        @isMainValue={{true}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{this.saveLicense}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
        @value={{@model.map.license}}
      />
    </Manage::Row>

    <Manage::Row @name='embedded-map'>
      <div class='container-group container-group-area'>
        <h2 class='clearfix mt-2 title capitalize-first-letter'>
          {{t 'embedded map'}}
        </h2>

        {{! template-lint-disable require-input-label }}
        <textarea class='w-100 p-3'>
          &lt;iframe src="https://{{this.domain}}/browse/maps/{{@model.map.id}}/map-view?embed=true"
          allowFullScreen="true" allow="fullscreen; geolocation;" title="{{@model.map.name}}"
          frameborder="0" width="100%" height="500"&gt;&lt;/iframe&gt;
        </textarea>
      </div>
    </Manage::Row>

    <Manage::Row @name='vector-tiles'>
      <div class='container-group container-group-area'>
        <h2 class='clearfix mt-2 title capitalize-first-letter'>
          {{t 'vector tiles url'}}
        </h2>

        <a
          href='{{this.apiUrl}}/tile/about.json?map={{@model.map.id}}'
          target='_blank'
          rel='noopener noreferrer'
        >
          {{this.apiUrl}}/tile/about.json?map={{@model.map.id}}&authorization=[{{t
            'your api key'
          }}]
        </a>
      </div>
    </Manage::Row>

  </Manage::Container>
{{/if}}