.attribute-value {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid $gray-300 !important;

  transition: border-bottom 0.3s ease-in-out;

  &.has-focus {
    border-bottom: 3px solid $success !important;
    background: $gray-100;
  }

  .form-control {
    box-shadow: none;
    font-size: $font-size-base;
  }
}
