button.list-group-item {
  border-left: 0;
  border-right: 0;
}

.value-map-list {
  .list-group-item {
    background: transparent;
    border-left: 0;
    border-right: 0;

    &.active {
      background: $secondary;
      border-color: $gray-600;
    }
  }
}

.value-options {
  .btn-add + .liquid-container {
    width: 100%;
  }
}
