<Filters::Pill @onSelect={{action "show"}} @onReset={{action "reset"}} @value={{this.category}} @title={{capitalize (t "category")}}/>

{{#if this.isFilterVisible}}
  <div class="popover bs-popover-bottom">
    <div class="arrow"></div>
    <div class="popover-body p-0">
      {{#each this.iconSets as | iconSet |}}
        <div class="p-3 font-weight-bold text-primary">
          {{iconSet.name}}
        </div>

        <div class="list-group list-group-flush">
          {{#each iconSet.categories as | currentCategory |}}
            <button
                type="button"
                class="{{if (eq currentCategory this.category) "active"}} list-group-item list-group-item-action"
                {{action "select" iconSet.id currentCategory}}
              >
              {{t (concat "icon." currentCategory)}}
            </button>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
