<Filters::Pill @onSelect={{action "toggleVisible"}} @onReset={{action "reset"}} @value={{this.value}} @title={{this.title}}/>

{{#if this.isFilterVisible}}
  <div class="popover bs-popover-bottom">
    <div class="arrow"></div>
    <div class="popover-body p-0">
      <div class="list-group list-group-flush">
        {{#each this.list as | item |}}
          <button
              type="button"
              class="{{if (eq this.value item) "active"}} list-group-item list-group-item-action"
              {{action "select" item}}
            >
            {{item}}
          </button>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}


