.site-article {
  .picture-list {
    font-size: 0;

    img {
      height: 100px;
      cursor: pointer;
    }

    .picture-container {
      position: relative;
      display: inline-block;
      font-size: 20px;
    }

    .svg-inline--fa {
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      color: $gray-800;
      cursor: pointer;
      filter: drop-shadow( 0 0 3px $white);
    }
  }

  .site-attribute-list {
    font-size: 1.1rem;

    .group-icon {
      height: 1.4em;
    }
  }
}

.site-article-fullscreen {
  canvas, .image-sphere {
    width: 100%;
    height: 100%;

    .spinner {
      font-size: 20px;
      z-index: 9999;
    }
  }
}
