<div class='site-attribute-list' ...attributes>
  {{#each @value as |group|}}
    {{#unless group.isEmpty}}
      {{#if (or @showAll (not (eq group.displayName 'other')))}}
        {{#if group.isTable}}
          {{#each group.attributes as |row index|}}
            <Browse::Attributes
              class='mb-4'
              @index={{index}}
              @icon={{group.icon.image.value}}
              @header={{group.displayName}}
              @value={{row}}
            />
          {{/each}}
        {{else}}
          <Browse::Attributes
            class='mb-4'
            @icon={{group.icon.image.value}}
            @header={{group.displayName}}
            @value={{group.attributes}}
          />
        {{/if}}
      {{/if}}
    {{/unless}}
  {{/each}}
</div>