<LinkTo @route="manage.issues" @query={{hash feature=@id parentMap=@parentMap}} class="dropdown-item dropdown-item-issues">
  <FaIcon @icon="exclamation-triangle" /> {{capitalize (t "issues")}}
</LinkTo>

<LinkTo @route="manage.sites.edit" @model={{@id}} @query={{hash parentMap=@parentMap}} class="dropdown-item dropdown-item-edit">
  <FaIcon @icon="pencil-alt" /> {{capitalize (t "edit-label")}}
</LinkTo>