{{#each styles as |item|}}
  {{#if item.cover.isLoaded}}
    <div class="item shadow-sm rounded border ms-1" style={{item.style}} {{action "select" item.cover.id}}>
    </div>
  {{else}}
    <div class="item shadow-sm rounded border ms-1" {{action "select" item.cover.id}}>
    </div>
  {{/if}}
{{/each}}