{{page-title (capitalize (t 'integrations'))}}

<div class='container'>

  <div class='row'>
    <div class='col'>
      <h1>{{t (capitalize (t 'integrations'))}}</h1>
    </div>
  </div>

  <div class='row mt-5'>
    <div class='col'>
      <h3>Nominatim</h3>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <label for='nominatim-key' class='form-label'>{{t
          'Nominatim url'
        }}</label>
      <Input
        id='nominatim-key'
        class='form-control input-nominatim'
        @value={{@model.nominatim.value}}
        disabled={{this.isSaving}}
      />
      <div class='form-text'><MarkDown
          @value={{t 'nominatim-url-info'}}
        /></div>
    </div>
  </div>

  <hr />

  <div class='row'>
    <div class='col'>
      <h3>Matomo</h3>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <label for='input-matomo-url' class='form-label'>URL</label>
      <Input
        id='input-matomo-url'
        class='form-control input-matomo-url'
        @value={{@model.matomourl.value}}
        disabled={{this.isSaving}}
      />
    </div>
    <div class='col'>
      <label for='matomo-site-id' class='form-label'>Site id</label>
      <Input
        id='matomo-site-id'
        class='form-control input-matomo-site-id'
        @value={{@model.matomositeId.value}}
        disabled={{this.isSaving}}
      />
    </div>
  </div>

  <div class='row mt-3 mb-4'>
    <div class='col'>
      <Input::Button
        class='btn btn-primary'
        disabled={{this.isDisabled}}
        @action={{this.save}}
      >
        {{capitalize (t 'save')}}
      </Input::Button>
    </div>
  </div>
</div>