{{page-title (t "SMTP")}}

<div class="container">

  <div class="row">
    <div class="col">
      <h1>{{t "SMTP"}}</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-auth-type" class="capitalize-first-letter">{{t "authentication type to use"}}</label>
      <select class="form-select input-smtp-auth-type" id="input-smtp-auth-type" onchange={{action (mut this.model.authType.value) value="target.value"}} disabled={{this.isSaving}}>
        {{#each this.SMTPAuthType as |item|}}
          <option value={{item}} selected={{eq this.model.authType.value item}}>{{t item}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-connection-type" class="capitalize-first-letter">{{t "type of encryption protocol to use"}}</label>
      <select class="form-select input-smtp-connection-type" id="input-smtp-connection-type" onchange={{action (mut this.model.connectionType.value) value="target.value"}} disabled={{this.isSaving}}>
        {{#each this.SMTPConnectionType as |item|}}
          <option value={{item}} selected={{eq this.model.connectionType.value item}}>{{t item}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-tls-validation-mode" class="capitalize-first-letter">{{t "certificate validation mode"}}</label>
      <select class="form-select input-smtp-tls-validation-mode" id="input-smtp-tls-validation-mode" onchange={{action (mut this.model.tlsValidationMode.value) value="target.value"}} disabled={{this.isSaving}}>
        {{#each this.TLSPeerValidationMode as |item|}}
          <option value={{item.value}} selected={{eq this.model.tlsValidationMode.value item.value}}>{{t item.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="form-select input-smtp-tls-version" class="capitalize-first-letter">{{t "version of the TLS/SSL protocol to use"}}</label>
      <select class="form-select input-smtp-tls-version" id="form-select input-smtp-tls-version" onchange={{action (mut this.model.tlsVersion.value) value="target.value"}} disabled={{this.isSaving}}>
        {{#each this.TLSVersion as |item|}}
          <option value={{item.value}} selected={{eq this.model.tlsVersion.value item.value}}>{{t item.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-host" class="capitalize-first-letter">{{t "SMTP host"}}</label>
      <Input @value={{this.model.host.value}} class="form-control input-smtp-host" id="input-smtp-host" disable={{this.isSaving}} />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-port" class="capitalize-first-letter">{{t "SMTP port"}}</label>
      <Input @value={{this.model.port.value}} class="form-control input-smtp-port" id="input-smtp-port" @type="number" disable={{this.isSaving}} />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-from" class="capitalize-first-letter">{{t "the email used to send the emails"}}</label>
      <Input @value={{this.model.from.value}} class="form-control input-smtp-from" id="input-smtp-from" disable={{this.isSaving}} />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-username" class="capitalize-first-letter">{{t "user name to use for authentication"}}</label>
      <Input @value={{this.model.username.value}} class="form-control input-smtp-username" id="input-smtp-username" disable={{this.isSaving}} />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label for="input-smtp-password" class="capitalize-first-letter">{{t "password to use for authentication"}}</label>
      <Input @value={{this.model.password.value}} class="form-control input-smtp-password" id="input-smtp-password" @type="password" disable={{this.isSaving}} />
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="col">
      <Input::Button class="btn {{if this.isSavingError "btn-danger" "btn-primary" }}" disabled={{this.isDisabled}} @action={{this.save}}>
        {{capitalize (t "save")}}
      </Input::Button>
    </div>
    <div class="col">
      <Input::Button class="btn btn-secondary btn-test-message" @action={{this.sendTestMessage}}>
        {{capitalize (t "send test email")}}
      </Input::Button>
    </div>
  </div>
</div>