{{#each this.groups as |group|}}
  {{#if group.addButton}}
    <div class='text-center'>
      <button
        type='button'
        class='btn btn-outline-primary mt-1'
        {{action 'addSection' group.icon}}
      >
        <FaIcon @icon='plus' />
        {{group.icon.name}}
      </button>
    </div>
  {{else}}
    {{#if group.isVisible}}
      {{#if group.isEmptyList}}
        <AttributeGroupEmpty
          @group={{group}}
          @editSection={{action 'editSection'}}
          @editValue={{action 'editValue'}}
        />
      {{else}}
        <AttributeGroup
          @group={{group}}
          @editSection={{action 'editSection'}}
          @editValue={{action 'editValue'}}
          @onLocalize={{action 'onLocalize'}}
        />
      {{/if}}
    {{/if}}
  {{/if}}
{{/each}}