{{!-- template-lint-disable require-input-label --}}
<input type="file" class="d-none" onchange={{action "upload"}}>

{{#if this.working}}
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary" disabled>
      <FaIcon @icon="spinner" @spin={{true}} />
    </button>

    <div class="progress btn border border-primary">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </div>
{{else}}
  <button type="button" class="btn {{this.buttonClass}}" onclick={{action "selectFile"}}>
    <FaIcon @icon="upload" />
  </button>
{{/if}}
