{{#if this.showFull}}
  <MarkDown @value={{@value}} />

  <button type="button" class="btn btn-link btn-edit d-inline-block float-end text-decoration-none btn-show-less" {{action "showLess"}}>
    <FaIcon @icon="caret-up" /> {{capitalize (t "show less")}}
  </button>

  {{yield}}
{{else}}
  <MarkDown @value={{truncate this.value this.maxChars true}} />

  {{#if this.hasLongValue}}
    <button type="button" class="btn btn-link btn-edit d-inline-block float-end text-decoration-none btn-show-more" {{action "showMore"}}>
      <FaIcon @icon="ellipsis-h" /> {{capitalize (t "show more")}}
    </button>
  {{/if}}

  {{yield}}
{{/if}}
