{{#if this.isUploading}}
  <div class="progress mx-auto position-absolute">
    <span class="progress-left">
      <span class="progress-bar border-primary" style={{this.leftStyle}}></span>
    </span>
    <span class="progress-right">
      <span class="progress-bar border-primary" style={{this.rightStyle}}></span>
    </span>
  </div>
{{/if}}


{{#if this.picture.isNew}}
  <PictureBox @src={{this.picture.picture}} />
{{else}}
  <PictureBox @src={{concat this.picture.picture "/sm"}} />
{{/if}}