{{#each this.toaster.toasts as |toast|}}
  <Toast
      @title={{toast.title}}
      @level={{toast.level}}
      @icon={{toast.icon}}
      @canClose={{toast.canClose}}
      @toastId={{toast.index}}
      @onClose={{action "close"}}
    >
    {{toast.message}}
  </Toast>
{{/each}}
