<Input::NewPassword
  @onValidationChange={{action "validationChanged"}}
  @onChange={{action "change"}}
  @newPassword1={{this.newPassword}}
  @newPassword2={{this.newPassword2}} />

<button type="button" class="btn btn-primary btn-submit" disabled={{not this.isValid}} {{action "update"}}>
  {{capitalize (t "update password")}}
</button>

<a href="/login/reset" class="btn btn-light">
  {{capitalize (t "i forgot my password")}}
</a>
