<div class='browse-icon-list {{if (eq @size "lg") "size-lg"}}' ...attributes>
  {{#each this.icons as |icon|}}
    {{#if @showLinks}}
      <LinkTo @route='browse.sites.index' @query={{hash icon=icon.id}}>
        <Icon @src={{icon}} @waiting={{@waiting}} />
      </LinkTo>
    {{else}}
      <Icon @src={{icon}} @waiting={{@waiting}} />
    {{/if}}
  {{/each}}
</div>