<LinkTo @route="manage.icons.edit" @models={{array @item.iconSet.id @item.id}} class="dropdown-item dropdown-item-edit text-start">
  <FaIcon @icon="pencil-alt" /> {{capitalize (t "edit")}}
</LinkTo>
