{{yield}}

{{#if @section.isCardDeck}}
  <Browse::Icon::Card @icon={{@section.item}} @onDelete={{@actions.delete}}/>
{{/if}}

{{#if @section.isRow}}
  <Browse::ModelTableRow @route="browse.icons.set" @item={{@section.item}}/>
{{/if}}

{{#if @section.isOtherOptions}}
  <Browse::Icon::Options @item={{@section.item}}/>
{{/if}}
