<div class="list-group">
  {{#if @title}}
    <button type="button" disabled class="list-group-item list-group-item-action disabled text-muted">
      <em>{{@title}}</em>
    </button>
  {{/if}}

  {{#each @values as |value|}}
    <button type="button" class="list-group-item list-group-item-action" {{on "click" (fn @onSelect value) }}>
      {{value}}
    </button>
  {{/each}}
</div>