{{page-title @model.profile.fullName ' ' (capitalize (t 'profile'))}}

<div class='main-container'>
  <div class='container pt-5 pb-5'>
    <div class='row'>
      <div class='col'>
        <div class='profile-header text-center'>
          <ProfilePicture
            class='mb-3 mt-4'
            @picture={{@model.profile.picture}}
          />

          <div class='user-info'>
            <h1 class='cover-title fullname'>
              {{#if @model.profile.fullName}}
                {{@model.profile.fullName}}
              {{else}}
                {{capitalize (t 'anonymous')}}
              {{/if}}
            </h1>

            {{#if @model.profile.canEdit}}
              <p>
                {{#if this.isAdmin}}
                  <LinkTo
                    @route='admin.users.edit'
                    @model={{@model.profile.id}}
                    class='btn-edit-profile'
                  >
                    {{t 'edit-label'}}
                  </LinkTo>
                {{else}}
                  <LinkTo @route='preferences.profile' class='btn-edit-profile'>
                    {{t 'edit-label'}}
                  </LinkTo>
                {{/if}}
              </p>
            {{/if}}

            {{#if (or this.hasUsername this.hasJoinedTime)}}
              <p class='mt-2 mb-3'>
                {{#if this.hasUsername}}
                  <span class='username'>
                    @{{@model.profile.userName}}
                  </span>
                {{/if}}

                {{#if this.hasJoinedTime}}
                  <span class='joined-time'>
                    {{t
                      'member-since'
                      time=(format-date @model.profile.joinedTime)
                    }}
                  </span>
                {{/if}}
              </p>
            {{/if}}

            {{#if
              (or
                @model.profile.location.simple
                @model.profile.jobTitle
                @model.profile.organization
              )
            }}
              <div>
                {{#if @model.profile.location.simple}}
                  <FaIcon @icon='map-marker-alt' />
                  <span class='location me-2'>
                    {{@model.profile.location.simple}}
                  </span>
                {{/if}}

                <FaIcon @icon='briefcase' />
                <span class='job'>
                  {{#if
                    (and @model.profile.jobTitle @model.profile.organization)
                  }}
                    {{t
                      'job-title'
                      jobTitle=@model.profile.jobTitle
                      organization=@model.profile.organization
                    }}
                  {{else if @model.profile.jobTitle}}
                    {{@model.profile.jobTitle}}
                  {{else if @model.profile.organization}}
                    {{@model.profile.organization}}
                  {{/if}}
                </span>
              </div>
            {{/if}}

            <div class='link-list mt-2'>
              {{#if @model.profile.skype}}
                <a
                  href='skype:{{@model.profile.skype}}'
                  class='skype text-decoration-none m-1'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  <FaIcon @icon='skype' @prefix='fab' />
                </a>
              {{/if}}

              {{#if @model.profile.linkedin}}
                <a
                  href='https://www.linkedin.com/in/{{@model.profile.linkedin}}'
                  class='linkedin text-decoration-none m-1'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  <FaIcon @icon='linkedin' @prefix='fab' />
                </a>
              {{/if}}

              {{#if this.twitterHandle}}
                <a
                  href='https://twitter.com/@{{this.twitterHandle}}'
                  class='twitter text-decoration-none m-1'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  <FaIcon @icon='twitter' @prefix='fab' />
                </a>
              {{/if}}

              {{#if @model.profile.website}}
                <a
                  href={{@model.profile.website}}
                  class='website'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  {{@model.profile.website}}
                </a>
              {{/if}}
            </div>

            {{#if @model.profile.bio}}
              <div class='bio m-4'>
                <MarkDown @value={{@model.profile.bio}} />
              </div>
            {{/if}}
          </div>
        </div>

        <hr />
      </div>
    </div>

    {{#if this.isCalendarVisible}}
      <div class='row'>
        <div class='col text-center'>
          <Browse::Profile::Contributions
            @contributions={{@model.contributions}}
          />

          {{#unless @model.profile.showCalendarContributions}}
            <div class='contributions-calendar-hidden-message text-muted'>
              {{t 'hidden-contribution-calendar-message'}}
            </div>
          {{/unless}}
        </div>
      </div>
    {{/if}}

    <div class='row'>
      <div class='col view-browse'>
        {{#if @model.teams.length}}
          <h3 class='text-center mt-3'>
            {{capitalize (t 'member of')}}</h3>

          <div
            class='row justify-content-around row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 team-card-deck'
          >
            {{#each @model.teams as |team|}}
              <div class='col'>
                <Browse::Team::Card
                  @team={{team}}
                  @onClick={{this.navigateToTeam}}
                />
              </div>
            {{/each}}
          </div>
        {{else}}
          {{#if (eq this.user.id @model.profile.id)}}
            <p class='profile-team-message text-center'>
              {{t 'not-joined-a-team-you'}}
            </p>
          {{else}}
            <p class='profile-team-message text-center'>
              {{t 'not-joined-a-team-user' name=@model.profile.fullName}}
            </p>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>