<div class="input-group">
  <span class="input-group-text">Text</span>
  {{!-- template-lint-disable require-input-label --}}
  <Input @value={{this.text}} @type="text" class="form-control"{{on "focusin" this.focusIn}} {{on "focusout" this.focusOut}} placeholder="What is the license of this base map?" />
</div>

<div class="input-group mt-2">
  <span class="input-group-text">URL</span>
  {{!-- template-lint-disable require-input-label --}}
  <Input @value={{this.url}} @type="text" class="form-control" {{on "focusin" this.focusIn}} {{on "focusout" this.focusOut}} placeholder="What is the link to the license?" />
</div>