<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <div>
      {{#each @actions as |action| }}
        <button class="btn {{action.class}} btn-{{action.key}}" disabled={{this.isBusy}} type="button" {{on "click" (fn this.handleAction action.key)}}>
          {{#if (eq action.key this.currentAction)}}
            <FaIcon @icon="spinner" @spin={{true}} />
          {{else}}
            {{#if action.icon}}
              <FaIcon @icon={{action.icon}} />
            {{/if}}
          {{/if}}

          {{action.name}}
        </button>
      {{/each}}

      <div class="count-message d-inline-block {{if @actions.length "ms-2"}}">
        {{#if (eq @selected "all")}}
          {{t 'selection.allItems'}}
        {{else}}
          {{t 'selection.items' number=@selected.length}}
        {{/if}}

        {{#if (and @onClearSelection @selected.length)}}
          (<button class="btn btn-link btn-clear p-0" type="button" {{on "click" this.clearSelection}}>{{t "selection.clear"}}</button>)
        {{/if}}
      </div>
    </div>

    {{#if @onDelete}}
      <div class="delete-container">
        <button class="btn btn-danger btn-delete" type="submit" disabled={{this.isBusy}} {{on "click" this.handleDelete}}>
          {{#if this.isDeleting}}
            <FaIcon @icon="spinner" @spin={{true}} />
          {{else}}
            <FaIcon @icon="trash" />
          {{/if}}
          {{capitalize (t "delete")}}
        </button>
      </div>
    {{/if}}
  </div>
</nav>
