<Input::ContainerGroup
  @isMainValue={{true}}
  @title={{this.title}}
  @help={{@help}}
  @onSave={{this.save}}
  @onCancel={{this.cancel}}
  @onEdit={{@onEdit}}
  @disabled={{@disabled}}
  @editablePanel={{@editablePanel}}
  @savingPanel={{@savingPanel}}
  class='container-group-geometry'
  as |isEdit|
>
  {{#if isEdit}}
    <div class='row'>
      <div class='col-sm'>
        <div class='btn-group'>
          <button
            type='button'
            class='btn
              {{if
                (eq this.editMode "box")
                "btn-secondary"
                "btn-outline-secondary"
              }}'
            {{on 'click' (fn this.changeEditMode 'box')}}
          >
            {{capitalize (t 'rectangle')}}
          </button>
          <button
            type='button'
            class='btn
              {{if
                (eq this.editMode "free")
                "btn-secondary"
                "btn-outline-secondary"
              }}'
            {{on 'click' (fn this.changeEditMode 'free')}}
          >
            {{capitalize (t 'custom geometry')}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}

  <Input::Map::Area
    @baseMaps={{@baseMaps}}
    @value={{this.value}}
    @mode={{this.editMode}}
    @disabled={{not isEdit}}
    @onChange={{this.change}}
  />

</Input::ContainerGroup>