<div class="manage-card shadow" ...attributes>
  {{#if @onClick}}
    <button class="title btn" type="button" {{on "click" @onClick}}>
      {{@title}}
    </button>
  {{else}}
    <div class="title">
      {{@title}}
    </div>
  {{/if}}

  {{#if @hasOptions}}
    <div class="options">
      <Dropdown class="float-end">
        {{yield "options"}}
      </Dropdown>
    </div>
  {{/if}}
  <div class="labels">
    {{#if @label}}
      <div class="label">
        {{@label}}
      </div>
    {{/if}}
    {{#if @isPublic}}
      <span class="badge bg-success">
        {{t "visibility-public"}}
      </span>
    {{else}}
      <span class="badge bg-warning text-dark">
        {{t "visibility-private"}}
      </span>
    {{/if}}
  </div>
  {{yield "content"}}
</div>