<Input::ContainerGroup
  @isMainValue={{true}}
  @title='geometry'
  @onSave={{this.onSave}}
  @onCancel={{this.onCancel}}
  @onEdit={{this.onEdit}}
  @disabled={{@disabled}}
  @editablePanel={{@editablePanel}}
  @savingPanel={{@savingPanel}}
  class='container-group-geometry'
  ...attributes
  as |isEdit|
>
  <div class='manage-geometry flex-grow-1'>
    <Input::Geometry
      @icon={{@icon}}
      @extent={{@extent}}
      @baseMaps={{@baseMaps}}
      @value={{this.value}}
      @onChange={{this.change}}
      @disabled={{not isEdit}}
    />
  </div>
</Input::ContainerGroup>