<Input::ContainerGroup
  @isMainValue={{true}}
  @title={{@title}}
  @rawTitle={{@title}}
  @onSave={{this.save}}
  @onCancel={{@onCancel}}
  @onEdit={{@onEdit}}
  @editablePanel={{@editablePanel}}
  @savingPanel={{@savingPanel}}
  class='container-group-text'
  as |isEdit|
>
  <Layout @containers={{@layout}} @cols={{this.value}} as |col|>
    {{#if isEdit}}
      <Manage::PageCol @value={{col}} @onChange={{this.changeCol}} />
    {{else}}
      <PageCol::Preview @value={{col}} />
    {{/if}}
  </Layout>
</Input::ContainerGroup>