<div class="row row-save-cancel row-submit" ...attributes>
  <div class="col">
    <button type="button"
      class="btn {{if @useLinks "btn-link" "btn-primary"}} btn-submit {{if this.isDisabled "disabled"}}"
      role="button" {{on "click" this.saveModel}} disabled={{this.isDisabled}}>

      {{capitalize (t "save")}}
    </button>

    {{#if @onCancel}}
      <button type="button"
        class="float-end btn {{if @useLinks "btn-link text-secondary" "btn-secondary"}} btn-cancel {{if this.isDisabled "disabled"}}"
        disabled={{this.isDisabled}}
        role="button" {{on "click" this.cancelModel}} >

        {{capitalize (t "cancel")}}
      </button>
    {{/if}}
  </div>
</div>