<Input::ContainerGroup
  @isMainValue={{@isMainValue}}
  @title={{@title}}
  @rawTitle={{@title}}
  @onSave={{this.save}}
  @onCancel={{@onCancel}}
  @onEdit={{@onEdit}}
  @editablePanel={{@editablePanel}}
  @savingPanel={{@savingPanel}}
  class='container-group-text'
  as |isEdit|
>
  {{#if isEdit}}
    <Input::Select
      @value={{@value.id}}
      @list={{@list}}
      @onChange={{this.change}}
    />
  {{else}}
    {{#if (and (not @value) @emptyError)}}
      <div class='alert alert-info' role='alert'>
        {{@emptyError}}
      </div>
    {{else}}
      <p>{{@value.name}}</p>
    {{/if}}
  {{/if}}
</Input::ContainerGroup>