<Input::ContainerGroup
    @title={{@title}}

    @onSave={{this.save}}
    @onCancel={{@onCancel}}
    @onEdit={{@onEdit}}

    @editablePanel={{@editablePanel}}
    @savingPanel={{@savingPanel}}

    as |isEdit|
  >
    {{#if isEdit}}
      <Input::TextboxSuggestions
        @onChange={{this.onChange}}
        @value={{@value}}
        @list={{@list}}
      />
    {{else}}
      {{@value}}
    {{/if}}
  </Input::ContainerGroup>
