.basemaps-edit {
  .current-cover {
    width: 300px;
  }

  .map-preview {
    .controls {
      width: 300px;
      height: 300px;
    }

    .map {
      width: 300px;
      height: 300px;
    }
  }
}