.manage-card {
  background-color: $white;
  border-radius: $border-radius-lg;
  position: relative;

  .title {
    padding: $spacer * 0.7 $spacer;
    width: 100%;
    border: 0;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid $gray-200;
    background-color: transparent;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.btn {
      cursor: pointer;
      text-align: left;

      &:hover {
        background-color: $gray-100;
        color: $blue;
      }

      &:active {
        background-color: $blue-200;
        color: $dark;
      }
    }
  }

  .labels {
    padding: $spacer * 0.7 $spacer;
    font-size: 0;

    .badge,
    .label {
      font-size: 0.8rem;
    }

    .label {
      padding: $badge-padding-y * 0.5 0;
      font-weight: bold;
      float: right;
    }
  }

  .options {
    position: absolute;
    top: $spacer * 0.7;
    right: $spacer;
  }

  .btn-open-options {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: $white;

    &:hover {
      background-color: $gray-200;
      color: $blue;
    }

    &:active {
      background-color: $blue;
      color: $white;
    }
  }

  .description {
    background-color: $gray-100;
    padding: $spacer * 0.7 $spacer;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
    font-size: 0.9rem;
  }
}
