.manage-geometry {
  height: 450px;

  & > .col {
    display: flex;
    flex-direction: column;
  }

  .container-group {
    display: flex;
    flex-direction: column;

    .value {
      height: 500px;

      display: flex;
      flex-direction: column;
    }
  }
}