@mixin make-frame-col($size: false, $columns: $grid-columns) {
  @if $size {
    width: percentage(divide($size, $columns)) !important;
  }
}

.page-frame {
  margin-left: $spacer * 3;
  margin-right: $spacer * 1;
  margin-top: $spacer * 1;

  background-color: $white;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  max-width: 1500px;

  transition: all 1s ease-in-out;

  .page-frame-header {
    height: 40px;
    border-bottom: 1px solid $gray-200;
  }

  .page-col {
    min-height: 1rem;

    &.empty {
      background-image: linear-gradient(45deg,rgba($indigo-100,.65) 25%,transparent 25%,transparent 50%,rgba($indigo-100,.65) 50%,rgba($indigo-100,.65) 75%,transparent 75%,transparent);
      background-size: 0.3rem 0.3rem;
      text-align: center;
      color: $indigo-500;
    }
  }

  &.enforce-desktop-size {
    max-width: 1024px;
    min-width: 767px;
    margin-left: auto;
    margin-right: auto;
  }

  &.enforce-tablet-size {
    max-width: 768px;
    min-width: 577px;
    margin-left: auto;
    margin-right: auto;
  }

  &.enforce-mobile-size {
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
  }
}