{{#if @model.page}}
  {{page-title @model.page.name}}

  {{#if this.alertList}}
    <Manage::Row class='pt-5'>
      <AlertList @list={{this.alertList}} />
    </Manage::Row>
  {{/if}}

  <Layout
    @containers={{@model.layout.containers}}
    @containerOptions={{@model.page.containers}}
    @cols={{@model.page.cols}}
    as |col|
  >
    <PageCol::View @model={{@model}} @value={{col}} />
  </Layout>

  {{#if @model.page.canEdit}}
    <div class='page-controls'>
      <LinkTo
        @route='manage.pages.content'
        @model={{@model.page.id}}
        class='btn-edit-page btn btn-outline-success'
      >
        <FaIcon @icon='pen' />
        {{t 'edit page'}}
      </LinkTo>
    </div>
  {{/if}}
{{else}}
  {{page-title (t 'page-not-found.title')}}

  <div class='error d-flex h-100'>
    <div class='container justify-content-center align-self-center text-center'>
      <p class='text-info'>
        <FaIcon @icon='pizza-slice' @size='3x' />
      </p>

      <h1>
        {{t 'page-not-found.title'}}
      </h1>

      <p class='text-info'>
        {{t 'page-not-found.message'}}
      </p>

      <p class='text-muted'>
        {{t 'page-not-found.contact-admin'}}
      </p>
    </div>
  </div>
{{/if}}