.place-preview {
  border: 0;
  padding: $spacer;
  cursor: pointer;
  background-color: transparent;
  display: block;

  .place-icon {
    float: left;
    margin-right: $spacer * 0.5;

    img {
      width: 28px;
      height: 28px;
    }
  }

  & + & {
    border-top: 1px solid $gray-400;
  }

  &:hover {
    background-color: $gray-400;
  }

  &:active {
    background-color: $primary;
    color: $white;
  }
}
