.btn-layout-row {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;

  & * {
    transition: all .15s ease-in-out;
  }

  .plus-icon {
    fill: $primary;
  }

  .middle-line {
    fill: $primary;
    stroke: $primary;
  }

  .btn-frame {
    stroke: $primary;
    fill: $white;
  }

  &:hover {
    .plus-icon {
      fill: $white;
    }

    .btn-frame {
      fill: $primary;
    }
  }

  &:active {
    .plus-icon {
      fill: rgba($white, 0.7);
    }

    .btn-frame {
      fill: $primary;
    }
  }
}