<div class="card"...attributes>

  {{#if @header}}
    <div class="card-header">
      {{#if @icon}}
        <img class="group-icon me-2" src="{{@icon}}/lg" alt={{@header}}>
      {{/if}}

      {{#if this.hasIndex}}
        <span class="index">{{this.index}}.</span>
      {{/if}}

      {{@header}}
    </div>
  {{/if}}

  <ul class="list-group list-group-flush browse-attributes">
    {{#each this.value as |item|}}
      <li class="list-group-item">
        <h5>
          {{item.displayName}}
        </h5>
        <div class="value">
        {{#if (eq item.type "boolean")}}
          {{#if (or (eq item.value undefined) (eq item.value null))}}
            ---
          {{else if (eq item.value true)}}
            {{t "yes"}}
          {{else}}
            {{t "no"}}
          {{/if}}
        {{else if (eq item.type "link")}}
          <a href={{item.value}} target="_blank" rel="noopener noreferrer">
            {{item.value}}
          </a>
        {{else}}
          {{#if item.value}}
            {{item.value}}
          {{else}}
            ---
          {{/if}}
        {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
