<Fullscreen class="fullscreen-swiper-button" @isFullscreen={{this.isFullscreen}} @onFullScreen={{this.fullScreen}} @onFullscreenRequest={{this.fullscreenRequest}}>

  {{#if this.isFullscreen}}
    <Swiper @initialSlide={{@index}}>
      {{yield}}
    </Swiper>

    <button class="btn btn-dark btn-hide-gallery" type="button" {{on "click" this.disableFullScreen}}>
      <FaIcon @icon="compress-arrows-alt"/>
    </button>
  {{else}}
    <button class="btn btn-link btn-show-gallery" ...attributes type="button" {{on "click" this.enableFullScreen}}>
      {{#if @picture.picture}}
        <img src={{@picture.picture}} alt="" role="presentation" />
      {{/if}}

      {{#if @icon}}
        <FaIcon @icon={{@icon}}/>
      {{/if}}

      {{#if @text}}
        {{@text}}
      {{/if}}
    </button>
  {{/if}}
</Fullscreen>