<div class="license">
  {{#if @value.url}}
    <a href={{@value.url}} target="_blank" rel="noopener noreferrer">
      {{#if @value.name}}
        {{@value.name}}
      {{else}}
        {{capitalize (t "license")}}
      {{/if}}
    </a>
  {{else}}
    {{@value.name}}
  {{/if}}
</div>
