<th scope="row" class="name">
  <LinkTo @route={{@route}} @model={{@item.id}} class="text-decoration-none font-weight-bold text-dark p-0 ms-0 ps-0">
    {{@item.name}}
  </LinkTo>

  <VisibilityIcon @value={{@item.visibility.isPublic}} />
</th>

<td class="description">
  <Article::FirstParagraph @contentBlocks={{@item.contentBlocks}} />
</td>