<Input::Options::Frame
  class='manage-editors-map-view'
  @title={{capitalize (t 'maps options')}}
  {{did-insert this.setup}}
  ...attributes
>
  <div class='form-floating'>
    <Input::Select
      class='map-col-id'
      id='{{this.elementId}}-map-col-id'
      @list={{this.allItems}}
      @value={{this.selectedItem}}
      @onChange={{this.itemChanged}}
    />
    <label for='{{this.elementId}}-map-col-id'>{{capitalize (t 'map')}}</label>
  </div>
</Input::Options::Frame>