<LinkTo @route="manage.icons.editset" @model={{@iconSet.id}} class="dropdown-item dropdown-item-edit text-start">
  <FaIcon @icon="pencil-alt" /> {{capitalize (t "edit")}}
</LinkTo>

{{#if @onDelete}}
  <div class="dropdown-divider"></div>
  <Manage::DeleteButton
      class="dropdown-item dropdown-item-delete text-start btn-delete text-danger"
      @onDelete={{fn @onDelete @iconSet}}
      @modelName="icon-set"
      @name={{@iconSet.name}}
    />
{{/if}}