{{yield}}

{{#if @section.isCardDeck}}
  <Browse::IconSet::Card @iconSet={{@section.item}} @onDelete={{@actions.delete}}/>
{{/if}}

{{#if @section.isRow}}
  <Browse::ModelTableRow @route="browse.icons.set" @item={{@section.item}}/>
{{/if}}

{{#if @section.isOtherOptions}}
  <Browse::IconSet::Options @iconSet={{@section.item}}/>
{{/if}}
