{{page-title (capitalize (t "new team"))}}

{{#if this.model}}
<Manage::Container>
  <Manage::Header @title={{capitalize (t "new team")}} />

  <Manage::Row @name="name">
    <h3>{{capitalize (t "name")}}</h3>

    {{!-- template-lint-disable require-input-label --}}
    <Input
      class="form-control"
      @value={{this.model.name}}
      placeholder={{capitalize (t "what is team name?")}} />
  </Manage::Row>

  <Manage::Row @name="about">
    <h3>{{capitalize (t "about")}}</h3>

    <Article::Editor @value={{this.description}} @onChange={{this.changeAboutValue}} @allowNoHeading={{true}} class="article-with-borders" />
  </Manage::Row>

  <Manage::Row @name="submit">
    <button type="button" class="btn btn-primary btn-submit {{if (or this.model.isSaving this.isInvalid) "disabled"}}" {{action "save"}} role="button" disabled={{or this.model.isSaving this.isInvalid}}>
      {{#if @model.isSaving}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{/if}}

      {{capitalize (t "add")}}
    </button>
  </Manage::Row>
</Manage::Container>
{{/if}}