{{page-title this.model.name " | " (capitalize (t "edit-label")) }}

<Manage::SideBar>
  <Manage::Toggle
    @title={{t "is public"}}
    @id={{"toggle-is-public"}}
    @disabled={{this.fastboot.isFastBoot}}
    @value={{this.model.isPublic}}
    @onSave={{action "saveIsPublic"}}
    @savingField={{this.savingField}}
  />

  <div class="bottom pb-3 text-center">
    <Manage::SideBarGroup>
      <Manage::DeleteButton
          @onDelete={{this.delete}}
          @modelName="team"
          @name={{this.model.name}}
        />
    </Manage::SideBarGroup>
  </div>
</Manage::SideBar>

<Manage::Container>
  <Manage::Header @title={{capitalize (t "edit team")}}>
    <Breadcrumbs @value={{this.breadcrumbs}} />

    <Manage::Toolbar>
      <LinkTo @route="browse.teams.team" @model={{@model.id}} class="btn btn-secondary">
        <FaIcon @icon="eye"/>
      </LinkTo>
    </Manage::Toolbar>
  </Manage::Header>


  <Manage::Row @name="article">
    <Article::Manage @value={{@model.contentBlocks}} @onPublish={{this.saveArticle}} class="mb-3"/>
  </Manage::Row>

  <hr>

  <Manage::Row @name="logo">
    <div class="container-group">
      <h2 class="capitalize-first-letter title">
        {{t "logo"}}
      </h2>
      <div class="form-group mt-2">
        <Input::PictureAuto
            @createImage={{this.createImage}}
            @value={{this.model.logo}}
            @save={{this.saveLogo}}
          />
      </div>
    </div>
  </Manage::Row>

  <Manage::Row  @name="gallery">
    <div class="container-group">
      <h2 class="capitalize-first-letter title">
        {{t "gallery"}}
      </h2>

      <div class="mt-3 mb-5">
        <Input::ImageList
          @value={{this.model.pictures}}
          @onChange={{this.updatePictures}}
          @onImageChange={{this.imageChange}}
          @createImage={{this.createImage}} />
      </div>
    </div>
  </Manage::Row>

  <Manage::Row @name="members">
    <div class="container-group">
      <h2 class="capitalize-first-letter title">
        {{t "members"}}
      </h2>

      <h3 class="pt-2 capitalize-first-letter">{{t "add"}}</h3>

      <div class="row g-1">
        <div class="col-6">
          <PowerSelectMultiple
            @searchEnabled={{true}}
            @search={{this.searchUsers}}
            @selected={{this.selectedUsers}}
            placeholder={{capitalize (t "select users that you want to add...")}}
            @onChange={{this.selectedUsersChanged}}
            as |user|
          >
            {{user.email}}
          </PowerSelectMultiple>
        </div>
        <div class="col-auto">
          {{!-- template-lint-disable require-input-label --}}
          <select {{on "change" this.selectNewRole}} class="form-select">
            {{#each this.roleList as |role|}}
              <option value={{role}} selected={{eq this.newRole role}}>{{t role}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success" disabled={{eq 0 this.selectedUsers.length}} {{on "click" this.addUsers}}>
            <FaIcon @icon="plus" /> {{capitalize (t "add to team")}}
          </button>
        </div>
      </div>

      <h3 class="pt-5 title capitalize-first-letter">{{t "existing"}}</h3>
      <Manage::MemberTable @members={{this.members}} @requestProfile={{this.requestProfile}} @updateRole={{this.updateRole}} @onRemove={{this.remove}} />
    </div>
  </Manage::Row>
</Manage::Container>
