{{page-title (capitalize (t "all teams"))}}

<Manage::Container>
  <Manage::Header @title={{capitalize (t "all teams")}}>
    <Filters::Bar>
      <Filters::Search @class="ms-auto" @value={{this.search}} @hasSuggestions={{or this.teamSuggestions.length this.searchStorage.history.length}} @isSearching={{this.isSearching}} @onSearch={{this.performSearch}} @onType={{this.findSuggestions}}>
        {{#if this.teamSuggestions.length}}
          <Filters::OptionList @title={{t "suggestions"}} @onSelect={{this.performSearch}} @values={{this.teamSuggestions}} />
        {{/if}}

        {{#if this.searchStorage.history.length}}
          <Filters::OptionList @title={{t "recent searches"}} @onSelect={{this.performSearch}} @values={{this.searchStorage.history}} />
        {{/if}}
      </Filters::Search>
    </Filters::Bar>
  </Manage::Header>

  <div class="row mt-3">
    <div class="col team-buckets">
      <Manage::List
          @isEditable={{true}}
          @viewMode="list"
          @columns={{@model.buckets.columns}}
          @header={{concat (t "name") "," (t "about") "," (t "is public") "," (t "owners") "," (t "leaders") "," (t "members") "," (t "guests") }}
          @onDelete={{this.delete}} as |section|
        >
        {{#if section.isHeader}}
          <LinkTo @route="manage.dashboards.index" @model={{section.item.id}} class="text-decoration-none font-weight-bold text-dark p-0 ms-0 ps-0">
            {{section.item.name}}
          </LinkTo>
        {{/if}}

        {{#if section.isOtherOptions}}
          <LinkTo @route="manage.teams.edit" @model={{section.item.id}} class="dropdown-item">
            <FaIcon @icon="pencil-alt" /> {{capitalize (t "edit-label")}}
          </LinkTo>
        {{/if}}

        {{#if section.isBody}}
          {{#if section.item.about}}
            <Article::FirstParagraph @contentBlocks={{section.item.contentBlocks}} />
          {{else}}
            <p>{{capitalize (t "there is no description")}}</p>
          {{/if}}
        {{/if}}

        {{#if section.isRow}}
          <th scope="row">
             <LinkTo @route="manage.dashboards.dashboard" @model={{section.item.id}} class="text-decoration-none font-weight-bold text-dark p-0 ms-0 ps-0">
              {{section.item.name}}
            </LinkTo>
          </th>
          <td>
            <Article::FirstParagraph @contentBlocks={{section.item.contentBlocks}} />
          </td>
          <td>{{section.item.isPublic}}</td>
          <td>{{section.item.owners.length}}</td>
          <td>{{section.item.leaders.length}}</td>
          <td>{{section.item.members.length}}</td>
          <td>{{section.item.guests.length}}</td>
        {{/if}}
      </Manage::List>
    </div>
  </div>

  {{#if @model.buckets.loadedAny}}
    <InfinityLoader @infinityModel={{@model.buckets}} @hideOnInfinity={{true}} @triggerOffset={{400}} @eventDebounce={{50}}>
      <div class="text-center pb-5">
        <FaIcon @icon="spinner" @spin={{true}} />
      </div>
    </InfinityLoader>
  {{/if}}
</Manage::Container>
