.article {
  p, li, .ce-paragraph {
    color: $gray-800;
    font-size: 1.2rem;

    b, i {
      color: $gray-900;
    }
  }

  p, .ce-paragraph {
    margin-bottom: $paragraph-margin-bottom;
  }

  .ce-header {
    margin-bottom: $headings-margin-bottom;
    margin-top: 0;
    padding: 0;
    line-height: $headings-line-height;
  }

  h1, h1.ce-header{
    margin-top: $spacer * 3;
    font-weight: bold;
  }

  h2, h3, h4, h5 {
    margin-top: $spacer * 2;
    font-weight: bold;
  }

  h6 {
    margin-top: $spacer;
    font-weight: bold;
  }

  .cdx-block.cdx-quote, .blockquote {
    margin: $spacer * 3 0;
  }

  .ce-delimiter {
    line-height: $line-height-lg * 2;
    width: 100%;
    text-align: center;

    &::before {
      display: inline-block;
      content: "***";
      font-size: $font-size-base * 3;
      letter-spacing: 0.2em;
      color: $gray-800;
    }
  }

  .embed, .ce-block.is-embed {
    margin: $spacer $spacer $spacer 0;
    width: 45%;
    display: inline-block;

    iframe {
      height: 294px;
    }

    @media screen and (min-width: $break-small) {
      & {
        width: 40%;
      }
    }

    @media screen and (min-width: $break-extra-small+1) and (max-width: $break-small) {
      & {
        margin: $spacer;
        width: 100%;
      }
    }

    iframe {
      width: 100%;
      height: 294px;
    }
  }
}