<div class="card place-preview" ...attributes {{on "click" this.onClick}}>

  {{#if (and @place.icons.firstObject)}}
    <div class="place-icon">
      <Icon @src={{@place.icons.firstObject}} />
    </div>
  {{/if}}

  <div class="place-name">
    {{@place.name}}
  </div>
</div>
