.view-campaigns {

  .card .cover {
    height: 300px;
    background-repeat: no-repeat;
  }

  @include media-breakpoint-up(sm) {
    .card {
      justify-content: space-around;

      .cover {
        height: 350px;
        max-width: 270px;
      }
    }

    .card {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 45%;
      margin: 0;
      margin-bottom: $spacer * 3;
    }
  }

  @include media-breakpoint-up(md) {
    .card {
      flex-basis: 30%;
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      flex-basis: 23%;
    }
  }

}