.view-campaigns .container > .card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.campaign-card {
  border: 0;
  background-color: transparent;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 45%;

  .cover {
    border-radius: $border-radius-lg;
    position: relative;
    cursor: pointer;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
  }

  .dropdown-menu {
    top: $spacer * 0.5;
    left: auto;
    right: $spacer * 1.3;
  }
}
