<Map::Layer::Vector
  @style={{this.featureStyle}}
  @map={{@map}}
  as |vector source|
>
  {{#if (and this.isPoint @value)}}
    {{#if @icon}}
      <Map::Features::Geojson::Point @source={{source}} @value={{@value}} />
    {{else}}
      <Map::Features::Geojson::Point @source={{source}} @value={{@value}} />
    {{/if}}
  {{/if}}

  {{#if this.isLine}}
    {{#if @icon}}
      <Map::Features::Geojson::Line @source={{source}} @value={{@value}} />
    {{else}}
      <Map::Features::Geojson::Line @source={{source}} @value={{@value}} />
    {{/if}}
  {{/if}}

  {{#if this.isMultiLine}}
    <Map::Features::Geojson::MultiLine @source={{source}} @value={{@value}} />
  {{/if}}

  {{#if this.isPolygon}}
    {{#if @icon}}
      <Map::Features::Geojson::Polygon @source={{source}} @value={{@value}} />
    {{else}}
      <Map::Features::Geojson::Polygon @source={{source}} @value={{@value}} />
    {{/if}}
  {{/if}}

  {{#if this.isMultiPolygon}}
    {{#if @icon}}
      <Map::Features::Geojson::MultiPolygon
        @source={{source}}
        @value={{@value}}
      />
    {{else}}
      <Map::Features::Geojson::MultiPolygon
        @source={{source}}
        @value={{@value}}
      />
    {{/if}}
  {{/if}}
</Map::Layer::Vector>