<div
  class='map ol-map-plain {{if this.disabled "disabled"}}'
  {{did-insert this.setupMapElement}}
  {{did-update this.updateInteractions @disabled}}
>
  {{#if this.map}}
    <div class='map-inner'>
      {{yield this.map}}
    </div>
  {{/if}}
</div>