{{page-title @model.page.name}}

<Manage::PageColSheet
  @options={{this.options}}
  @type={{this.selectedCol.type}}
  @show={{if this.selectedCol true}}
  @title={{this.selectedCustomField}}
  @value={{this.selectedCol}}
  @onChange={{this.changeCol}}
  @onHide={{fn this.selectCol null}}
  @allowTypeChange={{true}}
/>

<Offcanvas
  @show={{or this.configurePage this.pageContainer}}
  @onHide={{this.hideOfCanvas}}
>
  {{#if this.configurePage}}
    <Input::Options::PageOptions
      class='page-options-sheet'
      @page={{@model.page}}
      @layouts={{@model.layouts}}
    />
  {{/if}}

  {{#if this.pageContainer}}
    <Input::Options::ContainerBackgroundOptions
      class='container-options-sheet'
      @value={{this.pageContainer}}
      @onChange={{this.changeContainer}}
    />
  {{/if}}
</Offcanvas>

<Manage::PageFrame class={{this.deviceSizeClass}} as |isHeader|>
  {{#if isHeader}}
    <div class='d-inline-block m-1 ms-3 text-secondary'>
      <div class='btn-group' role='group'>
        <button
          type='button'
          class='btn btn-sm btn-light page-name'
          disabled
        >{{@model.page.name}}</button>

        <Input::Button
          type='button'
          class='btn btn-sm btn-outline-secondary btn-config-page'
          @action={{this.configPage}}
        >
          <FaIcon @icon='cog' />
        </Input::Button>
      </div>

      <LinkTo
        class='btn btn-sm btn-outline-secondary ms-2 btn-show-layout'
        @route='manage.pages.layout'
        @model={{@model.page.id}}
      >
        {{capitalize (t 'edit layout')}}
      </LinkTo>
    </div>

    <Input::Layout::DeviceSize
      @value={{this.deviceSize}}
      @onChange={{this.changeDeviceSize}}
    />

    <div class='btn-group float-end m-1 me-3'>
      <Input::Button
        class='btn btn-sm btn-outline-primary btn-save'
        @action={{this.saveContent}}
      >
        {{t 'save'}}
      </Input::Button>

      <Dropdown
        @isDropdownToggle={{true}}
        @toggleClass='btn-sm btn-outline-primary'
      >
        <Input::Button
          class='dropdown-item btn-copy-page'
          @action={{this.cloneContent}}
        >
          {{t 'save as a new copy'}}
        </Input::Button>
      </Dropdown>
    </div>

    <div class='float-end m-1 me-3'>
      <button
        type='button'
        class='btn btn-sm btn-light btn-config-layout page-visibility'
        disabled
      >
        {{#if @model.page.visibility.isPublic}}
          {{t 'visibility-public'}}
        {{else}}
          {{t 'visibility-private'}}
        {{/if}}
        <VisibilityIcon @value={{@model.page.visibility.isPublic}} />
      </button>
    </div>
  {{else}}
    {{#unless @model.page.layout.containers}}
      <div class='p-3 text-center empty-layout'>
        <p>{{t 'message-empty-layout'}}</p>
        <LinkTo
          class='btn btn-sm btn-outline-primary ms-2 btn-show-layout'
          @route='manage.pages.layout'
          @model={{@model.page.id}}
        >
          {{capitalize (t 'edit layout')}}
        </LinkTo>
      </div>
    {{/unless}}

    <Layout
      @containers={{@model.page.layout.containers}}
      @containerOptions={{@model.page.containers}}
      @cols={{@model.page.cols}}
      @selectable={{true}}
      @onSelect={{this.selectCol}}
      @onConfigContainer={{this.selectContainer}}
      as |col|
    >
      <PageCol::View
        @model={{@model}}
        @value={{col}}
        @deviceSize={{this.deviceSize}}
        @isEditor={{true}}
      />
    </Layout>
  {{/if}}
</Manage::PageFrame>