{{page-title @model.page.name ' | ' (capitalize (t 'edit'))}}

{{#if this.fastboot.isFastBoot}}
  <LoadingContainer />
{{else}}
  <Manage::SideBar>
    <Manage::Visibility
      @model={{this.editableModel}}
      @teams={{@model.teams}}
      @hasIsDefault={{false}}
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @isAdmin={{this.user.isAdmin}}
      @areAllShowing={{this.allTeams}}
      @onChangeAll={{this.changeAll}}
      @saveIsPublic={{this.saveIsPublic}}
      @saveIsDefault={{this.saveIsDefault}}
      @saveTeam={{this.saveTeam}}
      @onEdit={{this.edit}}
      @onCancel={{this.cancel}}
    />

    <Manage::ModelInfo
      @editablePanel={{this.editableField}}
      @savingPanel={{this.savingField}}
      @model={{@model.page}}
      @disabled={{this.disabled}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @onEdit={{this.edit}}
    />
  </Manage::SideBar>

  <Manage::Container>
    <Manage::Header @title={{capitalize (t 'edit page')}} />

    <Manage::Row @name='name'>
      <Input::Manage::Text
        @title={{capitalize (t 'name')}}
        @isMainValue={{true}}
        @value={{@model.page.name}}
        placeholder={{capitalize (t 'what is the page name?')}}
        @emptyError={{capitalize (t 'this page has no name')}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{fn this.saveField 'name'}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    <Manage::Row @name='slug'>
      <Input::Manage::Text
        @title={{capitalize (t 'slug')}}
        @isMainValue={{true}}
        @value={{@model.page.slug}}
        placeholder={{capitalize (t 'what is the page slug?')}}
        @emptyError={{capitalize (t 'this page has no slug')}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{fn this.saveField 'slug'}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    <Manage::Row @name='layout'>
      <Manage::SelectRecord
        @title={{capitalize (t 'layout')}}
        @isMainValue={{true}}
        @value={{@model.page.layout}}
        @list={{@model.layouts}}
        @emptyError={{capitalize (t 'this page has no layout')}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{fn this.saveField 'layout'}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

    <Manage::Row @name='content'>
      <Manage::LayoutContent
        @title={{capitalize (t 'content')}}
        @isMainValue={{true}}
        @layout={{@model.page.layout.containers}}
        @value={{@model.page.cols}}
        @editablePanel={{this.editableField}}
        @savingPanel={{this.savingField}}
        @onSave={{fn this.saveField 'cols'}}
        @onEdit={{this.edit}}
        @onCancel={{this.cancel}}
      />
    </Manage::Row>

  </Manage::Container>
{{/if}}