{{page-title this.layout.name ' | ' @model.page.name}}

<Offcanvas
  @show={{or
    this.selectedCol
    this.selectedRow
    this.selectedContainer
    this.configureLayout
  }}
  @onHide={{this.hideOfCanvas}}
>
  {{#if this.configureLayout}}
    <Input::Options::LayoutOptions
      class='layout-options-sheet'
      @layout={{this.layout}}
    />
  {{/if}}

  {{#if this.selectedCol}}
    <Input::Options::ColOptions
      class='col-options-sheet'
      @col={{this.selectedCol}}
      @onChangeOptions={{this.changeColOptions}}
    />
  {{/if}}

  {{#if this.selectedRow}}
    <Input::Options::RowOptions
      class='row-options-sheet'
      @row={{this.selectedRow}}
      @onChangeOptions={{this.changeRowOptions}}
    />
  {{/if}}

  {{#if this.selectedContainer}}
    <Input::Options::ContainerOptions
      class='container-options-sheet'
      @container={{this.selectedContainer}}
      @onChangeOptions={{this.changeContainerOptions}}
    />
  {{/if}}

</Offcanvas>

<Manage::PageFrame class={{this.deviceSizeClass}} as |isHeader|>
  {{#if isHeader}}
    <div class='d-inline-block m-1 ms-3 text-secondary'>
      <div class='btn-group' role='group'>
        <button
          type='button'
          class='btn btn-sm btn-light layout-name'
          disabled
        >{{this.layout.name}}</button>

        <Input::Button
          type='button'
          class='btn btn-sm btn-outline-secondary btn-config-layout'
          @action={{this.configLayout}}
        >
          <FaIcon @icon='cog' />
        </Input::Button>
      </div>

      <LinkTo
        class='btn btn-sm btn-outline-secondary ms-2 btn-show-content'
        @route='manage.pages.content'
        @model={{@model.page.id}}
      >
        {{capitalize (t 'edit content')}}
      </LinkTo>
    </div>

    <Input::Layout::DeviceSize
      @value={{this.deviceSize}}
      @onChange={{this.changeDeviceSize}}
    />

    <div class='btn-group float-end m-1 me-3'>
      <Input::Button
        class='btn btn-sm btn-outline-primary btn-save'
        @action={{this.saveLayout}}
      >
        {{t 'save'}}
      </Input::Button>

      <Dropdown
        @isDropdownToggle={{true}}
        @toggleClass='btn-sm btn-outline-primary'
      >
        <Input::Button
          class='dropdown-item btn-copy-layout'
          @action={{this.cloneLayout}}
        >
          {{t 'save as a new copy'}}
        </Input::Button>
      </Dropdown>
    </div>
  {{else}}
    <Input::Layout::Containers
      @size={{this.deviceSize}}
      @containers={{this.containers}}
      @onLayoutChange={{this.layoutChange}}
      @onColSelect={{this.onColSelect}}
      @onRowEdit={{this.onRowEdit}}
      @onContainerEdit={{this.onContainerEdit}}
    />
  {{/if}}
</Manage::PageFrame>