{{page-title (capitalize (t "new feature")) }}

{{#if @model}}
  <Manage::Container>
    <Manage::Header @title={{capitalize (t "new feature")}} />

    <Manage::Row @name="name">
      <h5 class="mt-4 capitalize-first-letter">{{t "name"}}</h5>
      {{!-- template-lint-disable require-input-label --}}
      <Input
        class="form-control input-name"
        @value={{@model.feature.name}}
        placeholder={{capitalize (t "what is the feature name?")}} />
    </Manage::Row>

    <Manage::Row @name="map">
      <h5 class="mt-4 capitalize-first-letter">{{t "map"}}</h5>

      {{#if this.user.isAdmin}}
        <Input::Manage::SelectWithVisibility
          @list={{@model.maps}}
          @value={{@model.feature.maps.firstObject}}
          @onChange={{this.updateMap}}
          @areAllShowing={{this.all}}
          @toggleAll={{this.toggleAll}} />
      {{else}}
        <Input::Select @list={{this.model.maps}} @value={{this.map}} @onChange={{this.updateMap}} />
      {{/if}}
    </Manage::Row>

    <Manage::Row @name="geometry" class="manage-geometry">
      <h5 class="mt-4 capitalize-first-letter">{{t "geometry"}}</h5>
      <Input::Geometry
          @extent={{this.extent}}
          @baseMaps={{@model.baseMaps}}
          @value={{@model.feature.position}}
          @onChange={{this.changePositionValue}}
        />
    </Manage::Row>

    <Manage::Row @name="add">
      <Input::Button class="btn btn-primary btn-submit" disabled={{this.isInvalid}} @action={{this.save}}>
        {{capitalize (t "add")}}
      </Input::Button>
    </Manage::Row>
  </Manage::Container>
{{else}}
  <LoadingContainer />
{{/if}}
