{{page-title (capitalize (t 'new page'))}}

{{#if @model}}
  <Manage::Container>
    <Manage::Header @title={{capitalize (t 'new page')}} />

    {{#unless @model.teams}}
      <Manage::Row>
        <div class='alert alert-danger' role='alert'>
          <p>{{capitalize (t 'team-needed-message')}}</p>
          <LinkTo
            @route='manage.teams.add'
            @query={{hash next='add.page'}}
            class='btn btn-secondary btn btn-add-team'
          >
            <FaIcon @icon='plus' />
            {{capitalize (t 'team')}}
          </LinkTo>
        </div>
      </Manage::Row>
    {{/unless}}

    <Manage::Row @name='name'>
      <h3 class='mt-4'>{{capitalize (t 'name')}}</h3>
      {{! template-lint-disable require-input-label }}
      <Input
        class='form-control input-name'
        @value={{@model.page.name}}
        placeholder={{capitalize (t 'what is the page name?')}}
      />
    </Manage::Row>

    <Manage::Row @name='slug'>
      <h3 class='mt-4'>{{capitalize (t 'slug')}}</h3>
      {{! template-lint-disable require-input-label }}
      <Input
        class='form-control input-slug'
        @value={{@model.page.slug}}
        placeholder={{capitalize (t 'what is the page slug?')}}
      />
    </Manage::Row>

    <Manage::Row @name='team'>
      <h3 class='mt-4'>{{capitalize (t 'team')}}</h3>
      {{#if @model.teams}}
        {{#if this.user.isAdmin}}
          <Input::Manage::SelectWithVisibility
            @list={{@model.teams}}
            @value={{@model.page.visibility.team}}
            @onChange={{fn this.change 'visibility.team'}}
            @areAllShowing={{this.all}}
            @toggleAll={{this.toggleAll}}
          />
        {{else}}
          <Input::Select
            @list={{@model.teams}}
            @value={{@model.page.visibility.team}}
            @onChange={{fn this.change 'visibility.team'}}
          />
        {{/if}}
      {{else}}
        <LinkTo
          @route='manage.teams.add'
          @query={{hash next='add.page'}}
          class='btn btn-secondary btn btn-add-team'
        >
          <FaIcon @icon='plus' />
          {{capitalize (t 'team')}}
        </LinkTo>
      {{/if}}
    </Manage::Row>

    <Manage::Row @name='add'>
      <button
        type='button'
        class='btn btn-primary btn-submit'
        {{on 'click' this.save}}
        disabled={{not this.canSubmit}}
        role='button'
      >
        {{#if this.model.page.isSaving}}
          <FaIcon @icon='spinner' @spin={{true}} />
        {{/if}}

        {{capitalize (t 'add')}}
      </button>
    </Manage::Row>
  </Manage::Container>
{{/if}}