<div class="container">
  <div class="row">
    <div class="col mt-5">

      <h1>{{t "feature-success-title"}}</h1>
      <p>{{t "feature-success-message"}}</p>

      {{#if @model.map.name}}
        <LinkTo @route="browse.maps.map-view" @model={{@model.map.id}} class="btn btn-success btn-go-to-map">
          {{capitalize (t "back to" destination=@model.map.name)}}
        </LinkTo>
      {{else}}

        <LinkTo @route="browse.maps.map-view" @model="_" class="btn btn-success btn-go-to-homepage">
          {{capitalize (t "go to homepage")}}
        </LinkTo>
      {{/if}}

      {{#if @model.feature}}
        <LinkTo @route="browse.sites.site" @model={{@model.feature.id}} class="btn btn-success btn-go-to-site">
          {{capitalize (t "view site")}}
        </LinkTo>
      {{else}}
        <LinkTo @route="add.site" class="btn btn-success btn-go-to-propose-site">
          {{capitalize (t "add another site")}}
        </LinkTo>
      {{/if}}
    </div>
  </div>
</div>