{{page-title (capitalize (t 'propose a site'))}}

{{#if @model}}
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <div class='pt-4 pb-5'>
          <h1 class='capitalize-first-letter'>{{t 'propose a site'}}</h1>

          {{#if this.pendingData.status.isRestored}}
            <div class='alert alert-info' role='alert'>
              <h4 class='alert-heading capitalize-first-letter'>{{t
                  'restored_site_alert_title'
                }}</h4>
              <p>
                {{t 'restored_site_alert_message'}}
              </p>

              <button
                type='button'
                class='btn btn-secondary btn-reset capitalize-first-letter'
                {{on 'click' this.reset}}
              >
                {{t 'reset'}}
              </button>
            </div>
          {{/if}}

          {{#if this.pendingData.status.isCorrupted}}
            <div
              class='alert alert-danger alert-dismissible fade show'
              role='alert'
            >
              {{t 'failed_restored_site_alert_message'}}

              <button
                type='button'
                class='btn-close'
                data-dismiss='alert'
                aria-label='Close'
              ></button>
            </div>
          {{/if}}

          <Attributes::Form
            @loadingList={{this.loadingList}}
            @areMapsLoading={{this.areMapsLoading}}
            @areIconsLoading={{this.areIconsLoading}}
            @feature={{@model.feature}}
            @defaultBaseMaps={{@model.defaultBaseMaps}}
            @maps={{this.maps}}
            @icons={{this.iconGroup}}
            @onChange={{this.change}}
            @onSearchGeocoding={{this.searchGeocoding}}
            @changePosition={{this.changePosition}}
            @searchResults={{this.geocodingSearch.results}}
            as |group isSmall|
          >
            <Attributes::GroupContainer
              @maps={{this.maps}}
              @icons={{this.iconGroup}}
              @group={{group}}
              @isSmall={{isSmall}}
              @onChange={{this.change}}
              @remove={{this.remove}}
              @addSection={{this.addSection}}
            />
          </Attributes::Form>

          <div class='text-center'>
            <button
              type='button'
              class='btn mt-4 mb-4
                {{if this.isError 'btn-danger' 'btn-primary'}}
                btn-lg btn-submit capitalize-first-letter'
              disabled={{or this.isSaving this.isEmpty this.isDisabled}}
              {{on 'click' this.submit}}
            >
              {{#if this.isSaving}}
                <FaIcon @icon='spinner' @spin={{true}} />
              {{else}}
                {{t 'submit'}}
              {{/if}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}