{{page-title (capitalize (t 'your API tokens'))}}

{{#if this.model.tokens.length}}
  <h2>
    {{#if this.model.isAdmin}}
      <span
        class='small admin-icon'
        data-toggle='tooltip'
        data-placement='top'
        title='Administrator'
      >
        <FaIcon @icon='user-tie' />
      </span>
    {{/if}}

    {{capitalize (t 'your API tokens')}}
  </h2>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>{{capitalize (t 'name')}}</th>
        <th scope='col'>{{capitalize (t 'created on')}}</th>
        <th scope='col'>{{capitalize (t 'expires on')}}</th>
        <th scope='col'>{{capitalize (t 'scope')}}</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.tokens as |token|}}
        <tr>
          <th scope='row'>{{token.name}}</th>
          <td>{{format-date token.created}}</td>
          <td>{{format-date token.expire}}</td>
          <td>{{token.scopes}}</td>
          <td>
            <button
              type='button'
              class='ms-2 btn btn-danger'
              disabled={{token.isLoading}}
              {{on 'click' (fn this.revoke token)}}
            >
              {{#if token.isLoading}}
                <FaIcon @icon='spinner' @spin={{true}} />
              {{else}}
                <FaIcon @icon='trash' />
              {{/if}}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

<h2 class='{{if this.model.tokens.length 'pt-5'}} capitalize-first-letter'>
  {{t 'create a new API token'}}
</h2>

<div class='mb-5'>
  {{#if this.newToken}}
    <div class='pb-5'>
      <div class='form-group mb-3'>
        <label for='tokenName'>{{capitalize (t 'your api token')}}</label>
        <Input
          id='tokenName'
          @value={{this.newToken}}
          class='form-control'
          readonly='true'
        />
        <small class='form-text text-danger'>
          {{t 'new-token-confirm-message'}}
        </small>
      </div>

      <button
        type='button'
        class='btn btn-success btn-done'
        {{on 'click' this.clearToken}}
      >
        {{capitalize (t 'done')}}
      </button>
    </div>
  {{else}}
    <div class='form-group mb-3'>
      <label for='tokenName'>{{capitalize (t 'name')}}</label>
      <Input
        id='tokenName'
        @value={{this.name}}
        class='form-control'
        placeholder={{capitalize (t 'enter the token name')}}
      />
      <small class='form-text text-muted'>
        {{t 'new-token-message'}}
      </small>
    </div>

    <div class='form-group mb-3'>
      <label>{{capitalize (t 'expire date')}}</label>

      <Input::Date
        @allowUnset={{false}}
        @value={{this.expire}}
        @onChange={{this.updateDate}}
      />
      <small class='form-text text-muted'>
        {{t 'new-token-expire-message'}}
      </small>
    </div>

    <Input::Button
      disabled={{this.isDisabled}}
      type='button'
      class='btn btn-primary btn-submit'
      @action={{this.createToken}}
    >
      {{capitalize (t 'create')}}
    </Input::Button>
  {{/if}}
</div>